<template>

    <div id="feeds">
        <FeedItem ref="feedtwitter" class="feed-twitter">
            <template slot="feed_trigger">
				<svg class="me-3" xmlns="http://www.w3.org/2000/svg" fill="#fff" viewBox="0 0 30 30" width="30px" height="30px">    
					<path d="M28,6.937c-0.957,0.425-1.985,0.711-3.064,0.84c1.102-0.66,1.947-1.705,2.345-2.951c-1.03,0.611-2.172,1.055-3.388,1.295 c-0.973-1.037-2.359-1.685-3.893-1.685c-2.946,0-5.334,2.389-5.334,5.334c0,0.418,0.048,0.826,0.138,1.215 c-4.433-0.222-8.363-2.346-10.995-5.574C3.351,6.199,3.088,7.115,3.088,8.094c0,1.85,0.941,3.483,2.372,4.439 c-0.874-0.028-1.697-0.268-2.416-0.667c0,0.023,0,0.044,0,0.067c0,2.585,1.838,4.741,4.279,5.23 c-0.447,0.122-0.919,0.187-1.406,0.187c-0.343,0-0.678-0.034-1.003-0.095c0.679,2.119,2.649,3.662,4.983,3.705 c-1.825,1.431-4.125,2.284-6.625,2.284c-0.43,0-0.855-0.025-1.273-0.075c2.361,1.513,5.164,2.396,8.177,2.396 c9.812,0,15.176-8.128,15.176-15.177c0-0.231-0.005-0.461-0.015-0.69C26.38,8.945,27.285,8.006,28,6.937z"/>
				</svg>
                <span>Twitter</span>
            </template>
            <template slot="feed_content">
                <div>
                    <a class="twitter-timeline" href="https://twitter.com/thalessecurity?ref_src=twsrc%5Etfw">Tweets by thalessecurity</a> 
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </template>
        </FeedItem>
        <FeedItem class="feed-news">
            <template slot="feed_trigger">
                <svg class="me-3" xmlns="http://www.w3.org/2000/svg" width="32px" height="32px" viewBox="0 0 21 21" fill="none">
                    <path d="M4.59375 6.5625C4.4197 6.5625 4.25278 6.63164 4.12971 6.75471C4.00664 6.87778 3.9375 7.0447 3.9375 7.21875C3.9375 7.3928 4.00664 7.55972 4.12971 7.68279C4.25278 7.80586 4.4197 7.875 4.59375 7.875H13.7812C13.9553 7.875 14.1222 7.80586 14.2453 7.68279C14.3684 7.55972 14.4375 7.3928 14.4375 7.21875C14.4375 7.0447 14.3684 6.87778 14.2453 6.75471C14.1222 6.63164 13.9553 6.5625 13.7812 6.5625H4.59375ZM4.59375 9.1875C4.4197 9.1875 4.25278 9.25664 4.12971 9.37971C4.00664 9.50278 3.9375 9.6697 3.9375 9.84375V12.4688C3.9375 12.6428 4.00664 12.8097 4.12971 12.9328C4.25278 13.0559 4.4197 13.125 4.59375 13.125H7.21875C7.3928 13.125 7.55972 13.0559 7.68279 12.9328C7.80586 12.8097 7.875 12.6428 7.875 12.4688V9.84375C7.875 9.6697 7.80586 9.50278 7.68279 9.37971C7.55972 9.25664 7.3928 9.1875 7.21875 9.1875H4.59375ZM5.25 11.8125V10.5H6.5625V11.8125H5.25ZM9.84375 9.1875C9.6697 9.1875 9.50278 9.25664 9.37971 9.37971C9.25664 9.50278 9.1875 9.6697 9.1875 9.84375C9.1875 10.0178 9.25664 10.1847 9.37971 10.3078C9.50278 10.4309 9.6697 10.5 9.84375 10.5H13.7812C13.9553 10.5 14.1222 10.4309 14.2453 10.3078C14.3684 10.1847 14.4375 10.0178 14.4375 9.84375C14.4375 9.6697 14.3684 9.50278 14.2453 9.37971C14.1222 9.25664 13.9553 9.1875 13.7812 9.1875H9.84375ZM9.84375 11.8125C9.6697 11.8125 9.50278 11.8816 9.37971 12.0047C9.25664 12.1278 9.1875 12.2947 9.1875 12.4688C9.1875 12.6428 9.25664 12.8097 9.37971 12.9328C9.50278 13.0559 9.6697 13.125 9.84375 13.125H13.7812C13.9553 13.125 14.1222 13.0559 14.2453 12.9328C14.3684 12.8097 14.4375 12.6428 14.4375 12.4688C14.4375 12.2947 14.3684 12.1278 14.2453 12.0047C14.1222 11.8816 13.9553 11.8125 13.7812 11.8125H9.84375ZM1.3125 5.25C1.3125 4.55381 1.58906 3.88613 2.08134 3.39384C2.57363 2.90156 3.24131 2.625 3.9375 2.625H14.4375C15.1337 2.625 15.8014 2.90156 16.2937 3.39384C16.7859 3.88613 17.0625 4.55381 17.0625 5.25C17.7587 5.25 18.4264 5.52656 18.9187 6.01884C19.4109 6.51113 19.6875 7.17881 19.6875 7.875V13.7812C19.6875 14.6515 19.3418 15.4861 18.7264 16.1014C18.1111 16.7168 17.2765 17.0625 16.4062 17.0625H4.59375C3.72351 17.0625 2.88891 16.7168 2.27356 16.1014C1.6582 15.4861 1.3125 14.6515 1.3125 13.7812V5.25ZM16.4062 13.7812C16.2322 13.7812 16.0653 13.7121 15.9422 13.589C15.8191 13.466 15.75 13.299 15.75 13.125V5.25C15.75 4.9019 15.6117 4.56806 15.3656 4.32192C15.1194 4.07578 14.7856 3.9375 14.4375 3.9375H3.9375C3.5894 3.9375 3.25556 4.07578 3.00942 4.32192C2.76328 4.56806 2.625 4.9019 2.625 5.25V13.7812C2.625 14.3034 2.83242 14.8042 3.20163 15.1734C3.57085 15.5426 4.07161 15.75 4.59375 15.75H16.4062C16.9284 15.75 17.4292 15.5426 17.7984 15.1734C18.1676 14.8042 18.375 14.3034 18.375 13.7812V7.875C18.375 7.5269 18.2367 7.19306 17.9906 6.94692C17.7444 6.70078 17.4106 6.5625 17.0625 6.5625V13.125C17.0625 13.299 16.9934 13.466 16.8703 13.589C16.7472 13.7121 16.5803 13.7812 16.4062 13.7812Z" fill="white"/>
                </svg>
                <span>Latest CTI News</span>
            </template>
            <template slot="feed_content">
                <div class="p-4">
                    <NuxtLink
                        tag="div"
                        :to="'/news/' + n.nid"
                        v-for="n in last_news" :key="n.nid"
                        class="feed-news-item"
                    >
                        <div style="font-size: 14px; color: white;" v-html="n.created"></div>
                        <h2 class="h3 bleu mt-0 mb-4" v-html="n.title"></h2>
                    </NuxtLink>
                </div>
            </template>
        </FeedItem>
        <FeedItem class="feed-rss">
            <template slot="feed_trigger">
                <svg class="me-3" xmlns="http://www.w3.org/2000/svg" fill="#fff" viewBox="0 0 32 32" width="32px" height="32px">
                    <path d="M 5 5 L 5 9 C 14.93 9 23 17.07 23 27 L 27 27 C 27 14.85 17.15 5 5 5 z M 5 12 L 5 16 C 11.07 16 16 20.93 16 27 L 20 27 C 20 18.72 13.28 12 5 12 z M 8 21 A 3 3 0 0 0 8 27 A 3 3 0 0 0 8 21 z"/>
                </svg>
                <span>RSS</span>
            </template>
            <template slot="feed_content">
                <div>
                    <ul>
                        <li class="d-flex">News <a target="_blank" :href="api_url + '/news/news.xml'" class="ms-auto">Download</a></li>
                        <li class="d-flex">Reports <a target="_blank" :href="api_url + '/reports/reports.xml'" class="ms-auto">Download</a></li>
                        <!-- <li class="d-flex">Webinars & Videos <a href="#" class="ms-auto">Download</a></li> -->
                    </ul>
                </div>
            </template>
        </FeedItem>
        <!-- <FeedItem class="feed-google">
            <template slot="feed_trigger">
				<svg class="me-3" width="32px" height="32px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 512 512" xml:space="preserve">
					<path fill="#FFF" d="M381.7,225.9c0-97.6-52.5-130.8-101.6-138.2c0-0.5,0.1-1,0.1-1.6c0-12.3-10.9-22.1-24.2-22.1c-13.3,0-23.8,9.8-23.8,22.1   c0,0.6,0,1.1,0.1,1.6c-49.2,7.5-102,40.8-102,138.4c0,113.8-28.3,126-66.3,158h384C410.2,352,381.7,339.7,381.7,225.9z"/>
					<path fill="#FFF" d="M256.2,448c26.8,0,48.8-19.9,51.7-43H204.5C207.3,428.1,229.4,448,256.2,448z"/>
				</svg>
                <span>Cyber security press review</span>
            </template>
            <template slot="feed_content">
                <div v-for="(nr, i) in g_news_rss.news_results" :key="i" class="g-search-container mb-4">
                    <div class="g-search-infos">
                        <a class="g-search-title" :href="nr.link" target="_blank" v-html="nr.title"></a>
                        <p class="g-search-snippet" v-html="nr.snippet"></p>
                        <p class="g-search-date" v-html="nr.date"></p>
                    </div>
                    <div class="g-search-thumbnail">
                        <img :src="nr.thumbnail" alt="">
                    </div>
                </div>
            </template>
        </FeedItem> -->
    </div>

</template>




<script>
import FeedItem from '~/components/feeds/feed-item.vue';

export default {
    components: { FeedItem },
    data() {
        return {
            api_url: process.env.BASE_API_URL,
            Feeds: {
                count: 0,
                active: null
            },
            g_news_rss: [],
            last_news: [],
        };
    },
    provide() {
        return { Feeds: this.Feeds };
    },
    // async fetch() {
    //     const params = {
    //         q: "Thales cyber security",
    //         tbm: "nws",
    //         // api_key: "0d41e91c724de9d011839b4d77202c66706ae464facbce31766d13955c662766"
    //         api_key: "0fbe27ca651c961b255e27532ce98b5f352a038256a6867e88390b37aea3e4dc"
    //     }
	// 	await this.$axios.$get("https://serpapi.com/search.json", { params })
	// 		.then((response) => { 
    //             this.g_news_rss = response;
	// 		})
	// },
    methods: {
        // load_g_serp() {
        //     const params = {
        //         q: "Thales cyber security",
        //         tbm: "nws",
        //         // api_key: "0d41e91c724de9d011839b4d77202c66706ae464facbce31766d13955c662766"
        //         api_key: "0fbe27ca651c961b255e27532ce98b5f352a038256a6867e88390b37aea3e4dc"
        //     }
        //     this.$axios.$get("https://serpapi.com/search.json", { params })
		// 	.then((response) => { 
        //         this.g_news_rss = response;
		// 	})
        // },
        load_last_news() {
            this.$axios.get(process.env.BASE_API_URL + '/api/last-news')
            .then((response) => { 
                this.last_news = response.data; 
            })
        }
    },
    mounted() {
        // this.$fetch()
        // this.load_g_serp();
        this.load_last_news();
        // this.$refs.feedtwitter.open();
	},
};
</script>





<style lang="scss">
    #feeds {
        font-weight: bold;
        margin: 0 1rem 3rem;
        @media (min-width: 456px) { 
            width: 100%;
            max-width: 26rem;
            margin: 0 auto 3rem; 
        }
        @media (min-width: 992px) { 
            position: fixed;
            top: 16rem; right: 0;
        }
        @media (min-width: 1200px) { 
            // max-width: 20rem;
            margin: 0 0 0 auto; 
        }
        .feed-item {
            .feed-trigger {
                cursor: pointer;
                padding: 4px;
                transition: transform .3s ease;
                @media (min-width: 992px) {
                    transform: translateX(374px);
                    &.feed-trigger-active { transform: translateX(0px); }
                }
                span { color: var(--blanc); }
            }
			.feed-content { 
				height: 100%;
                max-height: 34rem;
                overflow-y: scroll;
				background-color: var(--darkless); 
                &::-webkit-scrollbar { display: none; }
                & > div { padding: 1rem; }
                li, a { color: var(--blanc); }
			}
            
            &.feed-twitter { .feed-trigger { background-color: var(--bleu); } }

            &.feed-news { 
                .feed-trigger { background-color: #5EBFD4; } 
                .feed-news-item { cursor: pointer; }
            }
            
			&.feed-rss { 
                .feed-trigger { background-color: var(--thales-speakers-bureau); } 
                ul {
                    list-style: none;
                    li:not(:last-child) { border-bottom: 1px solid var(--darktext); }
                    li { 
                        padding: 12px 0;
                        a {  
                            border-radius: 12px;
                            border: 1px solid;
                            padding: 0 16px;
                        }
                    }
                }
            }
			&.feed-google { 
                .feed-trigger { background-color: var(--thales-sharing-of-thales-expertise); } 
                .g-search-container {
                    // width: 24rem;
                    display: flex;
                    .g-search-infos {
                        a.g-search-title {
                            font-size: 16px;
                            line-height: 1.3333333333333333em;
                            color: var(--bleu);
                        }
                        p.g-search-snippet {
                            font-size: 12px;
                            line-height: 1.4285714285714286em;
                        }
                        p.g-search-date {
                            font-size: 10px;
                            line-height: 16px;
                        }
                    }
                    .g-search-thumbnail {
                        margin: 16px 0 16px 16px;
                        // img { width: 100%; }
                    }
                }
            }



            .feed-enter-active,
            .feed-leave-active {
                will-change: height, opacity;
                transition: height .3s ease, opacity .3s ease;
                @media (min-width: 992px) {
                    transition: height .3s ease .3s, opacity .3s ease .3s;
                }
            }
            .feed-enter,
            .feed-leave-to {
                transition: unset;
                height: 0 !important;
                opacity: 0;
            }
		}
    }
</style>