<template>
    <div class="feed-item">

        <div
            class="feed-trigger d-flex align-items-center"
            :class="{'feed-trigger-active': visible}"
            @click="open"
        >
            <slot name="feed_trigger"></slot>
        </div>

        <transition
            name="feed"
            @enter="start"
            @after-enter="end"
            @before-leave="start"
            @after-leave="end">
            <div class="feed-content" v-show="visible">
                <slot name="feed_content"></slot>
            </div>
        </transition>

    </div>
</template>



<script>
    export default {
        props: {},
        inject: ["Feeds"],
        data() { return { index: null }; },
        computed: {
            visible() { return this.index == this.Feeds.active; }
        },
        methods: {
            open() {
                if (this.visible) { this.Feeds.active = null; }
                else { this.Feeds.active = this.index; }
            },
            start(el) {
                el.style.height = el.scrollHeight + "px";
            },
            end(el) {
                el.style.height = "";
            }
        },
        created() { this.index = this.Feeds.count++; }
    };
</script>
