<template>
    <div id="video" class="page-container">
        <div class="titre">
            <h1>Media library | <span class="bleu bold">Videos</span></h1>
        </div>


        <!-- FILTRES ////////////////////////////////////////////////////////////////////////////////////// -->
        <div class="filtres mb-4">
            <div class="select-wraper d-flex flex-wrap flex-xl-nowrap align-items-center">
                <div class="select-container">
                    <select v-model="selected.area">
                        <option value>Filter by aera</option>
                        <option :value="area.nid" v-for="area in areas" :key="area.nid">{{ area.title }}</option>
                    </select>
                </div>
                <div class="select-container">
                    <select v-model="selected.adversary_type">
                        <option value>Filter by attacker type</option>
                        <option :value="at.name" v-for="at in adversary_type" :key="at.tid">{{ at.name }}</option>
                    </select>
                </div>
                <div class="reset-btn mx-auto mx-md-3 d-flex align-items-center" @click="resetSelect()">
                    <ResetBtn/>
                </div>
            </div>
        </div>


        <!-- LOADER ////////////////////////////////////////////////////////////////////////////////////// -->
        <div class="loader" v-if="loading">
            <Loader />
        </div>

        <!-- VIDEOS ////////////////////////////////////////////////////////////////////////////////////// -->
        <div v-else class="video-container">
            <div class="video-item" title="..." v-for="w in videos" :key="w.nid">
                <a target="_blank" :href="w.link">
                    <div class="video-item__inner">
                        <div class="video-placeholder">
                            <img v-if="w.thumbnail != ''" :src="api_url + w.thumbnail" alt />
                        </div>
                        <div class="text-center">
                            <h1 class="bleu mb10 mt10 h2">{{ w.title }}</h1>
                            <div class="date">{{ w.created }}</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</template>
<script>
import Loader from '~/components/_global/Loader.vue';
import _ from "lodash";
import ResetBtn from '~/components/_global/ResetBtn.vue';

export default {
    components: { Loader, ResetBtn },
    data() {
        return {
            api_url: process.env.BASE_API_URL,
            loading: true,
            videos: [],
            adversary_type: [],
            areas: [],
            selected: {
                adversary_type: "",
                area: "",
            },
        }
    },
    mounted() {
        this.loadAreas();
        this.loadAdversariesType();
        this.loadVideos();
    },
    watch: {
        selected: {
            handler() {
                this.loading = true;
                this.loadVideos();
            },
            deep: true
        }
    },
    methods: {
        resetSelect () {
            this.selected.area = "";
            this.selected.adversary_type = "";
        },
        loadVideos() {
            this.$axios.get(process.env.BASE_API_URL + '/api/videos', { params: this.nid })
                .then((response) => {
                    this.videos = response.data;
                    this.loading = false;
                    // this.loading = false;
                })
                .catch(err => { console.error("ERREUR DE L'API: " + err) });
        },
        loadAdversariesType() {
            this.$axios.get(process.env.BASE_API_URL + '/api/adversary-type', { params: _.omit(this.selected, 'adversary_type') })
                .then((response) => {
                    this.adversary_type = response.data;
                })
                .catch(err => { console.error("ERREUR DE L'API: " + err) });
        },
        loadAreas() {
            this.$axios.get(process.env.BASE_API_URL + '/api/areas', { params: _.omit(this.selected, 'areas') })
                .then((response) => {
                    this.areas = response.data;
                })
                .catch(err => { console.error("ERREUR DE L'API: " + err) });
        },
    },
}
</script>

