<template>
	<div class="attackers-slug">

		<!-- <pre>{{ adversary[0] }}</pre> -->

		<ContactMore />

		<div class="page-container">

			<div class="back mt-3">
				<NuxtLink to="/attackers" title="Back">
					<svg width="64" height="17" viewBox="0 0 64 17" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M28.4863 14V4.04688H31.7402C32.8203 4.04688 33.6315 4.27019 34.1738 4.7168C34.7207 5.16342 34.9941 5.82422 34.9941 6.69922C34.9941 7.16407 34.862 7.5765 34.5977 7.93653C34.3333 8.292 33.9733 8.56771 33.5176 8.76368C34.0553 8.91407 34.4792 9.20118 34.7891 9.625C35.1035 10.0443 35.2607 10.5456 35.2607 11.1289C35.2607 12.0221 34.9714 12.724 34.3926 13.2344C33.8138 13.7448 32.9958 14 31.9385 14H28.4863ZM29.7988 9.34473V12.9268H31.9658C32.5765 12.9268 33.0573 12.7695 33.4082 12.4551C33.7637 12.1361 33.9414 11.6986 33.9414 11.1426C33.9414 9.94401 33.2897 9.34473 31.9863 9.34473H29.7988ZM29.7988 8.292H31.7812C32.3555 8.292 32.8135 8.14844 33.1553 7.86133C33.5016 7.57422 33.6748 7.18457 33.6748 6.69239C33.6748 6.14551 33.5153 5.74903 33.1963 5.50293C32.8773 5.25228 32.3919 5.12696 31.7402 5.12696H29.7988V8.292ZM42.7051 11.4023H38.5352L37.5986 14H36.2451L40.0459 4.04688H41.1943L45.002 14H43.6553L42.7051 11.4023ZM38.9316 10.3223H42.3154L40.6201 5.667L38.9316 10.3223ZM53.5811 10.8418C53.458 11.8945 53.0684 12.708 52.4121 13.2822C51.7604 13.8519 50.8923 14.1367 49.8076 14.1367C48.6318 14.1367 47.6885 13.7152 46.9775 12.8721C46.2712 12.029 45.918 10.901 45.918 9.48829V8.53125C45.918 7.60612 46.082 6.79265 46.4102 6.09082C46.7428 5.389 47.2122 4.85124 47.8184 4.47754C48.4245 4.09929 49.1263 3.91016 49.9238 3.91016C50.9811 3.91016 51.8288 4.20638 52.4668 4.79883C53.1048 5.38672 53.4762 6.20248 53.5811 7.2461H52.2617C52.1478 6.45313 51.8994 5.87891 51.5166 5.52344C51.1383 5.16797 50.6074 4.99024 49.9238 4.99024C49.0853 4.99024 48.4268 5.30013 47.9482 5.91993C47.4743 6.53972 47.2373 7.42155 47.2373 8.56543V9.5293C47.2373 10.6094 47.4629 11.4684 47.9141 12.1064C48.3652 12.7445 48.9964 13.0635 49.8076 13.0635C50.5368 13.0635 51.0951 12.8994 51.4824 12.5713C51.8743 12.2386 52.1341 11.6621 52.2617 10.8418H53.5811ZM57.9082 9.37207L56.6914 10.6367V14H55.3789V4.04688H56.6914V8.96875L61.1143 4.04688H62.7002L58.7832 8.44239L63.0078 14H61.4355L57.9082 9.37207Z" fill="white"/>
						<path d="M6.38821 12.2723C6.66348 12.5476 6.66348 12.9939 6.38821 13.2691C6.11295 13.5444 5.66665 13.5444 5.39139 13.2691L1.16222 9.03998C0.886957 8.76472 0.886957 8.31842 1.16222 8.04316L5.39139 3.81399C5.66665 3.53872 6.11295 3.53872 6.38821 3.81399C6.66348 4.08926 6.66348 4.53555 6.38821 4.81081L3.36231 7.83672L15.7503 7.83672C16.1438 7.83672 16.4629 8.1523 16.4629 8.54158C16.4629 8.93086 16.1438 9.24644 15.7503 9.24644L3.36233 9.24644L6.38821 12.2723Z" fill="white"/>
					</svg>
				</NuxtLink>
			</div>

			<div class="text-center mb-5">
				<!-- CARTE ATTACKER -->
				<svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M11.5 15.4661C10.2756 15.4661 9.27954 16.4621 9.27954 17.6865C9.27954 18.9108 10.2756 19.9069 11.5 19.9069C12.7243 19.9069 13.7204 18.9108 13.7204 17.6865C13.7204 16.4621 12.7243 15.4661 11.5 15.4661ZM11.5 18.5593C11.0187 18.5593 10.6272 18.1677 10.6272 17.6865C10.6272 17.2052 11.0187 16.8137 11.5 16.8137C11.9812 16.8137 12.3728 17.2052 12.3728 17.6865C12.3728 18.1677 11.9812 18.5593 11.5 18.5593Z" fill="#00B3D8"/>
					<path d="M21.6569 16.5903C21.0714 15.7121 20.3154 14.8708 19.5436 14.2318L19.8138 12.3727H17.0747L18.3823 8.45007L17.7105 5.09136C17.4242 3.65956 16.6445 2.36123 15.5154 1.43548C14.3862 0.509729 12.9601 0 11.5 0C10.0399 0 8.61386 0.509818 7.48466 1.43552C6.35546 2.36123 5.57588 3.65961 5.28955 5.0914L4.61779 8.45012L5.92533 12.3728H3.18626L3.45642 14.2318C2.68458 14.8708 1.92868 15.7121 1.34312 16.5904C0.464447 17.9082 0 19.265 0 20.5142V23H23V20.5142C23 19.265 22.5356 17.9081 21.6569 16.5903ZM14.3844 12.3728C14.9347 11.7178 15.267 10.8738 15.267 9.95343V7.78954C15.8292 8.02651 16.3728 8.31922 16.8893 8.66718L15.6542 12.3728H14.3844ZM9.08064 9.95338V7.33588C10.665 6.92969 12.335 6.92969 13.9194 7.33588V9.95338C13.9194 11.2874 12.834 12.3727 11.5 12.3727C10.166 12.3727 9.08064 11.2875 9.08064 9.95338ZM11.5 1.34766C13.8684 1.34766 15.9245 3.03326 16.389 5.35568L16.715 6.9858C15.1207 6.12195 13.3449 5.67085 11.5 5.67085C9.65506 5.67085 7.8793 6.12195 6.28497 6.98576L6.61102 5.35563C7.07551 3.03326 9.13158 1.34766 11.5 1.34766ZM6.11068 8.66714C6.62723 8.31913 7.17079 8.02646 7.73299 7.7895V9.95338C7.73299 10.8738 8.06527 11.7178 8.61557 12.3727H7.34589L6.11068 8.66714ZM1.34766 21.6523V20.5142C1.34766 18.7661 2.54613 16.9952 3.69074 15.8441L4.53477 21.6523H1.34766ZM17.1034 21.6523H5.89658L4.74388 13.7204H18.2561L17.1034 21.6523ZM21.6523 21.6523H18.4652L19.3093 15.8441C20.4539 16.9952 21.6523 18.7661 21.6523 20.5142V21.6523Z" fill="#00B3D8"/>
				</svg>
				<h1 class="bleu">{{ adversary[0].name }}</h1>
				<p class="mb-3 mt0"><strong>Presumed Origin: </strong>{{ adversary[0].origin_country }}</p>
				<p class="mt0"><strong>Alias: </strong></p>
				<div class="alias d-flex flex-wrap justify-content-center">
					<p class="m-2" v-for="a in adversary[0].alias" :key="a">{{ a }}</p>
				</div>
				<!-- <div class="my-5">
					<p v-html="adversary[0].field_description"></p>
				</div>-->
			</div>

			<!-- ACCORDION -->
			<Accordion class="mb-5 atk-accordion-infos">
				<!-- DESCRIPTION -->
				<AccordionItem v-if="adversary[0].description != ''">
					<template slot="accordion-trigger">
						<h3 class="accordion-header">Description</h3>
					</template>
					<template slot="accordion-content">
						<div class="accordion-content">
							<div v-html="adversary[0].description"></div>
						</div>
					</template>
				</AccordionItem>
				<!-- ANALYSIS -->
				<AccordionItem v-if="adversary[0].analyze_adversary != ''">
					<template slot="accordion-trigger">
						<h3 class="accordion-header">Analysis</h3>
					</template>
					<template slot="accordion-content">
						<div class="accordion-content">
							<div v-html="adversary[0].analyze_adversary"></div>
						</div>
					</template>
				</AccordionItem>
				<!-- REFERENCE -->
				<AccordionItem v-if="adversary[0].references_adversary != ''">
					<template slot="accordion-trigger">
						<h3 class="accordion-header">Reference</h3>
					</template>
					<template slot="accordion-content">
						<div class="accordion-content">
							<div v-html="adversary[0].references_adversary"></div>
						</div>
					</template>
				</AccordionItem>
			</Accordion>



			<!-- CARDS : ------------------------------------------------------------------------------------------ -->
			<!-- -------------------------------------------------------------------------------------------------- -->
			<!-- <div class="cards d-flex flex-wrap"> -->
			<div class="cards">
				<Card v-if="adversary[0].target_sectors.length !== 0">
					<template slot="card-header">
						<p>Target sector</p>
					</template>
					<template slot="card-content">
						<ul>
							<li v-for="ts in adversary[0].target_sectors" :key="ts" v-html="ts"></li>
						</ul>
					</template>
				</Card>
				<Card v-if="adversary[0].target_country.length !== 0">
					<template slot="card-header">
						<p>Target Countries</p>
					</template>
					<template slot="card-content">
						<ul>
							<li v-for="tc in adversary[0].target_country" :key="tc" v-html="tc"></li>
						</ul>
					</template>
				</Card>
				<Card v-if="adversary[0].attack_patterns.length !== 0">
					<template slot="card-header">
						<p>Attack pattern</p>
					</template>
					<template slot="card-content">
						<ul>
							<li v-for="ap in adversary[0].attack_patterns" :key="ap" v-html="ap"></li>
						</ul>
					</template>
				</Card>
				<Card v-if="adversary[0].motivations !== ''">
					<template slot="card-header">
						<p>Motivation</p>
					</template>
					<template slot="card-content">
						<p v-html="adversary[0].motivations"></p>
					</template>
				</Card>
				<Card v-if="adversary[0].languages !== ''">
					<template slot="card-header">
						<p>Languages</p>
					</template>
					<template slot="card-content">
						<p v-html="adversary[0].languages"></p>
					</template>
				</Card>
				<!-- <Card v-if="adversary[0].alias.length !== 0">
					<template slot="card-header">
						<p>Alias</p>
					</template>
					<template slot="card-content">
						<ul>
							<li v-for="a in adversary[0].alias" :key="a">{{ a }}</li>
						</ul>
					</template>
				</Card> -->
				<Card v-if="adversary[0].malwares.length !== 0">
					<template slot="card-header">
						<p>Malwares</p>
					</template>
					<template slot="card-content">
						<ul>
							<li v-for="m in adversary[0].malwares" :key="m" v-html="m"></li>
						</ul>
					</template>
				</Card>
				<Card v-if="adversary[0].vulnerabilities.length !== 0">
					<template slot="card-header">
						<p>Vulnerabilities</p>
					</template>
					<template slot="card-content">
						<ul>
							<li v-for="v in adversary[0].vulnerabilities" :key="v" v-html="v"></li>
						</ul>
					</template>
				</Card>
			</div>

		</div>

		<WorldBg />

	</div>
</template>



<script>
import ContactMore from '~/components/contact-more/contact-more.vue';

import Accordion from '~/components/_global/accordion/accordion.vue';
import AccordionItem from '~/components/_global/accordion/accordion-item.vue';
import Card from '~/components/_global/Card.vue';
import WorldBg from '~/components/_global/WorldBg.vue';

export default {
    components: { Accordion, AccordionItem, Card, WorldBg, ContactMore },
	data() {
		return {
			// api_url: process.env.BASE_API_URL, // au cas ou pour les images...
		}
	},
	async asyncData({ params, $axios }) {
		const adversary = await $axios.$get(`${process.env.BASE_API_URL}/api/adversaries?name=${params.slug}`);
		return { adversary }
	}
};
</script>


<style lang="scss">
.attackers-slug {
	// padding:0 4vh;
	position: relative;
	z-index: 4;
	p { margin: 0; }
	.alias {
		width: 100%;
		max-width: 45rem;
		margin: 0 auto;
	}
	.atk-accordion-infos {
		.accordion__trigger {
			background-color: var(--darkless);
			.accordion-header { color: var(--darktext); }
		}
		.accordion__content { background-color: var(--darkless); }
	}
	.cards {
		// justify-content: center;
		// @media (min-width: 1400px) { justify-content: space-between; }

		display: grid;
        grid-template-columns: repeat(1, 1fr);
		grid-gap: 24px;
        // grid-column-gap: 24px;
        // grid-row-gap: 0px;
        @media (min-width: 768px) { grid-template-columns: repeat(2, 1fr); }
        @media (min-width: 1400px) {
            padding: 4vh;
            margin-bottom: -4vh;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 1fr;
        }
		.card {
			&:hover { cursor: unset; }
			.card-content { line-height: 2; }
		}
	}
}
</style>