<template>
    <section id="page-attackers" class="page-container">
        <div class="content-table attackers">

            <div class="titre my-5">
                <h1><span class="bleu bold">Attackers</span></h1>
            </div>

            <div class="filtres mb-5">
                <div class="select-wraper d-flex flex-wrap justify-content-center">
                    <div class="group-select d-flex flex-wrap justify-content-center justify-content-xl-start">

                        <div class="select-container">
                            <select name v-model="selected.attackers_type">
                                <option value>Filter by attacker type</option>
                                <option
                                    :value="at.tid"
                                    v-for="at in attackers_type" :key="at.tid"
                                    v-html="at.name"
                                ></option>
                            </select>
                        </div>
                        <div class="select-container">
                            <select name v-model="selected.origin_area">
                                <option value>Filter by origin area</option>
                                <option 
                                    :value="c.title"
                                    v-for="c in area" :key="c.nid"
                                    v-html="c.title"
                                ></option>
                            </select>
                        </div>
                        <div class="select-container">
                            <select name v-model="selected.target_area">
                                <option value>Filter by target area</option>
                                <option 
                                    :value="c.title"
                                    v-for="c in area" :key="c.nid"
                                    v-html="c.title"
                                ></option>
                            </select>
                        </div>
                        <div class="select-container">
                            <select name v-model="selected.target_sectors">
                                <option value>Filter by target sector</option>
                                <option
                                    :value="ts.name"
                                    v-for="ts in target_sectors" :key="ts.tid"
                                    v-html="ts.name"
                                ></option>
                            </select>
                        </div>
                        <div class="select-container">
                            <select name v-model="selected.motivations">
                                <option value>Filter by motivations</option>
                                <option
                                    :value="m.name"
                                    v-for="m in motivations" :key="m.tid"
                                    v-html="m.name"
                                ></option>
                            </select>
                        </div>
                        <div class="select-container">
                            <select name v-model="selected.attack_patterns">
                                <option value>Filter by attack pattern used</option>
                                <option
                                    :value="ap.name"
                                    v-for="ap in attack_patterns" :key="ap.tid"
                                    v-html="ap.name"
                                ></option>
                            </select>
                        </div>
                        <div class="select-container">
                            <select name v-model="selected.malwares">
                                <option value>Filter by malwares</option>
                                <option
                                    :value="m.name"
                                    v-for="m in malwares" :key="m.tid"
                                    v-html="m.name"
                                ></option>
                            </select>
                        </div>

                    </div>

                    <div class="atk-reset-btn m-3 m-xl-1 d-flex justify-content-center align-items-start" @click="resetSelect()">
                        <ResetBtn/>
                    </div>

                    <div class="search-container d-flex justify-content-center align-items-center align-items-xl-end ms-xl-auto mb-xl-2">
                        <div class="d-flex align-items-end">
                            <!-- <input class="search-input" type="text" placeholder="Search ..." v-model="selected.atk_search" /> -->
                            <input class="search-input" type="text" placeholder="Search ..." v-model="input_search_text" />
                            <button @click="loadAttackersBySearch" class="ml15">Search</button>
                        </div>
                    </div>
                </div>
            </div>

            
            <div v-if="!loading && attackers.length != 0 && watched">
                <p class="text-center" v-if="attackers.length > 1">{{ attackers.length }} attackers found</p>
                <p class="text-center" v-if="attackers.length == 1">{{ attackers.length }} attacker found</p>
            </div>
            <!-- <div v-if="!loading && atk_searched.length != 0 && watched">
                <p class="text-center" v-if="atk_searched.length > 1">{{ atk_searched.length }} attackers found</p>
                <p class="text-center" v-if="atk_searched.length == 1">{{ atk_searched.length }} attacker found</p>
            </div> -->

            <div v-if="atk_searched.length == 0">
                <div v-if="!loading && attackers.length != 0" class="cards">
                    <NuxtLink
                        tag="div"
                        v-for="attacker in attackers" :key="attacker.nid"
                        :to="'/attackers/' + attacker.name"
                    >
                        <Card>
                            <template slot="card-header">
                                <p v-html="attacker.name"></p>
                            </template>
                            <template slot="card-content">
                                <div v-if="attacker.alias != ''" class="mb-3">
                                    <p style="font-size: 14px;">Alias</p>
                                    <h2 class="h3 m-0" 
                                        v-for="(tc, i) in attacker.alias.slice(0,3)" :key="i"
                                        v-html="i < 2 ? tc : '...'" 
                                    ></h2>
                                </div>
                                <div v-if="attacker.types_adversary != ''" class="mb-3">
                                    <p style="font-size: 14px;">Attacker type</p>
                                    <h2 class="h3 m-0" v-html="attacker.types_adversary"></h2>
                                </div>
                                <div v-if="attacker.origin_country != ''" class="mb-3">
                                    <p style="font-size: 14px;">Suspected origin countries</p>
                                    <h2 class="h3 m-0" v-html="attacker.origin_country"></h2>
                                </div>
                                <div v-if="attacker.target_country.length !== 0" class="mb-3">
                                    <p style="font-size: 14px;">Suspected targeted countries</p>
                                    <h2 class="h3 m-0" 
                                        v-for="(tc, i) in attacker.target_country.slice(0,3)" :key="i"
                                        v-html="i < 2 ? tc : '...'" 
                                    ></h2>
                                </div>
                                <div v-if="attacker.target_sectors.length !== 0" class="mb-3">
                                    <p style="font-size: 14px;">Target sectors</p>
                                    <h2 class="h3 m-0" 
                                        v-for="(ts, i) in attacker.target_sectors.slice(0,3)" :key="i"
                                        v-html="i < 2 ? ts : '...'"
                                    ></h2>
                                </div>
                                <div v-if="attacker.motivations != ''">
                                    <p style="font-size: 14px;">Motivations</p>
                                    <h2 class="h3 m-0" v-html="attacker.motivations != '' && attacker.motivations.length > 20 ? attacker.motivations.split(' ').splice(0, 3).join(' ') + '...' : attacker.motivations"></h2>
                                </div>
                            </template>
                        </Card>
                    </NuxtLink>
                </div>
            </div>
            <div v-else>
                <div v-if="!loading && atk_searched.length != 0" class="cards">
                    <NuxtLink
                        tag="div"
                        v-for="attacker in atk_searched" :key="attacker.nid"
                        :to="'/attackers/' + attacker.name"
                    >
                        <Card>
                            <template slot="card-header">
                                <p v-html="attacker.name"></p>
                            </template>
                            <template slot="card-content">
                                <div v-if="attacker.alias != ''" class="mb-3">
                                    <div style="font-size: 14px;">Alias</div>
                                    <h2 class="h3 m-0" 
                                        v-for="(tc, i) in attacker.alias.slice(0,3)" :key="i"
                                        v-html="i < 2 ? tc : '...'" 
                                    ></h2>
                                </div>
                                <div v-if="attacker.types_adversary != ''" class="mb-3">
                                    <div style="font-size: 14px;">Attacker type</div>
                                    <h2 class="h3 m-0" v-html="attacker.types_adversary"></h2>
                                </div>
                                <div v-if="attacker.origin_country != ''" class="mb-3">
                                    <div style="font-size: 14px;">Suspected origin</div>
                                    <h2 class="h3 m-0" v-html="attacker.origin_country"></h2>
                                </div>
                                <div v-if="attacker.target_country.length !== 0" class="mb-3">
                                    <div style="font-size: 14px;">Target countries</div>
                                    <h2 class="h3 m-0" 
                                        v-for="(tc, i) in attacker.target_country.slice(0,3)" :key="i"
                                        v-html="i < 2 ? tc : '...'" 
                                    ></h2>
                                </div>
                                <div v-if="attacker.target_sectors.length !== 0" class="mb-3">
                                    <div style="font-size: 14px;">Target sectors</div>
                                    <h2 class="h3 m-0" 
                                        v-for="(ts, i) in attacker.target_sectors.slice(0,3)" :key="i"
                                        v-html="i < 2 ? ts : '...'"
                                    ></h2>
                                </div>
                                <div v-if="attacker.motivations != ''">
                                    <div style="font-size: 14px;">Motivations</div>
                                    <h2 class="h3 m-0" v-html="attacker.motivations != '' && attacker.motivations.length > 20 ? attacker.motivations.split(' ').splice(0, 3).join(' ') + '...' : attacker.motivations"></h2>
                                </div>
                            </template>
                        </Card>
                    </NuxtLink>
                </div>
            </div>

            <div class="d-flex justify-content-center"  v-if="!loading && attackers.length == 0">
                <p class="h1 bold">no results</p>
            </div>

            <!-- LOADER ////////////////////////////////////////////////////////////////////////////////////// -->
            <div v-if="loading">
                <Loader />
            </div>
        </div>

        <WorldBg />
        
    </section>

</template>


<script>
import Loader from '~/components/_global/Loader.vue';
import _ from "lodash"
import Autocomplete from 'vuejs-auto-complete';
import Card from '~/components/_global/Card.vue';
import WorldBg from '~/components/_global/WorldBg.vue';
import ResetBtn from '~/components/_global/ResetBtn.vue';

// gsap.registerPlugin(ExpoScaleEase);

export default {
    components: { Loader, Autocomplete, Card, WorldBg, ResetBtn },
    data() {
        return {
            loading: true,
            watched: false,

            atk_searched: [],
            input_search_text: "",

            attackers: [],
            attackers_type: [],
            area: [],
            // origin_areas: [],
            // target_areas: [],
            target_sectors: [],
            motivations: [],
            attack_patterns: [],
            malwares: [],
            selected: {
                attackers_type: "",
                origin_area: "",
                target_area: "",
                target_sectors: "",
                motivations: "",
                attack_patterns: "",
                malwares: ""
            }
        }
    },
    mounted() {

        // gsap.from('table', { duration: 1, y: 10, autoAlpha: 0, ease: "expo.out" });


        this.loadAttackers();
        this.loadAttackersType();
        // this.loadCountries();
        this.loadAreas();
        this.loadTargetSectors();
        this.loadMotivations();
        this.loadAttackPatterns();
        this.loadMalwares();
    },
    watch: {
        selected: {
            handler() {
                this.loading = true;
                this.loadAttackers();
                this.watched = true;
                this.atk_searched = [];
                if (
                    this.selected.attackers_type == "" &&
                    this.selected.origin_area == "" &&
                    this.selected.target_area == "" &&
                    this.selected.target_sectors == "" &&
                    this.selected.motivations == "" &&
                    this.selected.attack_patterns == "" &&
                    this.selected.malwares == ""
                ) {
                    this.watched = false;
                }

            },
            deep: true
        }
    },
    methods: {
        resetSelect() {
            this.loading = true;

            this.atk_searched = [];
            // this.input_search_text = "";

            this.selected.attackers_type = "";
            this.selected.origin_area = "";
            this.selected.target_area = "";
            this.selected.target_sectors = "";
            this.selected.motivations = "";
            this.selected.attack_patterns = "";
            this.selected.malwares = "";

            this.watched = false;

            this.loading = false;
        },

        loadAttackers() {
            this.$axios.get(process.env.BASE_API_URL + '/api/adversaries', { params: this.selected })
                .then((response) => {
                    this.attackers = response.data;
                    this.loading = false;
                })
                .catch(err => { console.error("ERREUR DE L'API: " + err) });
        },
        loadAttackersBySearch() {
            this.loading = true;
            this.$axios.get(process.env.BASE_API_URL + '/api/search-api-adversaries?key=' + this.input_search_text)
                .then((response) => {
                    
                    // const atk_searched = this.attackers.filter(({ nid }) => response.data.some((e) => e.nid === nid))
                    this.atk_searched = this.attackers.filter(({ nid }) => response.data.some((e) => e.nid === nid))
                    // this.attackers = atk_searched;

                    this.loading = false;
                    this.watched = true;
                })
                .catch(err => { console.error("ERREUR DE L'API: " + err) });
        },
        loadAttackersType() {
            this.$axios.get(process.env.BASE_API_URL + '/api/adversary-type', { params: _.omit(this.selected, 'adversary-type') })
                .then((response) => {
                    this.attackers_type = response.data;
                    // this.loading = false;
                })
                .catch(err => { console.error("ERREUR DE L'API: " + err) });
        },
        // loadCountries() {
        //     this.$axios.get(process.env.BASE_API_URL + '/api/countries', { params: _.omit(this.selected, 'countries') })
        //         .then((response) => {
        //             this.countries = response.data;
        //             this.loading = false;
        //         })
        //         .catch(err => { console.error("ERREUR DE L'API: " + err) });
        // },
        loadAreas() {
            this.$axios.get(process.env.BASE_API_URL + '/api/areas', { params: _.omit(this.selected, 'area') })
                .then((response) => {
                    this.area = response.data;
                    // this.loading = false;
                })
                .catch(err => { console.error("ERREUR DE L'API: " + err) });
        },
        loadTargetSectors() {
            this.$axios.get(process.env.BASE_API_URL + '/api/target-sector', { params: _.omit(this.selected, 'target-sectors') })
                .then((response) => {
                    this.target_sectors = response.data;
                    // this.loading = false;
                })
                .catch(err => { console.error("ERREUR DE L'API: " + err) });
        },
        loadMotivations() {
            this.$axios.get(process.env.BASE_API_URL + '/api/motivation', { params: _.omit(this.selected, 'motivations') })
                .then((response) => {
                    this.motivations = response.data;
                    // this.loading = false;
                })
                .catch(err => { console.error("ERREUR DE L'API: " + err) });
        },
        loadAttackPatterns() {
            this.$axios.get(process.env.BASE_API_URL + '/api/attack-patterns', { params: _.omit(this.selected, 'attack_patterns') })
                .then((response) => {
                    this.attack_patterns = response.data;
                    // this.loading = false;
                })
                .catch(err => { console.error("ERREUR DE L'API: " + err) });
        },
        loadMalwares() {
            this.$axios.get(process.env.BASE_API_URL + '/api/malwares', { params: _.omit(this.selected, 'malwares') })
                .then((response) => {
                    this.malwares = response.data;
                    // this.loading = false;
                })
                .catch(err => { console.error("ERREUR DE L'API: " + err) });
        },
    },
}
</script>
<style lang="scss">
#page-attackers {
    .content-table {
        position: relative;
        z-index: 4;
    }
    .filtres {
        .select-wraper {
            .group-select {     
                @media (min-width: 768px) { width: 46rem; }
            }
            .select-container {
                width: 100%;
                @media (min-width: 1200px) { width: 229px; }
                select { width: 100%; }
            }
            .atk-reset-btn {
                width: 100%;
                @media (min-width: 1200px) { width: unset; }
            }
            // .search-container {}
        }
    }
    .cards {
		display: grid;
        grid-template-columns: repeat(1, 1fr);
		grid-gap: 24px;
        margin: 0 1rem;
        @media (min-width: 576px) { grid-template-columns: repeat(2, 1fr); }
        @media (min-width: 768px) { grid-template-columns: repeat(3, 1fr); }
        @media (min-width: 992px) { grid-template-columns: repeat(4, 1fr); }
        @media (min-width: 1400px) {
            padding: 4vh;
            margin: 0;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: 1fr;
        }
        .card {
            &:hover { .card-content h2 { color: var(--blanc); } }
            .card-content {
                height: unset;
                overflow-y: unset;
            }
        }
	}
    // .attackers {
    //     input[type="text"] {
    //         appearance: none;
    //         background-color: white;
    //         border-width: 0;
    //         height: 35px;
    //         padding: 0 2vw 0 15px;
    //         border-radius: 4px;
    //     }
    // }
}
</style>
