<template>
    <div class="area">

        <TopBarAlert />


        <section class="d-flex flex-column align-items-center mb-5">
            <div class="titre"><p class="h1 m-0"><span class="bleu bold">{{ $capitalize(titre_page) }}</span></p></div>
            <p>(Extract of Thales’ CTI datas)</p>
            <div class="my-4 d-flex flex-wrap justify-content-center countries-container">
                <div class="d-flex align-items-center w-xl-100 mb-3">
                    <p class="bold me-2">Countries list: </p>
                    <svg @click="activeCountries" :class="{'countries-active': countries_more_active}" data-v-4a063e07="" width="30" height="30" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg"><rect data-v-4a063e07="" y="24.7488" width="35" height="35" rx="17.5" transform="rotate(-45 0 24.7488)" fill="#00B3D8"></rect> <path data-v-4a063e07="" d="M24.7487 30.2485L24.7487 19.2491" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="dash-v"></path> <path data-v-4a063e07="" d="M19.249 24.7487L30.2485 24.7487" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="dash-h"></path></svg>
                </div>
                <slide-up-down :active="countries_more_active" :duration="600" class="countries w-100 d-flex flex-wrap">
                    <p 
                        v-for="(c, i) in area[0].countries_list" :key="i"
                        v-html="c"
                        class="tag m-0 ps-4"
                    >toto</p>
                </slide-up-down>
            </div>
        </section>



        <section class="d-flex mb-5 map-area">

            <div class="area-analysis mb-5 mb-xl-0">
                <h2 class="bleu uppercase">Contextual analysis of CIS and geocyber risks</h2>
                <!-- <img :src="api_url + area[0].image" alt /> -->
                <div class="content" v-html="area[0].area_analysis"></div>
            </div>

            <div class="map-zone d-flex flex-column justify-content-between">
                <!-- <Africa v-if="titre_page == 'africa'" />
                <Commonwealth v-if="titre_page == 'commonwealth-of-independant-states'" />
                <EastAsia v-if="titre_page == 'east-asia'" />
                <Europe v-if="titre_page == 'europe'" />
                <NorthAmerica v-if="titre_page == 'north-america'" />
                <Oceania v-if="titre_page == 'oceania'" />
                <SouthAmerica v-if="titre_page == 'South%20America'" />
                <SouthAsia v-if="titre_page == 'south-asia'" />
                <WesternAsia v-if="titre_page == 'western-asia'" /> -->

                <div v-html="area[0].field_countries_map_area"></div>
            </div>

        </section>




        <section class="d-flex data-atk-area-container">

            <div class="data-atk-area-right w-100">
                <!-- ACCORDION -->
                <Accordion class="mb-5 ts-accordion-infos" v-if="area[0].accordion">
                    <AccordionItem ref="accordionref" v-for="(acc, i) in area[0].accordion" :key="i" :id="'acc-' + i">
                        <template slot="accordion-trigger">
                            <h3 class="accordion-header" v-html="acc.title_accordion"></h3>
                        </template>
                        <template slot="accordion-content">
                            <div class="accordion-content">
                                <div v-html="acc.content_accordion"></div>
                            </div>
                        </template>
                    </AccordionItem>
                </Accordion>
            </div>

            
            <div class="data-atk-area-left">

                <p class="h2 text-bold uppercase mb-4">Main types of attackers</p>
                
                <p class="h3 blanc mb-2">Adversary Types</p>
                <div class="adversary-type d-flex justify-content-between mb-3">
                    <div class="d-flex flex-column"><div class="point point-bleu"></div>Cyber Criminal</div>
                    <div class="d-flex flex-column"><div class="point point-orange"></div>State-Sponsored</div>
                    <div class="d-flex flex-column"><div class="point point-rouge"></div>Terrorists</div>
                </div>

                <ul class="mb-5 main-atk-by-ts">
                    <NuxtLink 
                        :to="'/targeted-sectors/' + index" 
                        tag="li" 
                        v-for="(a, index) in adversaries_by_area" :key="index"
                        v-if="index != 'count_adv_type'"
                        class="d-flex justify-content-between align-items-center"
                    >
                        <p class="me-3 picto" v-html="a.icon_adv_type"></p>
                        <p class="me-auto" v-html="index"></p>
                        <div class="d-flex" v-if="a.hasOwnProperty('cyber_terrorist')">
                            <NuxtLink 
                                :to="'/attackers/' + atk" 
                                tag="div" 
                                v-for="(atk, i) in a.cyber_terrorist" :key="i"
                                class="point point-rouge"
                            ><p class="atk-rollover">{{ atk }}</p></NuxtLink>
                        </div>
                        <div class="d-flex" v-if="a.hasOwnProperty('state_sponsored')">
                            <NuxtLink 
                                :to="'/attackers/' + atk" 
                                tag="div" 
                                v-for="(atk, i) in a.state_sponsored" :key="i"
                                class="point point-orange"
                            ><p class="atk-rollover">{{ atk }}</p></NuxtLink>
                        </div>
                        <div class="d-flex" v-if="a.hasOwnProperty('cyber_criminal')">
                            <NuxtLink 
                                :to="'/attackers/' + atk" 
                                tag="div" 
                                v-for="(atk, i) in a.cyber_criminal" :key="i"
                                class="point point-bleu"
                            ><p class="atk-rollover">{{ atk }}</p></NuxtLink>
                        </div>
                    </NuxtLink>
                </ul>


                <div class="d-flex flex-column justify-content-center align-items-center">
                    <div class="chart">
                        <p class="h2 text-bold uppercase text-center">Adversary type</p>
                        <DoughnutArea :data="chartData" :options="options" v-if="loaded" />
                    </div>
                    <div class="text-center">
                        <p class="h2 text-bold uppercase mb-3">TOP 3 ATTACKED SECTORS</p>
                        <NuxtLink
                            tag="div"
                            :to="'/targeted-sectors/' + ts"
                            v-for="ts in top_3_targeted_sectors_for_area.top_3_targeted_sectors_for_area" :key="ts"
                        >
                            <div v-html="ts" class="h3 bleu mb-4"></div>
                        </NuxtLink>
                    </div>
                    <!-- <div class="d-flex flex-column mt-2">
                        <span class="text-bold h2">{{ $capitalize(titre_page) }} REPORTS</span>
                        <NuxtLink :to="'/media-library/reports?area=' + area[0].nid" tag="button" class="mb-4">See more</NuxtLink>
                    </div> -->
                    <div class="d-flex flex-column mt-2">
                        <span class="text-bold h2">{{ $capitalize(titre_page) }} NEWS</span>
                        <NuxtLink :to="'/news?area=' + area[0].nid" tag="button" class="mb-4">See more</NuxtLink>
                    </div>
                    <div class="d-flex flex-column mt-2" v-if="area[0].presentation_file">
                        <span class="text-bold h2">Area presentation</span>
                        <button><a target="_blank" :href="api_url + area[0].presentation_file">Download</a></button>
                    </div>
                </div>
            </div>

        </section>


        <WorldBg />

    </div>
</template>



<script>
    // import Africa from "~/components/areas/Africa.vue";
    // import Commonwealth from "~/components/areas/Commonwealth.vue";
    // import EastAsia from "~/components/areas/EastAsia.vue";
    // import Europe from "~/components/areas/Europe.vue";
    // import NorthAmerica from "~/components/areas/NorthAmerica.vue";
    // import Oceania from "~/components/areas/Oceania.vue";
    // import SouthAmerica from "~/components/areas/SouthAmerica.vue";
    // import SouthAsia from "~/components/areas/SouthAsia.vue";
    // import WesternAsia from "~/components/areas/WesternAsia.vue";

    import TopBarAlert from "~/components/TopBarAlert.vue";
    import SlideUpDown from 'vue-slide-up-down'
    import DoughnutArea from '~/components/charts/DoughnutArea.vue';
    import Accordion from '~/components/_global/accordion/accordion.vue';
    import AccordionItem from '~/components/_global/accordion/accordion-item.vue';
    import WorldBg from '~/components/_global/WorldBg.vue';
    // import ChartDataLabels from 'chartjs-plugin-datalabels';

    export default {
        components: { 
            // Africa, Commonwealth, EastAsia, Europe, NorthAmerica, Oceania, SouthAmerica, SouthAsia, WesternAsia,
            TopBarAlert, SlideUpDown, DoughnutArea, Accordion, AccordionItem, WorldBg 
        },
        data () {
            return {
                api_url: process.env.BASE_API_URL,
                // area_analysis_active: false,
                titre_page: this.$route.params.slug,
                countries_more_active: false,
                loaded: false,
                // CHART ///////////////////////////////////////////////////////
                /////////////////////////////////////////////////////////////
                chartData: null,
                options: null

                // API DATA /////////////////////////////////////////////////////
                /////////////////////////////////////////////////////////////
                // adversaries_by_area: [],
            }
        },
        async asyncData({ params, $axios, $unslugify }) {
            let area = await $axios.$get(`${process.env.BASE_API_URL}/api/areas?title=${$unslugify(params.slug)}`);
            const top_3_targeted_sectors_for_area = await $axios.$get(`${process.env.BASE_API_URL}/api/top-3-targeted-sectors-for-area?area=${$unslugify(params.slug)}`);
            const adversaries_by_area = await $axios.$get(`${process.env.BASE_API_URL}/api/area-adversaries?area=${$unslugify(params.slug)}`);
            return { area, adversaries_by_area, top_3_targeted_sectors_for_area }
        },
        methods: {
            toggleAccordion() {
                const flag = document.querySelectorAll(".draggable-countries");
                flag.forEach((flag_item, i) => {
                    flag_item.addEventListener("click", item => {
                        this.$refs.accordionref[i].open();
                        if (this.$refs.accordionref[i].Accordion.active != null) {
                            const acc_item = document.getElementById("acc-" + i);
                            acc_item.scrollIntoView({behavior: "smooth", block: "center"})
                        }
                    })
                })
            },
            activeCountries() {
                this.countries_more_active = !this.countries_more_active;
            },
            fillChartData () {
                try {
                    this.chartData = {
                        // labels: ["Green", "Red", "Blue", "orange"],
                        datasets: [{
                            hoverOffset: 4,
                            borderWidth: 0,
                            // backgroundColor: ['#C36B65', '#00B3D8', '#FF9C07'],
                            backgroundColor: () => {
                                const adv_type = Object.keys(this.adversaries_by_area.count_adv_type);
                                const bg_chart = [];
                                for (const i in adv_type) {
                                    if (adv_type[i] == "Cyber Terrorist") bg_chart.push("#C36B65")
                                    if (adv_type[i] == "State Sponsored") bg_chart.push("#FF9C07")
                                    if (adv_type[i] == "Cyber Criminal") bg_chart.push("#00B3D8")
                                }
                                return bg_chart;
                            },
                            data: Object.values(this.adversaries_by_area.count_adv_type),
                        }]
                    }
                    this.options = {
                        events: [],
                        cutout: 100,
                        layout: { 
                            padding: 30 
                        //  padding: {
                        //      left: 30,
                        //      right: 30,
                        //      top: 30,
                        //      bottom: 30
                        //  }
                        },
                        responsive: true,
                        plugins: {
                            datalabels: {
                                color: "white",
                                textAlign: "center",
                                anchor: "end",
                                align: "end",
                                padding: 12,
                                font: {
                                    weight: "bold",
                                    size: 16
                                }
                            }
                        }
                    }
                    this.loaded = true;
                } catch (e) {
                    console.error(e)
                }
                
            }
        },
        computed: {},

        mounted() {
            // console.log(this.$unslugify(this.$route.params.slug));
            // console.log(this.$unslugify("south-asia"));
            this.fillChartData();
            this.toggleAccordion();

            if (this.$refs.accordionref !== undefined) {
                this.$refs.accordionref[0].open();
            }

        }
    }
</script>
