<template>
    <div class="area d-flex flex-wrap">

        <div :class="{'modal-active': area_analysis_active}">
            <div v-if="area_analysis_active" class="area-analysis-modal">
                <div class="modal-content d-flex justify-content-center">
                    <img :src="api_url + area[0].image" alt />
                    <div class="content" v-html="area[0].area_analysis"></div>
                    <svg @click="toggleAreaAnalysis" width="64" height="17" viewBox="0 0 64 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M28.4863 14V4.04688H31.7402C32.8203 4.04688 33.6315 4.27019 34.1738 4.7168C34.7207 5.16342 34.9941 5.82422 34.9941 6.69922C34.9941 7.16407 34.862 7.5765 34.5977 7.93653C34.3333 8.292 33.9733 8.56771 33.5176 8.76368C34.0553 8.91407 34.4792 9.20118 34.7891 9.625C35.1035 10.0443 35.2607 10.5456 35.2607 11.1289C35.2607 12.0221 34.9714 12.724 34.3926 13.2344C33.8138 13.7448 32.9958 14 31.9385 14H28.4863ZM29.7988 9.34473V12.9268H31.9658C32.5765 12.9268 33.0573 12.7695 33.4082 12.4551C33.7637 12.1361 33.9414 11.6986 33.9414 11.1426C33.9414 9.94401 33.2897 9.34473 31.9863 9.34473H29.7988ZM29.7988 8.292H31.7812C32.3555 8.292 32.8135 8.14844 33.1553 7.86133C33.5016 7.57422 33.6748 7.18457 33.6748 6.69239C33.6748 6.14551 33.5153 5.74903 33.1963 5.50293C32.8773 5.25228 32.3919 5.12696 31.7402 5.12696H29.7988V8.292ZM42.7051 11.4023H38.5352L37.5986 14H36.2451L40.0459 4.04688H41.1943L45.002 14H43.6553L42.7051 11.4023ZM38.9316 10.3223H42.3154L40.6201 5.667L38.9316 10.3223ZM53.5811 10.8418C53.458 11.8945 53.0684 12.708 52.4121 13.2822C51.7604 13.8519 50.8923 14.1367 49.8076 14.1367C48.6318 14.1367 47.6885 13.7152 46.9775 12.8721C46.2712 12.029 45.918 10.901 45.918 9.48829V8.53125C45.918 7.60612 46.082 6.79265 46.4102 6.09082C46.7428 5.389 47.2122 4.85124 47.8184 4.47754C48.4245 4.09929 49.1263 3.91016 49.9238 3.91016C50.9811 3.91016 51.8288 4.20638 52.4668 4.79883C53.1048 5.38672 53.4762 6.20248 53.5811 7.2461H52.2617C52.1478 6.45313 51.8994 5.87891 51.5166 5.52344C51.1383 5.16797 50.6074 4.99024 49.9238 4.99024C49.0853 4.99024 48.4268 5.30013 47.9482 5.91993C47.4743 6.53972 47.2373 7.42155 47.2373 8.56543V9.5293C47.2373 10.6094 47.4629 11.4684 47.9141 12.1064C48.3652 12.7445 48.9964 13.0635 49.8076 13.0635C50.5368 13.0635 51.0951 12.8994 51.4824 12.5713C51.8743 12.2386 52.1341 11.6621 52.2617 10.8418H53.5811ZM57.9082 9.37207L56.6914 10.6367V14H55.3789V4.04688H56.6914V8.96875L61.1143 4.04688H62.7002L58.7832 8.44239L63.0078 14H61.4355L57.9082 9.37207Z" fill="white"></path> <path d="M6.38821 12.2723C6.66348 12.5476 6.66348 12.9939 6.38821 13.2691C6.11295 13.5444 5.66665 13.5444 5.39139 13.2691L1.16222 9.03998C0.886957 8.76472 0.886957 8.31842 1.16222 8.04316L5.39139 3.81399C5.66665 3.53872 6.11295 3.53872 6.38821 3.81399C6.66348 4.08926 6.66348 4.53555 6.38821 4.81081L3.36231 7.83672L15.7503 7.83672C16.1438 7.83672 16.4629 8.1523 16.4629 8.54158C16.4629 8.93086 16.1438 9.24644 15.7503 9.24644L3.36233 9.24644L6.38821 12.2723Z" fill="white"></path></svg>
                </div>
            </div>
            <div v-if="!area_analysis_active" class="area-analysis-modal"></div>
        </div>

        <div class="map-zone d-flex flex-column justify-content-between">
            <div class="titre"><h1><span class="bleu bold">East Asia</span></h1></div>

            <button class="area-analysis-btn m-0 mb-4 d-flex flex-wrap align-items-center" @click="toggleAreaAnalysis">
                <div class="w-100 d-flex justify-content-center align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                        <g id="ALARM">
                            <circle id="Ellipse 140" cx="14" cy="14" r="14" fill="#00B3D8"/>
                            <g id="notification_active">
                                <path id="Rectangle 1324" d="M13.1 6.74857V5.9C13.1 5.40294 13.5029 5 14 5V5C14.4971 5 14.9 5.40294 14.9 5.9V6.8" stroke="white" stroke-width="1.5"/>
                                <path id="Rectangle 1325" d="M18.2113 10.9809C18.62 8.87637 17.1942 6.80005 15.0504 6.80005H12.7092C10.6367 6.80005 9.23212 8.73961 9.73312 10.7507C10.2258 12.7284 10.1999 14.2089 8.8685 17.0448M19.1557 17.2235C18.5975 16.3157 18.2659 15.4204 18.1055 14.5172" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
                                <ellipse id="Ellipse 139" cx="14" cy="18.05" rx="6.3" ry="1.35" stroke="white" stroke-width="1.5"/>
                                <path id="Vector 444" d="M21.6286 13.1236C21.9729 12.3325 22.1845 10.9934 21.3964 10.2286" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
                                <path id="Vector 445" d="M6.37274 13.1236C6.02804 12.3324 5.8158 10.9933 6.60359 10.2289" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
                                <path id="Vector 42" d="M15.8 22.1001C15.8 22.1001 15.5 23.0001 14 23.0001C12.5 23.0001 12.2 22.1001 12.2 22.1001" stroke="white" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                        </g>
                    </svg>
                    <span class="bold">A look at the contextual risks of the region</span>
                </div>
                <div class="ms-auto">
                    <span>Know more </span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="12" viewBox="0 0 19 12" fill="none">
                        <path id="ARROW" d="M11.9109 1.42259C11.5855 1.09715 11.5855 0.569515 11.9109 0.244078C12.2364 -0.0813592 12.764 -0.0813592 13.0895 0.244078L18.0895 5.24408C18.4149 5.56951 18.4149 6.09715 18.0895 6.42259L13.0895 11.4226C12.764 11.748 12.2364 11.748 11.9109 11.4226C11.5855 11.0972 11.5855 10.5695 11.9109 10.2441L15.4884 6.66665H0.842524C0.377211 6.66665 0 6.29356 0 5.83332C0 5.37308 0.377211 4.99999 0.842524 4.99999H15.4883L11.9109 1.42259Z" fill="#00b3d8"/>
                    </svg>
                </div>
            </button>

            <EastAsia />
            
            <div class="legende d-flex justify-content-center">
                <div>
                    <label class="d-flex flex-column align-items-center" for="thales-cyber-competence-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                            <circle cx="14" cy="14" r="14" fill="#C4D600"/>
                            <path d="M18.9779 9.96552C18.9779 7.2254 16.7405 5 13.9856 5C11.2306 5 9.00839 7.2254 9.00839 9.96552C9.00839 9.96552 8.96272 10.2229 9.08449 10.8133C9.14537 11.1463 9.2367 11.4794 9.35846 11.7822C9.87597 13.2658 11.0936 15.7939 14.0008 19.7603C16.8927 15.7788 18.1256 13.2658 18.6431 11.7822C18.7649 11.4794 18.8562 11.1463 18.9171 10.8133C19.0236 10.2077 18.9779 9.96552 18.9779 9.96552ZM13.9856 12.963C12.3113 12.963 10.9566 11.6156 10.9566 9.95038C10.9566 8.28511 12.3113 6.93776 13.9856 6.93776C15.6598 6.93776 17.0145 8.28511 17.0145 9.95038C17.0145 11.6156 15.6598 12.963 13.9856 12.963Z" fill="black"/>
                            <path d="M13.9849 22.9849C14.5985 22.9849 15.096 22.4901 15.096 21.8797C15.096 21.2694 14.5985 20.7746 13.9849 20.7746C13.3712 20.7746 12.8738 21.2694 12.8738 21.8797C12.8738 22.4901 13.3712 22.9849 13.9849 22.9849Z" fill="black"/>
                        </svg>
                        Cyber competencies center
                    </label>
                </div>
                <div>
                    <label class="d-flex flex-column align-items-center" for="thales-soc">
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                            <circle cx="14" cy="14" r="14" fill="#7C7FAB"/>
                            <path d="M18.9779 9.96552C18.9779 7.2254 16.7405 5 13.9856 5C11.2306 5 9.00839 7.2254 9.00839 9.96552C9.00839 9.96552 8.96272 10.2229 9.08449 10.8133C9.14537 11.1463 9.2367 11.4794 9.35846 11.7822C9.87597 13.2658 11.0936 15.7939 14.0008 19.7603C16.8927 15.7788 18.1256 13.2658 18.6431 11.7822C18.7649 11.4794 18.8562 11.1463 18.9171 10.8133C19.0236 10.2077 18.9779 9.96552 18.9779 9.96552ZM13.9856 12.963C12.3113 12.963 10.9566 11.6156 10.9566 9.95038C10.9566 8.28511 12.3113 6.93776 13.9856 6.93776C15.6598 6.93776 17.0145 8.28511 17.0145 9.95038C17.0145 11.6156 15.6598 12.963 13.9856 12.963Z" fill="black"/>
                            <path d="M13.9849 22.9849C14.5985 22.9849 15.096 22.4901 15.096 21.8797C15.096 21.2694 14.5985 20.7746 13.9849 20.7746C13.3712 20.7746 12.8738 21.2694 12.8738 21.8797C12.8738 22.4901 13.3712 22.9849 13.9849 22.9849Z" fill="black"/>
                        </svg>
                        Thales SOC
                    </label>
                </div>
                <div>
                    <label class="d-flex flex-column align-items-center" for="thales-cybels-train-and-experiment">
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                            <circle cx="14" cy="14" r="14" fill="#fdd924"></circle> 
                            <path d="M18.9779 9.96552C18.9779 7.2254 16.7405 5 13.9856 5C11.2306 5 9.00839 7.2254 9.00839 9.96552C9.00839 9.96552 8.96272 10.2229 9.08449 10.8133C9.14537 11.1463 9.2367 11.4794 9.35846 11.7822C9.87597 13.2658 11.0936 15.7939 14.0008 19.7603C16.8927 15.7788 18.1256 13.2658 18.6431 11.7822C18.7649 11.4794 18.8562 11.1463 18.9171 10.8133C19.0236 10.2077 18.9779 9.96552 18.9779 9.96552ZM13.9856 12.963C12.3113 12.963 10.9566 11.6156 10.9566 9.95038C10.9566 8.28511 12.3113 6.93776 13.9856 6.93776C15.6598 6.93776 17.0145 8.28511 17.0145 9.95038C17.0145 11.6156 15.6598 12.963 13.9856 12.963Z" fill="black"></path> 
                            <path d="M13.9849 22.9849C14.5985 22.9849 15.096 22.4901 15.096 21.8797C15.096 21.2694 14.5985 20.7746 13.9849 20.7746C13.3712 20.7746 12.8738 21.2694 12.8738 21.8797C12.8738 22.4901 13.3712 22.9849 13.9849 22.9849Z" fill="black"></path>
                        </svg>
                        Cybels Train &amp; Experiment
                    </label>
                </div>
                <div>
                    <label class="d-flex flex-column align-items-center" for="testimony">
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                            <circle cx="14" cy="14" r="14" fill="white"/>
                            <circle cx="14" cy="14" r="9" fill="#00AB8E"/>
                        </svg>
                        Testimony
                    </label>
                </div>
                <div>
                    <label class="d-flex flex-column align-items-center" for="speakers-bureau">
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                            <circle cx="14" cy="14" r="14" fill="white"/>
                            <circle cx="14" cy="14" r="9" fill="#BB0E9F"/>
                        </svg>
                        Speakers Bureau
                    </label>
                </div>
            </div>
        </div>



        <div class="targeted-sector">
            <p class="h2 text-bold uppercase mb-4">Main of attackers by targeted sectors</p>
            <ul class="mb-5">
                
                <NuxtLink 
                    :to="'/targeted-sectors/' + index" 
                    tag="li" 
                    v-for="(a, index) in adversaries_by_area" :key="index"
                    v-if="index != 'count_adv_type'"
                    class="d-flex justify-content-between align-items-center"
                >
                    <p class="me-3 picto" v-html="a.icon_adv_type"></p>
                    <p class="me-auto" v-html="index"></p>
                    <div class="d-flex" v-if="a.hasOwnProperty('cyber_terrorist')">
                        <NuxtLink 
                            :to="'/attackers/' + atk" 
                            tag="div" 
                            v-for="(atk, i) in a.cyber_terrorist" :key="i"
                            class="point point-rouge"
                        ><p class="atk-rollover">{{ atk }}</p></NuxtLink>
                    </div>
                    <div class="d-flex" v-if="a.hasOwnProperty('state_sponsored')">
                        <NuxtLink 
                            :to="'/attackers/' + atk" 
                            tag="div" 
                            v-for="(atk, i) in a.state_sponsored" :key="i"
                            class="point point-orange"
                        ><p class="atk-rollover">{{ atk }}</p></NuxtLink>
                    </div>
                    <div class="d-flex" v-if="a.hasOwnProperty('cyber_criminal')">
                        <NuxtLink 
                            :to="'/attackers/' + atk" 
                            tag="div" 
                            v-for="(atk, i) in a.cyber_criminal" :key="i"
                            class="point point-bleu"
                        ><p class="atk-rollover">{{ atk }}</p></NuxtLink>
                    </div>
                </NuxtLink>

            </ul>

            <p class="text-center mb-3 h2 text-bold">Adversary Type</p>
            <div class="d-flex justify-content-between adversary-type">
                <div class="d-flex flex-column"><div class="point point-bleu"></div>Cyber Criminal</div>
                <div class="d-flex flex-column"><div class="point point-orange"></div>State-Sponsored</div>
                <div class="d-flex flex-column"><div class="point point-rouge"></div>Terrorists</div>
            </div>
        </div>


        <div class="chart-top d-flex flex-column justify-content-center">
            <div class="chart">
                <p class="h2 text-bold uppercase text-center">Adversary type</p>
                <DoughnutArea :data="chartData" :options="options" v-if="loaded" />
            </div>
            <div>
                <p class="h2 text-bold uppercase mb-3">TOP 3 ATTACKED SECTORS</p>
                <NuxtLink
                    tag="div"
                    :to="'/targeted-sectors/' + ts"
                    v-for="ts in top_3_targeted_sectors_for_area.top_3_targeted_sectors_for_area" :key="ts"
                >
                    <div v-html="ts" class="h3 bleu mb-4"></div>
                </NuxtLink>
            </div>
            <div class="d-flex flex-column mt-2">
                <span class="text-bold h2">East Asia REPORTS</span>
                <NuxtLink :to="'/media-library/reports?area=' + area[0].nid" tag="button" class="mb-4">See more</NuxtLink>
            </div>
        </div>

        <WorldBg />

    </div>
</template>



<script>
    import EastAsia from "~/components/areas/EastAsia.vue";
    import DoughnutArea from '~/components/charts/DoughnutArea.vue';
    import WorldBg from '~/components/_global/WorldBg.vue';
    import ChartDataLabels from 'chartjs-plugin-datalabels';
    

    export default {
        components: { EastAsia, DoughnutArea, WorldBg },
        data () {
            return {
                api_url: process.env.BASE_API_URL,
                area_analysis_active: false,
                loaded: false,
                // CHART ///////////////////////////////////////////////////////
                /////////////////////////////////////////////////////////////
                chartData: null,
                options: null

                // API DATA /////////////////////////////////////////////////////
                /////////////////////////////////////////////////////////////
                // adversaries_by_area: [],
            }
        },
        async asyncData({ params, $axios }) {
            let area = await $axios.$get(`${process.env.BASE_API_URL}/api/areas?title=East%20Asia`);
            const top_3_targeted_sectors_for_area = await $axios.$get(`${process.env.BASE_API_URL}/api/top-3-targeted-sectors-for-area?area=East%20Asia`);
            const adversaries_by_area = await $axios.$get(`${process.env.BASE_API_URL}/api/area-adversaries?area=East%20Asia`);
            return { area, adversaries_by_area, top_3_targeted_sectors_for_area }
        },
        methods: {
            toggleAreaAnalysis () {
                this.area_analysis_active = !this.area_analysis_active;
            },
            fillChartData () {
                try {
                    this.chartData = {
                        // labels: ["Green", "Red", "Blue", "orange"],
                        datasets: [{
                            hoverOffset: 4,
                            borderWidth: 0,
                            // backgroundColor: ['#C36B65', '#00B3D8', '#FF9C07'],
                            backgroundColor: () => {
                                const adv_type = Object.keys(this.adversaries_by_area.count_adv_type);
                                const bg_chart = [];
                                for (const i in adv_type) {
                                    if (adv_type[i] == "Cyber Terrorist") bg_chart.push("#C36B65")
                                    if (adv_type[i] == "State Sponsored") bg_chart.push("#FF9C07")
                                    if (adv_type[i] == "Cyber Criminal") bg_chart.push("#00B3D8")
                                }
                                return bg_chart;
                            },
                            data: Object.values(this.adversaries_by_area.count_adv_type),
                        }]
                    }
                    this.options = {
                        events: [],
                        cutout: 100,
                        layout: { 
                            padding: 30 
                        //  padding: {
                        //      left: 30,
                        //      right: 30,
                        //      top: 30,
                        //      bottom: 30
                        //  }
                        },
                        responsive: true,
                        plugins: {
                            datalabels: {
                                color: "white",
                                textAlign: "center",
                                anchor: "end",
                                align: "end",
                                padding: 12,
                                font: {
                                    weight: "bold",
                                    size: 16
                                }
                            }
                        }
                    }
                    this.loaded = true;
                } catch (e) {
                    console.error(e)
                }
                
            }
        },
        computed: {},

        mounted() {
            this.fillChartData();
        }
    }
</script>
