.area-menu {
    .st0 { fill: #6F6F6F; }
    .st1 { fill: #FFFFFF; }
    .st2 { 
        fill: none;
        stroke: #FFFFFF; 
        stroke-width: 0.5;
        stroke-miterlimit: 10; 
    }
}

.area {
    padding: 4vh;
    position: relative;

    foreignObject { overflow: visible; }

    .top-bar { border-radius: 10px; }

    .countries-container {
        svg {
            cursor: pointer;
            transform: rotate(0deg); 
            transition: transform .3s ease, opacity 2s ease;
            .dash-v { opacity: 1; transition: opacity .3s ease; }
            &.countries-active {
                transform: rotate(180deg); 
                .dash-v { opacity: 0; }
            }
        }
        .countries {
            // position: relative;
            .tag {
                cursor: pointer;
                // &:hover { color: var(--bleu); }
            }
        }
    }

    section.map-area {
        flex-wrap: wrap;
        @media (min-width: 1200px) { flex-wrap: nowrap; }
        .area-analysis {
            width: 100%;
            padding: 40px;
            height: fit-content;
            background: linear-gradient(118.83deg, rgba(239, 239, 239, 0.27) 14%, rgba(255, 255, 255, 0.054) 38.26%);
            backdrop-filter: blur(20px);
        }
        .map-zone {
            width: 100%;
            align-items: center;
            margin-bottom: 4rem;
            @media (min-width: 1200px) { max-width: 920px; }
            button.area-analysis-btn {
                width: 100%; height: 68px;
                max-width: 28rem;
                padding: 8px;
                color: var(--bleu);
                transition: all .3s ease;
                background: linear-gradient(118.83deg, rgba(239, 239, 239, 0.27) 14%, rgba(255, 255, 255, 0.054) 38.26%);
                span { 
                    transition: margin .3s ease;
                    margin: 0 1rem; 
                }
                svg { 
                    transition: transform .3s ease;
                    transform: scale(1); 
                }
                &:hover {
                    div:nth-child(1) {
                        svg { transform: scale(1.2); }
                    }
                }
                div:nth-child(2) svg { 
                    transition: margin-right .3s ease;
                    margin-right: 0; 
                }
                &:hover {
                    div:nth-child(2) {
                        svg { margin-right: 2rem; }
                    }
                }
            }
            svg.area-map {
                width: 100%;
                max-width: 34rem;
                height: 34rem;
            }
        }
    }

    p { margin: 0; }
    .point {
        margin: 0 2px;
        transform: scale(1);
        transition: transform .6s ease;
        position: relative;
        &:hover {
            cursor: pointer;
            transform: scale(1.4);
        }
        &.point-bleu {
            width: 15px; height: 15px;
            border-radius: 50%;
            background-color: #00B3D8;
        }
        &.point-rouge {
            width: 15px; height: 15px;
            border-radius: 50%;
            background-color: #C36B65;
        }
        &.point-orange {
            width: 15px; height: 15px;
            border-radius: 50%;
            background-color: #FF9C07;
        }
        &.point-vert {
            width: 15px; height: 15px;
            border-radius: 50%;
            background-color: #00884F;
        }
        .atk-rollover {
            display: none;
            position: absolute;
            padding: 6px;
            top: -30px; left: 50%;
            transform: translateX(-50%);
            font-size: 10px;
            background-color: var(--bleu);
        }
        &:hover .atk-rollover { display: block; }
    }

    section.data-atk-area-container {
        flex-wrap: wrap;
        @media (min-width: 1200px) { flex-wrap: nowrap; }
        .data-atk-area-left {
            width: 100%;
            max-width: 468px;
            margin: 0 auto 0 auto;
            @media (min-width: 1200px) { 
                margin: 0 3rem 0 0;
                order: 1; 
            }
            .adversary-type {
                text-align: center;
                font-size: 12px;
                & > div {
                    width: 5rem;
                    // margin: 0 6px;
                    .point { margin: 4px auto; }
                }
            }
            ul.main-atk-by-ts { 
                li {
                    // width: 100%;
                    height: 30px;
                    background-color: var(--darkless);
                    margin: 8px 0;
                    padding: 4px 20px;
                    transform: scale(1);
                    transition: background-color .3s ease;
                    &:hover {
                        cursor: pointer;
                        background-color: var(--darktext);
                        // transform: scale(1.04);
                    }
                    p.picto { 
                        width: 16px; height: 16px; 
                        svg { width: 100%; }
                    }
                }
            }
            a:hover { color: unset; }
        }
        .data-atk-area-right {
            @media (min-width: 1200px) { order: 2; }
        }
        
        .chart {
            position: relative;
            width: 100%;
            max-width: 20rem;
            p {
                position: absolute;
                top: 50%; left: 50%;
                transform: translate(-50%, -50%);
            }
            #doughnut-chart {
                width: 300px;
                height: 300px;
                margin-bottom: 2rem;
                // padding: 5rem;
            }
        }
    }


    .accordion__trigger {
        background-color: var(--darkless);
        .accordion-header { color: var(--darktext); }
    }
    .accordion__content { background-color: var(--darkless); }

}