/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");


// .st0 { fill: #636363; }
// .st1 { opacity: 0; }
// .st2 { opacity: 0; fill: #c63636; }
// .st3 { fill: #c63636; }
// .st4 { opacity: 0; fill: #636363; }
// .st5 { opacity: 0; fill: #ffffff; }
// .st6 { fill: none; }


// $sm		: 576px;
// $md		: 768px;
// $lg		: 992px;
// $xl		: 1200px;
// $xxl	: 1400px;

:root {
	--dark            						: #04000e;
	--darkless        						: #2F2F2F;
	--darktext        						: #AAA;
	--light-content-bg						: #E5E5E5;
	--creme           						: #FFF6ED;
	--blanc           						: #FFF;
	--bleu            						: #00b3d8;
	--bleu-dark       						: #02aacc;
	--rouge 								: #EE2737;
	--thales-competencies-center  			: #C4D600;
	--thales-soc                  			: #7C7FAB;
	--cybels-train-and-experiment 			: #fdd924;
	--thales-sharing-of-thales-expertise 	: #00AB8E;
	--thales-speakers-bureau      			: #BB0E9F;
}

// TRANSITION ======================================
// =================================================
.page-enter-active, 
.page-leave-active { transition: opacity .5s; }

.page-enter, 
.page-leave-active { opacity: 0; }
// =================================================


body {
	font-family: "Open Sans", sans-serif;
	color: white;
	font-size: 1rem;
	line-height: 1.5;
	background: var(--dark);
	letter-spacing: 0.5px;
	font-smooth: always;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
}

.layout-container {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

::selection {
	background: var(--bleu);
	color: white;
}
ul {
	margin: 0;
	padding: 0;
}
/* HEADINGS */
h1,.h1 {
	font-size: 32px;
	margin-top: 0;
	letter-spacing:-1px;
}
h2,.h2 { font-size: 20px; }
h3,.h3 {
	font-size: 14px;
	font-weight: 700;
	color: var(--bleu);
}
/* Layout */
.container {
	height: 100%;
	position: relative;
	z-index: 2;
}
.home .container { height: 100vh; }

.page-container {
	position: relative;
	// margin: 0 1rem;
	margin: 0 auto 2rem;
	// padding: 0 1rem;
	width: 95%;
	// @media (min-width: 1080px) {  
		// max-width: 1600px;
	// }
}

// header {
// 	display: flex;
// 	justify-content: space-between;
// }
// .header {
// 	height: 100px;
// 	align-items: center;
// 	padding: 0 4vh;
// }
.titre {
	position: relative;
	text-align     : center;
	display        : flex;
	justify-content: center;
	align-items    : center;
	color          : white;
}
.content { display: block }
.content--alt {
	position: relative;
	z-index : 4;
}

.fullwrapper {
	min-height: 100vh;
	width     : 100%;
	position  : relative;
}

.grid-50 {
	display              : grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows   : 1fr;
	gap                  : 40px 40px;
	grid-template-areas  :
		". .";
}

.grid-lg-40-60 {
	@media (min-width: 992px) {  
		display              : grid;
		grid-template-columns: 40% 60%;
		grid-template-rows   : 1fr;
		gap                  : 40px 40px;
		grid-template-areas  :
			". .";
	}
}
/* Home */
.homepage { overflow: hidden; }


a {
	text-decoration: none;
	color          : white;
}

a:hover,
a:focus {
	transition: all 300ms ease-out;
	color     : var(--bleu);
}
.logomaincolor { fill: white; }


.footer {
	position: relative;
	z-index: 5;
	height: 70px;
}
.home .footer { margin-top:-70px; }

button {
	display       : block;
	width         : 100%;
	margin-top    : 15px;
	appearance    : none;
	border-width  : 0;
	background    : var(--bleu);
	border-radius : 4px;
	height        : 35px;
	padding       : 0 2vw;
	color         : white;
	text-transform: uppercase;
	text-align    : center;
	font-size     : 12px;

	&:hover { cursor: pointer; }
}

::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: rgba(255,255,255,.2);
}

::-webkit-scrollbar-thumb {
    background: var(--bleu);
    -webkit-border-radius: 0;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}


// BTN + sur /our-experts ,  /news
.plus {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 4vh 0 4vh 0;
	margin-bottom: 70px;
	svg {
		cursor: pointer;
	}
}


// SUPPORTS //////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.backdrop-blur { backdrop-filter: blur(6px); }
   
/* if backdrop support: very transparent and blurred */
@supports ((-webkit-backdrop-filter: blur(6px)) or (backdrop-filter: blur(6px))) {
	.backdrop-blur {
		background-color: rgba(var(--dark), var(--dark), var(--dark), .5);
		-webkit-backdrop-filter: blur(6px);
		backdrop-filter: blur(6px);
	}
}






// DATA / TABLEAUX ///////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

tr { position: relative; }
// tr:hover .tooltip {
// 	opacity: 1;
// 	transform: translate(0, -50%);
// }
// th, td { width: 1rem; }
.table-container {
	// padding: 0 4vh 4vh;
	margin-top: 4vh;
	position: relative;
	z-index: 4;
	overflow-x: auto;
	table {
		border: 1px solid rgba(var(--blanc), 0.1);
		border-spacing: 0;
		font-size: 13px;
		width: 100%;
		&.odd-even tbody {
			tr:nth-child(even) { background-color: var(--darkless); }
			tr:nth-child(odd) { background-color: var(--dark); }
		}
		thead {
			background-color: var(--darkless);
			border-width: 0;
			tr {
				th {
					padding: 1rem 2rem;
					text-transform: uppercase;
					text-align: left;
				}
			}
		}
		tbody {
			a { color: var(--bleu); }
			tr {
				transition: background-color 400ms ease-out;
				td {
					padding: 12px 2rem;
					cursor: pointer;
				}
				a { transition: color 400ms ease-out; }
				&:hover {
					background-color: var(--bleu) !important;
					td:last-child { text-align: center; }
					a {
						color: var(--blanc);
						font-size: 0;
					}
					svg * { fill: var(--blanc); }
				}
			}
		}
	}
}

/* // FILTRES */
.filtres {
	position   : relative;
	// z-index    : 2;
	// display    : flex;
	// flex-wrap  : wrap;
	// align-items: center;
	// padding: 4vh 4vh 0vh 4vh;
	// select, option { font-weight: bold; }
	select {
		appearance      : none;
		background-color: var(--blanc);
		border-width    : 0;
		height          : 35px;
		width			: 100%;
		padding         : 0 2vw 0 15px;
		border-radius   : 4px;
		color           : var(--bleu);
		margin-right    : 10px;
		outline			: none;

		option { color: var(--bleu); }
	}

	.select-container {
		position: relative;
		justify-content: center;
		// width: 45%;
		margin: 8px;
		@media (min-width: 1200px) { justify-content: space-between; }
		&::after {
			content   : "";
			background: url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.33341 1.25L5.00008 5.75L0.666748 1.25' stroke='%2300B3D8' stroke-width='1.08333' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") no-repeat center;
			position  : absolute;
			top       : 50%;
			transform : translateY(-50%);
			right     : 25px;
			width     : 12px;
			height    : 12px;
		}
	}
}




input.search-input {
	appearance      : none;
	background-color: var(--blanc);
	border-width    : 0;
	height          : 35px;
	padding         : 0 2vw 0 15px !important;
	border-radius   : 4px !important;
}

// .tooltip {
// 	position: absolute;
// 	background-color: var(--dark);
// 	padding: 16px;
// 	border-radius: 4px;
// 	opacity: 0;
// 	transition: all 400ms ease-out;
// 	transform: translate(-15px, -50%);
// 	display: flex;
// 	flex-direction: column;
// 	justify-content: center;
// 	align-items: center;
// 	top: 50%;
// 	z-index: 5;
// 	left: 100px;
// 	font-size: 14px;
// 	font-weight: bold;
// 	width: 120px;
// 	text-align: center;
// 	span {
// 		font-size: 12px;
// 		font-weight: normal;
// 	}
// 	&:after {
// 		right: 100%;
// 		top: 50%;
// 		border: solid transparent;
// 		content: "";
// 		height: 0;
// 		width: 0;
// 		position: absolute;
// 		pointer-events: none;
// 		border-color: rgba(136, 183, 213, 0);
// 		border-right-color: var(--dark);
// 		border-width: 8px;
// 		margin-top: -8px;
// 	}
// }

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////





// PAGES /news /reports /webinars /////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.tags-container {
	svg {
		cursor: pointer;
		transform: rotate(0deg); 
		transition: transform .3s ease, opacity 2s ease;
		.dash-v { opacity: 1; transition: opacity .3s ease; }
		&.tags-active {
			transform: rotate(180deg); 
			.dash-v { opacity: 0; }
		}
	}
	.tags {
		// position: relative;
		.tag {
			cursor: pointer;
			&:hover { color: var(--bleu); }
		}
	}
}
ul.tags {
	list-style: none;
	// width: 40%;
	li {
		margin: 8px;
		padding: 12px;
		border: 1px solid white;
		margin-right: 12px;
		border-radius: 4px;
		font-size: 11px;
		transition: background-color .3s ease, color .3s ease;
		cursor: pointer;
		&:hover {
			background-color: var(--bleu);
			color: var(--blanc);
		}
		&:hover a { color: var(--blanc); }
	}
}


// LEGAL, CREDITS AND THE PROJECT /////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
#credit, 
#legal-notice,
#the-projects {
	padding: 0 2rem;
	max-width: 768px;
	margin: 0 auto 2rem;
	p { word-break: break-word; }
}
