/* Helpers */
.mb0{ margin-bottom: 0; }
.mb5 { margin-bottom: 5px; }
.mb10 { margin-bottom: 10px; }
.mb15 { margin-bottom: 15px; }
.mb20 { margin-bottom: 20px; }
.mb30 { margin-bottom:30px; }
.mb40 { margin-bottom:40px; }
.mb50 { margin-bottom: 50px; }
.mt0{ margin-top: 0; }
.mt10{ margin-top: 10px; }
.ml-auto{ margin-left: auto; }
.ml15 { margin-left: 15px; }
.mr-0{ margin-right: 0 !important; }

.bleu { color: var(--bleu); }
.blanc { color: var(--blanc); }
// .white{ color:white; }

.bold { font-weight: 700; }
.text-bold { font-weight: bold; } 
.uppercase { text-transform: uppercase; }
.text-center { text-align: center; }

.w-50 { width: 50%; }
.w-100 { width: 100%; }

.img-fluid{
  max-width: 100%;
  height: auto;
}

.position-relative { position: relative; }
.center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.break {
    flex-basis: 100%;
    height: 0;
}

.position-relative { position: relative; }
.position-static { position: static !important; }