/* LIGHT MODE */
body.light-mode {
	color: var(--dark);
	background: var(--white);
	// .fond { display: none; }
	a, a:hover, a:focus { color: var(--dark); }
	.logomaincolor { fill: var(--dark); }
	.main-nav ul li:hover a,
	.add-nav ul li.aftered:hover a { color: var(--dark); }
	.main-nav .visible *{ color: white; }
	.add-nav ul li.aftered a::after,
	.main-nav ul li a::after { background-color: var(--bleu); }
	
	.blanc { color: var(--dark); }


	
	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	// MENU ////////////////////////////////////////////////////////////////////////////////////////////////////////
	#menu-descktop {
		background-color: var(--blanc);
	}



	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	// COMPONENTS ////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	// Card.vue : --------------------------------------
	// #card {
    //     &:hover {
    //         ::-webkit-scrollbar { background: var(--blanc); }
    //         ::-webkit-scrollbar-thumb { background: var(--bleu); }
    //         ::selection {
    //             background: var(--blanc);
    //             color: var(--bleu);
    //         }
    //         .card-header {
    //             color: var(--bleu);
    //             background-color: var(--blanc);
    //         }
    //         .card-content { background-color: var(--darktext); }            
    //     }
    //     .card-header { 
	// 		color: var(--blanc);
	// 		background-color: var(--bleu); 
	// 	}
    //     .card-content { background-color: var(--blanc); }
    // }
	.cards {
		.card {
			.card-header {
				p { color: var(--blanc); }
			}
			&:hover { 
				.card-header {
					background-color: var(--bleu); 
					p { color: var(--blanc); }
				}
				.card-content { 
					background-color: var(--light-content-bg); 
					border-color: #E5E5E5;
					h2 { color: var(--bleu)!important; }
				}
			}
			.card-content { 
				border-width: 0 2px 2px 2px;
				border-style: solid;
				border-color: var(--light-content-bg);
				background-color: var(--blanc); 
			}

		}
	}

	// MAP : --------------------------------------
	// MAPSVG : --------------------------------------
	#map-svg-home {
        @keyframes highlight-area {
            0% { fill: var(--blanc); }
            100% { fill: var(--bleu); }
        }

        #zones {
            // path { fill: rgba(0, 0, 0, 0.3); }
            rect { fill: transparent; }
            .active {
                & > path { animation: highlight-area .3s forwards; }
                foreignObject.map-tooltip {
                    visibility: visible;
                    opacity: .9;
                }
            }
        }
    }


	// FEEDS WIDGET : --------------------------------------
	#feeds {
		.feed-item {
			.feed-content { 
				background-color: var(--darkless); 
			}
		}
	}

	// SIDEBAR : --------------------------------------
	
	// WORLDBG : --------------------------------------
	// WORLDBGVIDEO : --------------------------------------
	// #bg-video {
		
	// }
	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

	
	// TABLES ////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	table {
		&.odd-even tbody {
			tr:nth-child(even) { background-color: var(--light-content-bg); }
			tr:nth-child(odd) { background-color: var(--blanc); }
		}
		thead { background-color: var(--darktext); }
		tbody { background: var(--light-content-bg); }
	}
	

	// ACCORDION /////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	.accordion {
		// .accordion__item__single {}
		color: var(--blanc);
		.accordion__item__single {
			.accordion__content { background-color: var(--darktext)!important; }
		}
		.accordion__item {
			.accordion__trigger {
				border: 1px solid #E5E5E5;
				.accordion-header { 
					color: var(--bleu)!important; 
					background-color: var(--blanc);
				}
			}
			.accordion__content { background-color: var(--darktext)!important; }
		}
	}









	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	// PAGES /////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////



	// HOME //////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	.home {
		.accordion .accordion__item .accordion__trigger { background-color: unset; }
		h1 { color: var(--blanc) }
		#timer .date { color: var(--blanc); }
	}
	
	// SEARCH ////////////////////////////////////////////////////////////////////////////////////////////////////////////
	///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	.search-input.search-active .search-content{
		background-color: var(--light-content-bg)!important;
	}
	#search-page {
		.search-result:hover { 
			background: var(--light-content-bg); 
		}
	}

	// AREA //////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	.area {
		button a { color: var(--blanc); }
		.data-atk-area-container {
			.data-atk-area-left {
				& > p.blanc { color: var(--dark); }
				ul.main-atk-by-ts { 
					li {
						background-color: var(--light-content-bg)!important;
						&:hover {
							background-color: var(--darktext)!important;
						}
					}
				}
			}
		}
	} 


	// TARGETED SECTORS ///////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	.targeted-sectors {
		.sector { 
			background-color: var(--darktext); 
			transition: all 400ms ease-out;
			&:hover { background-color: var(--bleu); }
			// span { color: var(--darkless); }
			&:hover, &:focus, &.active {
				span { color: var(--blanc); }
			}
			svg {
				* { fill: var(--blanc); }
			}
		}
	}
	#page-targeted-sectors-slug {
		.opac-bg {
			&::before { background: linear-gradient(0deg, var(--blanc) 0%, var(--blanc) 0%, rgba(0, 0, 0, 0.3) 80%); }
			&::after { background: var(--blanc); }
		}
	}


	// EXPERTS ///////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	#page-experts {
		.filtres .legende label,
		.filtres .legende > div .speakers-bureau a { background-color: var(--light-content-bg); }
		.filtres .expert-sectors ul li label { color: var(--darktext); }
	}

	// NEWS //////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	.newsitem__inner .newsplaceholder { background-color: var(--dark); }
	ul.tags li { border-color: var(--dark); }
	

	// FILTRES ///////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	.titre { color: var(--dark); }
	input[type="text"],
	input[type="email"],
	textarea { border: 1px solid rgba(0, 0, 0, 0.1); }
	.filtres select {
		border: 1px solid rgba(0, 0, 0, 0.1);
		// background-color: transparent;
		background-color: var(--blanc);
		color: var(--bleu);
	}
	.filtres select option { color: var(--bleu); }


	// MEDIA LIBRARY //////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	#reports {     
		.reports {
			.report {
				border: 1px solid var(--bleu);
			} 
		} 
	}
	.article {
		display: flex;
		border: 1px solid rgba(0, 0, 0, 0.1);
	}
	.article .download svg * { fill: var(--dark); }
}

