
#reports, #webinar, #video {
    .filtres {
        .select-wraper {
            .select-container {
                width: 100%;
                @media (min-width: 768px) { width: 262px; }
                @media (min-width: 992px) { 
                    &:first-child { margin-left: 0; } 
                }
                // @media (min-width: 1200px) { width: 205px; }
                select { width: 100%; }
            }
        }
    }
}


// REPORTS ///////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
#reports {     
    .reports {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
		grid-gap: 24px;
        @media (min-width: 1060px) { grid-template-columns: repeat(2, 1fr); }
        @media (min-width: 1600px) {
            // padding: 4vh;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr;
        }
        .report {
            display: flex;
            flex-wrap: wrap;
            border: 1px solid rgba(white, 0.5);
            width: 100%;
            max-width: 18rem;
            height: max-content;
            // margin: auto;
            margin: 1rem auto;
            padding: 25px;
            @media (min-width: 576px) { max-width: 28rem; }
            .placeholder {
                width: 100%; 
                max-width: 10rem;
                img { width: 100%; }
            }
            .report-content {
                padding-right: 0;
                max-width: 16rem;
                @media (min-width: 576px) { padding-left: 30px; }
                h2 { cursor: pointer; }
                p {
                    font-size: 14px;
                    padding: 0;
                }
            }
            .tags {
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                li {
                    margin-right: 12px;
                    font-size: 11px;
                    padding: 0;
                    border-width: 0;
                    cursor: pointer;
                    &:hover {
                        background-color: unset;
                        color: var(--bleu);
                    }
                }
            }
        }
    }
    
    // .grid-50 {
    //     grid-template-rows: auto;
    // }
    
    .download {
        display: block;
        width: 100%;
        text-align: right;
        margin-bottom: -4px;
    }
}

#page-report-single {
	img { width: 100%; }
    .reportcontent {
        height: fit-content;
        padding: 25px;
        @media (min-width: 992px) { 
            width: 100%;
            max-width: 30rem;
            border: 1px solid rgba(white, 0.5); 
        }
    }
}















// WEBINARS / VIDEOS ///////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
#webinar,
#video {
    // .news-container-single {
    //     padding: 4vh;
    //     position: relative;
    //     z-index: 4;
    // }
    .grid-50 { grid-template-rows: auto; }
    .date { font-size: 11px; }
    .webinar-container,
    .video-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 24px;
        grid-row-gap: 0px;
        @media (min-width: 576px) { grid-template-columns: repeat(2, 1fr); }
        @media (min-width: 1200px) {
            // padding: 4vh;
            margin-bottom: -4vh;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 1fr;
        }
        .webinar-item,
        .video-item {
            min-height: 350px;
            margin-bottom: 20px;
            width: 100%;
            cursor: pointer;
            // @media (min-width: 767px) { width: 41vw; }
            // @media (min-width: 1200px) { width: 22.25vw; }
            .webinar-placeholder,
            .video-placeholder {
                border-radius: 0;
                position: relative;
                height: 260px;
                background-color: var(--bleu);
                overflow: hidden;
                &::after {
                    content: "";
                    position: absolute;
                    width: 100%; height: 100%;
                    top: 0; left: 0;
                    z-index: 1;
                    transform: scale(1);
                    transition: transform 300ms ease-out;
                    background: url("data:image/svg+xml,%3Csvg width='57' height='57' viewBox='0 0 57 57' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='1' width='55' height='55' rx='27.5' stroke='white' stroke-width='2'/%3E%3Cpath d='M22.8799 21.2747L34.1193 28.5L22.8799 35.7254V21.2747Z' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A")
                        no-repeat center;
                }
                img {
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                }
            }
            &:hover {
                .webinar-placeholder,
                .video-placeholder {
                    &::after {
                        transform: scale(1.4);
                    }
                }
                .date { color: white; }
            }
        }
    }
}
.body-light-mode .webinar .webinar-item {
    &:hover {
        .date { color: var(--dark) !important; }
    }
}