/* // SWITCHES */
.switchcontainer {
  position: fixed;
  bottom: 40px;
  right: 4vh;
  z-index: 4;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background: white
    url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' width='256' height='256' viewBox='0 0 256 256' xml:space='preserve'%3E%3Cdesc%3ECreated with Fabric.js 1.7.22%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg transform='translate(128 128) scale(0.72 0.72)' style=''%3E%3Cg style='stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;' transform='translate(-175.05 -175.05000000000004) scale(3.89 3.89)' %3E%3Cpath d='M 87.823 60.7 c -0.463 -0.423 -1.142 -0.506 -1.695 -0.214 c -15.834 8.398 -35.266 2.812 -44.232 -12.718 c -8.966 -15.53 -4.09 -35.149 11.101 -44.665 c 0.531 -0.332 0.796 -0.963 0.661 -1.574 c -0.134 -0.612 -0.638 -1.074 -1.259 -1.153 c -9.843 -1.265 -19.59 0.692 -28.193 5.66 C 13.8 12.041 6.356 21.743 3.246 33.35 S 1.732 57.08 7.741 67.487 c 6.008 10.407 15.709 17.851 27.316 20.961 C 38.933 89.486 42.866 90 46.774 90 c 7.795 0 15.489 -2.044 22.42 -6.046 c 8.601 -4.966 15.171 -12.43 18.997 -21.586 C 88.433 61.79 88.285 61.123 87.823 60.7 z' style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;' transform=' matrix(1 0 0 1 0 0) ' stroke-linecap='round' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E")
    no-repeat center / 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider:before {
  background: var(--dark)
    url("data:image/svg+xml,%3Csvg id='Groupe_2' data-name='Groupe 2' xmlns='http://www.w3.org/2000/svg' width='252.072' height='252.072' viewBox='0 0 252.072 252.072'%3E%3Cpath id='Tracé_828' data-name='Tracé 828' d='M126.036,41.631a5.6,5.6,0,0,1-5.6-5.6V5.6a5.6,5.6,0,1,1,11.2,0V36.029A5.6,5.6,0,0,1,126.036,41.631Z' fill='%23fff'/%3E%3Cpath id='Tracé_829' data-name='Tracé 829' d='M126.036,252.072a5.6,5.6,0,0,1-5.6-5.6V216.045a5.6,5.6,0,1,1,11.2,0V246.47A5.6,5.6,0,0,1,126.036,252.072Z' fill='%23fff'/%3E%3Cpath id='Tracé_830' data-name='Tracé 830' d='M36.029,131.638H5.6a5.6,5.6,0,1,1,0-11.2H36.029a5.6,5.6,0,1,1,0,11.2Z' fill='%23fff'/%3E%3Cpath id='Tracé_831' data-name='Tracé 831' d='M246.47,131.638H216.045a5.6,5.6,0,1,1,0-11.2H246.47a5.6,5.6,0,1,1,0,11.2Z' fill='%23fff'/%3E%3Cpath id='Tracé_832' data-name='Tracé 832' d='M189.681,67.992a5.6,5.6,0,0,1-3.96-9.562l21.516-21.516a5.6,5.6,0,1,1,7.921,7.921L193.642,66.351A5.584,5.584,0,0,1,189.681,67.992Z' fill='%23fff'/%3E%3Cpath id='Tracé_833' data-name='Tracé 833' d='M40.875,216.8a5.6,5.6,0,0,1-3.96-9.562L58.43,185.718a5.6,5.6,0,1,1,7.921,7.921L44.835,215.155A5.575,5.575,0,0,1,40.875,216.8Z' fill='%23fff'/%3E%3Cpath id='Tracé_834' data-name='Tracé 834' d='M62.391,67.992a5.575,5.575,0,0,1-3.96-1.641L36.915,44.835a5.6,5.6,0,0,1,7.921-7.921L66.351,58.43a5.6,5.6,0,0,1-3.96,9.562Z' fill='%23fff'/%3E%3Cpath id='Tracé_835' data-name='Tracé 835' d='M211.194,216.8a5.579,5.579,0,0,1-3.96-1.641l-21.516-21.516a5.6,5.6,0,0,1,7.921-7.921l21.516,21.516a5.6,5.6,0,0,1-3.96,9.562Z' fill='%23fff'/%3E%3Cpath id='Tracé_836' data-name='Tracé 836' d='M91.595,48.485a5.6,5.6,0,0,1-5.179-3.459L74.773,16.914a5.6,5.6,0,0,1,10.349-4.288L96.768,40.738a5.605,5.605,0,0,1-5.173,7.747Z' fill='%23fff'/%3E%3Cpath id='Tracé_837' data-name='Tracé 837' d='M172.126,242.908a5.612,5.612,0,0,1-5.179-3.459L155.3,211.337a5.6,5.6,0,1,1,10.349-4.288L177.3,235.158a5.611,5.611,0,0,1-5.17,7.75Z' fill='%23fff'/%3E%3Cpath id='Tracé_838' data-name='Tracé 838' d='M14.771,177.728a5.6,5.6,0,0,1-2.145-10.777l28.112-11.643a5.6,5.6,0,1,1,4.285,10.349L16.911,177.3A5.611,5.611,0,0,1,14.771,177.728Z' fill='%23fff'/%3E%3Cpath id='Tracé_839' data-name='Tracé 839' d='M209.195,97.2a5.6,5.6,0,0,1-2.148-10.777l28.109-11.646a5.6,5.6,0,0,1,4.288,10.349L211.337,96.768A5.624,5.624,0,0,1,209.195,97.2Z' fill='%23fff'/%3E%3Cpath id='Tracé_840' data-name='Tracé 840' d='M160.477,48.485a5.605,5.605,0,0,1-5.173-7.747l11.643-28.112A5.6,5.6,0,1,1,177.3,16.911L165.653,45.023A5.6,5.6,0,0,1,160.477,48.485Z' fill='%23fff'/%3E%3Cpath id='Tracé_841' data-name='Tracé 841' d='M79.943,242.908a5.605,5.605,0,0,1-5.173-7.747l11.646-28.109a5.6,5.6,0,0,1,10.349,4.288L85.119,239.449A5.6,5.6,0,0,1,79.943,242.908Z' fill='%23fff'/%3E%3Cpath id='Tracé_842' data-name='Tracé 842' d='M42.877,97.2a5.582,5.582,0,0,1-2.143-.429L12.623,85.122a5.6,5.6,0,0,1,4.288-10.349L45.023,86.419A5.6,5.6,0,0,1,42.877,97.2Z' fill='%23fff'/%3E%3Cpath id='Tracé_843' data-name='Tracé 843' d='M237.3,177.728a5.635,5.635,0,0,1-2.143-.429l-28.109-11.643a5.6,5.6,0,0,1,4.288-10.349l28.109,11.643a5.6,5.6,0,0,1-2.145,10.777Z' fill='%23fff'/%3E%3Ccircle id='Ellipse_1' data-name='Ellipse 1' cx='67.5' cy='67.5' r='67.5' transform='translate(59 59)' fill='%23fff'/%3E%3C/svg%3E%0A")
    no-repeat center / 14px;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
