<template>
    <div class="accordion__item">
        <div
            class="accordion__trigger"
            :class="{'accordion__trigger_active': visible}"
            @click="open">
            <!-- slot qui gère le title/header de l'accordion et est la partie sur laquelle on clique -->
            <slot name="accordion-trigger"></slot>
        </div>
        <transition
            name="accordion"
            @enter="start"
            @after-enter="end"
            @before-leave="start"
            @after-leave="end">
            <div class="accordion__content" v-show="visible">
                <!-- ce slot gère tous les contenu passé à l'accordion -->
                <slot name="accordion-content"></slot>
            </div>
        </transition>
    </div>
</template>
<script>
    export default {
        props: {},
        inject: ["Accordion"],
        data() { return { index: null }; },
        computed: {
            visible() { return this.index == this.Accordion.active; }
        },
        methods: {
            open() {
                if (this.visible) { this.Accordion.active = null; }
                else { this.Accordion.active = this.index; }
            },
            start(el) {
                el.style.height = el.scrollHeight + "px";
            },
            end(el) {
                el.style.height = "";
            }
        },
        created() { this.index = this.Accordion.count++; }
    };
</script>
<style lang="scss" scoped>
</style>
