<template>

    <div class="accordion">
        <slot></slot>
    </div>

</template>

<script>
export default {
    props: {},
    data() {
        return {
            Accordion: {
                count: 0,
                active: null
            }
        };
    },
    provide() {
        return { Accordion: this.Accordion };
    }
};
</script>

<style lang="scss">
    .accordion {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        margin-bottom: 10px; 

        .accordion__item {
            &:last-child { border-bottom: none; }
            cursor: pointer;
            padding:0;
            position: relative;
            margin-bottom: 3px;
            ul{
                li{
                    // display: flex;
                    font-size: 14px;
                }
            }

            .accordion__trigger {
                display: flex;
                justify-content: space-between;
                user-select: none;
                .accordion-header {
                    text-align: left;
                    text-transform: uppercase;
                    width: 100%;
                    justify-content: center;
                    padding: 1rem 3rem 1rem 1rem;
                    position: relative;
                    margin: 0;
                    font-size: 13px;
                    @media (min-width: 768px) { text-align: center; }
                    &::after {
                        content: "";
                        position: absolute;
                        right: 1rem;
                        top: 50%;
                        transform: translateY(-50%) rotate(0deg);
                        transition: transform .3s ease;
                        background: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_202_5864)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.223 12.3906L11.4223 16.1913C11.1891 16.4245 10.811 16.4245 10.5777 16.1913L6.77704 12.3906C6.54381 12.1573 6.54381 11.7792 6.77704 11.546C7.01027 11.3127 7.38841 11.3127 7.62164 11.546L10.4028 14.3272L10.4028 5.63379L11.5973 5.63379L11.5973 14.3272L14.3784 11.546C14.6117 11.3127 14.9898 11.3127 15.223 11.546C15.4563 11.7792 15.4563 12.1573 15.223 12.3906Z' fill='%2300B3D8' stroke='%2300B3D8' stroke-width='0.597221'/%3E%3C/g%3E%3Crect x='21.4028' y='0.597221' width='20.8056' height='20.8056' rx='10.4028' transform='rotate(90 21.4028 0.597221)' stroke='%2300B3D8' stroke-width='1.19444'/%3E%3Cdefs%3E%3CclipPath id='clip0_202_5864'%3E%3Crect width='11.9444' height='11.9444' fill='white' transform='translate(16.9722 5.02783) rotate(90)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A")
                            no-repeat center;
                        z-index: 2;
                        width: 24px;
                        height: 24px;
                    }
                }
                &.accordion__trigger_active .accordion-header::after { transform: translateY(-50%) rotate(180deg); }
            }

            .accordion__content {
                // background-color: var(--darkless);
                // text-align: center;
                // color: var(--blanc);
                transition: none;
                overflow: hidden;
                a { color: var(--bleu); }
                h3 { margin-top: 1rem; }
                .accordion-content { 
                    padding: 30px; 
                    img {
                        display: block;
                        margin: 0 auto;
                        @media (max-width: 768px) { 
                            width: 100%;
                            height: unset;
                        }
                    }
                }
            }

            // Animation ///////////////////////////////////////
            /////////////////////////////////////////////////
            .accordion-enter-active,
            .accordion-leave-active {
                will-change: height, opacity;
                transition: height .3s ease, opacity .3s ease;
                // overflow: hidden;
            }
            .accordion-enter,
            .accordion-leave-to {
                height: 0 !important;
                opacity: 0;
            }
        }

        .accordion__item__single {
            position: relative;
            &::after {
                content: "";
                position: absolute;
                top: 0; left: 0;
                width: 100%; height: 100%;
                background: linear-gradient(118.83deg, rgba(239, 239, 239, 0.27) 14%, rgba(255, 255, 255, 0.054) 38.26%);
                opacity: .4;
                z-index: -1;
            }
            .accordion__trigger {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 12px;
                user-select: none;
                &:hover { cursor: pointer; }
                svg { 
                    transform: rotate(0deg); 
                    transition: transform .3s ease, opacity 2s ease;
                    .dash-v { opacity: 1; transition: opacity .3s ease; }
                }
                &.accordion__trigger_active svg { 
                    transform: rotate(180deg); 
                    .dash-v { opacity: 0; }
                }

                .accordion-header { color: var(--bleu); }
            }
            .accordion__content {
                .accordion-content {
                    padding: 30px;
                    img {
                        display: block;
                        margin: 0 auto;
                        @media (max-width: 768px) { 
                            width: 100%;
                            height: unset;
                        }
                    }
                }
            }

            // Animation ///////////////////////////////////////
            /////////////////////////////////////////////////
            .accordion-enter-active,
            .accordion-leave-active {
                will-change: height, opacity;
                transition: height .3s ease, opacity .3s ease;
                // overflow: hidden;
            }
            .accordion-enter,
            .accordion-leave-to {
                height: 0 !important;
                opacity: 0;
            }
        }


    }

</style>
