<template>
    <div class="accordion__item__single">
        <div
            class="accordion__trigger"
            :class="{'accordion__trigger_active': visible}"
            @click="open">
            
            <!-- slot qui gère le title/header de l'accordion et est la partie sur laquelle on clique -->
            <slot name="accordion-trigger"></slot>

            <svg width="60" height="60" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect y="24.7488" width="35" height="35" rx="17.5" transform="rotate(-45 0 24.7488)" fill="#00B3D8"/>
                <path class="dash-v" d="M24.7487 30.2485L24.7487 19.2491" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                <path class="dash-h" d="M19.249 24.7487L30.2485 24.7487" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
        <transition
            name="accordion"
            @enter="start"
            @after-enter="end"
            @before-leave="start"
            @after-leave="end">
            <div class="accordion__content" v-show="visible">
                <!-- ce slot gère tous les contenu passé à l'accordion -->
                <slot name="accordion-content"></slot>
            </div>
        </transition>
    </div>
</template>
<script>
    export default {
        props: {},
        inject: ["Accordion"],
        data() { return { index: null }; },
        computed: {
            visible() { return this.index == this.Accordion.active; }
        },
        methods: {
            open() {
                if (this.visible) { this.Accordion.active = null; }
                else { this.Accordion.active = this.index; }
            },
            start(el) {
                el.style.height = el.scrollHeight + "px";
            },
            end(el) {
                el.style.height = "";
            }
        },
        created() { this.index = this.Accordion.count++; }
    };
</script>
<style lang="scss" scoped>
</style>
