<template>
    <footer class="footer mt-auto">
        <nav>
            <ul>
                <li><a target="_blank" href="https://www.thalesgroup.com/en">© Thales&nbsp;&nbsp;<span class="bleu">|</span></a></li>
                <li><NuxtLink to="/the-project" title="The project | by THALES">The project</NuxtLink></li>
                <li><NuxtLink to="/legal-notice" title="Legal notice | by THALES">Legal notice</NuxtLink></li>
                <li><NuxtLink to="/credits" title="Credits | by THALES">Credits</NuxtLink></li>
                <li><a target="_blank" href="https://thales.wd3.myworkdayjobs.com/en-US/Careers/jobs?jobFamilyGroup=47200b8529d910216a6cd92c6e3634d2"><span class="bleu">|</span>&nbsp;&nbsp;Join us</a></li>
                <!-- <li><NuxtLink to="/site-map" title="Site map | by THALES">Site map</NuxtLink></li> -->
            </ul>
        </nav>
    </footer>
</template>
<script>
// export default {
//     methods: {
//         switch_color_theme_mode() {
//             document.body.classList.toggle("light-mode");
//         }
//     },
// }
</script>
<style lang="scss">
    footer.footer {
        // grid-area: 4 / 1 / 5 / 2;
        display: flex;
        justify-content: center;
        align-items: center;
        nav ul {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            li { 
                margin: 0 5px; 
                a { 
                    text-transform: unset; 
                    font-size: 12px;
                }
            }
        } 
    }
</style>
