<template>
    <div class="logo">
        <NuxtLink to="/" title="The Cyber Threat Handbook | by THALES">
            <img src="~/assets/images/logo-thales.png" alt="Thales logo" style="width: 100%; max-width: 8rem;">
        </NuxtLink>
    </div>
</template>