<template>
    <div class="sidebar mb-5">
        <!-- <Accordion>
            <AccordionItem>
                <template slot="accordion-trigger">
                    <svg width="40" height="40" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect y="24.7488" width="35" height="35" rx="17.5" transform="rotate(-45 0 24.7488)" fill="#00B3D8"/>
                        <path class="dash-v" d="M24.7487 30.2485L24.7487 19.2491" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        <path class="dash-h" d="M19.249 24.7487L30.2485 24.7487" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <h3 class="accordion-header">TOP 3 TARGETED AREAS</h3>
                </template>
                <template slot="accordion-content">
                    <div class="accordion-content">
                        <NuxtLink
                            tag="div"
                            :to="'/area/' + $slugify(ta)"
                            v-for="ta in top_3_targeted_areas.top_3_targeted_areas" :key="ta"
                        >
                            <div v-html="ta" class="h3 bleu mb-4"></div>
                        </NuxtLink>
                    </div>
                </template>
            </AccordionItem>
            <AccordionItem>
                <template slot="accordion-trigger">
                    <svg width="40" height="40" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect y="24.7488" width="35" height="35" rx="17.5" transform="rotate(-45 0 24.7488)" fill="#00B3D8"/>
                        <path class="dash-v" d="M24.7487 30.2485L24.7487 19.2491" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        <path class="dash-h" d="M19.249 24.7487L30.2485 24.7487" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <h3 class="accordion-header">TOP 3 ATTACKS ORIGIN</h3>
                </template>
                <template slot="accordion-content">
                    <div class="accordion-content">
                        <NuxtLink
                            tag="div"
                            :to="'/area/' + $slugify(ao)"
                            v-for="ao in top_3_attacks_origin.top_3_attacks_origin" :key="ao"
                        >
                            <div v-html="ao" class="h3 bleu mb-4"></div>
                        </NuxtLink>
                    </div>
                </template>
            </AccordionItem>
            <AccordionItem>
                <template slot="accordion-trigger">
                    <svg width="40" height="40" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect y="24.7488" width="35" height="35" rx="17.5" transform="rotate(-45 0 24.7488)" fill="#00B3D8"/>
                        <path class="dash-v" d="M24.7487 30.2485L24.7487 19.2491" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        <path class="dash-h" d="M19.249 24.7487L30.2485 24.7487" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <h3 class="accordion-header">Top 3 targeted sectors</h3>
                </template>
                <template slot="accordion-content">
                    <div class="accordion-content">
                        <NuxtLink
                            tag="div"
                            :to="'/targeted-sectors/' + ts"
                            v-for="ts in top_3_targeted_sectors.top_3_targeted_sectors" :key="ts"
                        >
                            <div v-html="ts" class="h3 bleu mb-4"></div>
                        </NuxtLink>
                    </div>
                </template>
            </AccordionItem>
            <AccordionItem>
                <template slot="accordion-trigger">
                    <svg width="40" height="40" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect y="24.7488" width="35" height="35" rx="17.5" transform="rotate(-45 0 24.7488)" fill="#00B3D8"/>
                        <path class="dash-v" d="M24.7487 30.2485L24.7487 19.2491" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        <path class="dash-h" d="M19.249 24.7487L30.2485 24.7487" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <h3 class="accordion-header">Top 3 Malware</h3>
                </template>
                <template slot="accordion-content" class="p-4">
                    <div class="p-4">
                        <div v-for="m in top_3_malware.top_3_malware" :key="m">
                            <div v-html="m" class="h3 bleu mb-4"></div>
                        </div>
                    </div>
                </template>
            </AccordionItem>
        </Accordion> -->
    

        <div class="top-3">
            <div class="top-3-item">
                <h3 class="top-3-item-title">TOP 3 TARGETED AREAS</h3>
                <NuxtLink
                    tag="div"
                    :to="'/area/' + $slugify(ta)"
                    v-for="ta in top_3_targeted_areas.top_3_targeted_areas" :key="ta"
                    class="h3 bleu mb-4"
                    v-html="ta" 
                >
                </NuxtLink>
            </div>
            <div class="top-3-item">
                <h3 class="top-3-item-title">TOP 3 ATTACKS ORIGIN</h3>
                <NuxtLink
                    tag="div"
                    :to="'/area/' + $slugify(ao)"
                    v-for="ao in top_3_attacks_origin.top_3_attacks_origin" :key="ao"
                    class="h3 bleu mb-4"
                    v-html="ao" 
                >
                </NuxtLink>
            </div>
            <div class="top-3-item">
                <h3 class="top-3-item-title">Top 3 targeted sectors</h3>
                <NuxtLink
                    tag="div"
                    :to="'/targeted-sectors/' + ts"
                    v-for="(ts, i) in top_3_targeted_sectors.top_3_targeted_sectors" :key="i"
                    class="h3 bleu mb-4"
                    v-html="ts" 
                >
                </NuxtLink>
            </div>
            <div class="top-3-item">
                <h3 class="top-3-item-title">Top 3 Malware</h3>
                <div 
                    v-for="m in top_3_malware.top_3_malware" :key="m" 
                    class="h3 bleu mb-4"
                    v-html="m" 
                ></div>
            </div>
        </div>
            
    </div>
</template>



<script>

import Accordion from '~/components/_global/accordion/accordion.vue';
import AccordionItem from '~/components/_global/accordion/accordion-item.vue';

export default {
    components: { Accordion, AccordionItem },
    data() {
        return {
            time: this.$moment().format('LTS'),
            dateToday: this.$moment().format('LL'),
            // last_news: [],
            top_3_targeted_sectors: [],
            top_3_targeted_areas: [],
            top_3_attacks_origin: [],
            top_3_malware: []
        }
    },
    methods: {
        updateNow () { this.time = this.$moment().format('LTS'); }, 
        // getLastNews () {
        //     this.$axios.get(process.env.BASE_API_URL + '/api/last-news')
        //         .then((response) => { this.last_news = response.data; })
        //         .catch(err => { console.error("ERREUR DE L'API: " + err) });
        // },
        getTop3TargetedSectors () {
            this.$axios.get(process.env.BASE_API_URL + '/api/top-3-targeted-sectors')
                .then((response) => { this.top_3_targeted_sectors = response.data; })
                .catch(err => { console.error("ERREUR DE L'API: " + err) });
        },
        getTop3TargetedAreas () {
            this.$axios.get(process.env.BASE_API_URL + '/api/top-3-targeted-areas')
                .then((response) => { this.top_3_targeted_areas = response.data; })
                .catch(err => { console.error("ERREUR DE L'API: " + err) });
        },
        getTop3AttacksOrigin () {
            this.$axios.get(process.env.BASE_API_URL + '/api/top-3-attacks-origin')
                .then((response) => { this.top_3_attacks_origin = response.data; })
                .catch(err => { console.error("ERREUR DE L'API: " + err) });
        },
        getTop3Malware () {
            this.$axios.get(process.env.BASE_API_URL + '/api/top-3-malware')
                .then((response) => { this.top_3_malware = response.data; })
                .catch(err => { console.error("ERREUR DE L'API: " + err) });
        }
    },
    mounted() {
        this.updateNow();
        setInterval(this.updateNow.bind(this) , 1000);

        // this.getLastNews();
        this.getTop3TargetedSectors();
        this.getTop3TargetedAreas();
        this.getTop3AttacksOrigin();
        this.getTop3Malware();
    },
};
</script>




<style lang="scss">
.sidebar {
    width: 100%;
    ul { width: 100%; }
    li {
        font-size: 0.875rem;
        display: flex;
        width: 100%;
    }
    p {
        margin-top: 2vh;
        font-size: 1rem;
    }
    // .accordion {
    //     display: flex;
    //     justify-content: center;
    //     .accordion__item {
    //         .accordion__trigger {
    //             align-items: center;
    //             background-color: unset!important;
    //             svg { 
    //                 transform: rotate(0deg); 
    //                 transition: transform .3s ease, opacity 2s ease;
    //                 .dash-v { opacity: 1; transition: opacity .3s ease; }
    //             }
    //             &.accordion__trigger_active svg { 
    //                 transform: rotate(180deg); 
    //                 .dash-v { opacity: 0; }
    //             }
    //             .accordion-header {
    //                 cursor: pointer;
    //                 display: flex;
    //                 justify-content: start !important;
    //                 align-items: center;
    //                 font-weight: 700;
    //                 text-transform: uppercase;
    //                 font-size: 1rem !important;
    //                 color: var(--blanc) !important;
    //                 background-color: unset !important;
    //                 &::after { 
    //                     content: unset !important;
    //                 }
    //             }
    //         }
    //         .accordion__content { 
    //             background-color: unset !important; 
    //             width: 100%;
    //             max-width: 16rem;
    //         }
    //     }
    // }

    .top-3 {
        margin-top: -4rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        // display: grid;
        // grid-template-columns: repeat(1, 1fr);
        width: 100%;
        max-width: 768px;
        margin: 0 auto;
        // @media (min-width: 768px) { 
            // grid-template-columns: repeat(2, 1fr);
        // }
        @media (min-width: 1200px) { 
            flex-wrap: nowrap;
            max-width: 1200px;
            // grid-template-columns: repeat(4, 1fr);
        }
        .top-3-item {
            width: 100%;
            max-width: 16rem;
            // justify-self: center;
            margin: 0 2rem;
            .top-3-item-title {
                text-transform: uppercase;
                font-size: 1rem;
                color: var(--blanc)!important;
            }
            & > div { cursor: pointer; }
        }
    }

    .nomAttaque {
        margin-right: 15px;
        font-weight: 700;
    }
}
</style>
