<template>
	<div id="top-bar-alert" class="mb-4">

		<div 
			class="top-bar" 
			v-if="!$fetchState.pending && $fetchState.error == null"
			:style="'background-color:' + reports.background_color"
		>
			<div v-if="reports.reports.length != 0" class="alert-container d-flex justify-content-center align-items-center">
				<transition name="slide-up" mode="out-in">
					<NuxtLink 
						tag="p" 
						:to="'/media-library/reports/' + reports.reports[index_reports].id" 
						v-html="picto_warning + '<span class=\'mx-2\'>' + reports.reports[index_reports].title + '</span>' + picto_arrow" 
						:key="index_reports"
					></NuxtLink>
				</transition>
			</div>
		</div>
		<div v-else></div>

	</div>
</template>

<script>
export default {
	data() {
		return {
			reports: [],
			index_reports: 0,
			picto_arrow: `
				<svg xmlns="http://www.w3.org/2000/svg" width="19" height="12" viewBox="0 0 19 12" fill="none">
					<path id="ARROW" d="M11.9109 1.42259C11.5855 1.09715 11.5855 0.569515 11.9109 0.244078C12.2364 -0.0813592 12.764 -0.0813592 13.0895 0.244078L18.0895 5.24408C18.4149 5.56951 18.4149 6.09715 18.0895 6.42259L13.0895 11.4226C12.764 11.748 12.2364 11.748 11.9109 11.4226C11.5855 11.0972 11.5855 10.5695 11.9109 10.2441L15.4884 6.66665H0.842524C0.377211 6.66665 0 6.29356 0 5.83332C0 5.37308 0.377211 4.99999 0.842524 4.99999H15.4883L11.9109 1.42259Z" fill="#FFF"/>
				</svg>
			`,
			picto_warning: `
				<svg xmlns="http://www.w3.org/2000/svg" width="20" height="22" viewBox="0 0 20 22" fill="none">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M10 17.6C14.8601 17.6 18.8 13.6601 18.8 8.8C18.8 3.93989 14.8601 0 10 0C5.13989 0 1.2 3.93989 1.2 8.8C1.2 11.0918 2.07606 13.1789 3.51156 14.7448C3.69162 14.9413 3.8 15.1949 3.8 15.4613V18.8068C3.8 19.5441 4.57075 20.0279 5.23475 19.7074L9.59367 17.6031C9.59617 17.6018 9.59612 17.5983 9.59358 17.5971V17.5971C9.59028 17.5956 9.59146 17.5907 9.59508 17.5909C9.72929 17.5969 9.86428 17.6 10 17.6Z" fill="white"/>
					<g clip-path="url(#clip0_44_309)">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M9.09999 9.80005C9.09999 10.1314 9.36862 10.4 9.69999 10.4H10.3C10.6314 10.4 10.9 10.1314 10.9 9.80005L10.9 5.40005C10.9 5.06868 10.6314 4.80005 10.3 4.80005H9.69999C9.36862 4.80005 9.09999 5.06868 9.09999 5.40005V9.80005ZM10 12.8C10.4971 12.8 10.9 12.3971 10.9 11.9C10.9 11.403 10.4971 11 10 11C9.50294 11 9.1 11.403 9.1 11.9C9.1 12.3971 9.50294 12.8 10 12.8Z" fill="#EE2737"/>
					</g>
					<defs>
						<clipPath id="clip0_44_309">
							<rect width="9.2" height="9.2" fill="white" transform="translate(5.40001 4.19998)"/>
						</clipPath>
					</defs>
				</svg>
			`
		}
	},
	mounted() {
		this.$fetch()
	},
	async fetch() {
		await this.$axios.$get(`${process.env.BASE_API_URL}/api/reports-alert`)
			.then((response) => { 
				this.reports = response[0]; 
				this.loopThroughReportsIndex()
			})
			// .catch(err => { console.error("ERREUR DE L'API: " + err) });
	},
	methods: {
		loopThroughReportsIndex () {
			if (this.reports.reports.length != 0) {
				const nb_reports = this.reports.reports.length - 1;
				setInterval(() => {
					if (this.index_reports < nb_reports) { this.index_reports++ } 
					else { this.index_reports = 0 }
				}, 3000);
			}
		},
	}
}
</script>

<style lang="scss">
	#top-bar-alert {
		
		.top-bar {
			background-color: var(--rouge);
			font-weight: bold;
			
			.alert-container {
				position: relative;
				height: 6em;
				overflow: hidden;
				@media (min-width: 992px) { height: 3em; }
				p { 
					user-select: none;
					cursor: pointer;
					position: absolute; 
					margin: 0; padding: 0;
					background: none;
					display: flex;
					align-items: center;
					svg {
						display: none;
						@media (min-width: 992px) { display: block; }
					}
				}

				// Transition animation 
				.slide-up-enter-active,
				.slide-up-leave-active {
					transition: all .6s ease;
				}
				.slide-up-enter {
					opacity: 0;
					transform: translateY(30px);
				}
				.slide-up-leave-to {
					opacity: 0;
					transform: translateY(-30px);
				}
			}
		}

	}

</style>