<template>
  
    <div class="card">
        <div class="card-header uppercase text-center bold">
            <slot name="card-header"></slot>
        </div>
        <div class="card-content">
            <slot name="card-content"></slot>
        </div>
    </div>

</template>


<style lang="scss">
    .card {
        width: 100%;
        max-width: 420px;
        margin: 0 auto;
        overflow: hidden;
        @media (min-width: 1400px) { margin: unset; }
        ::-webkit-scrollbar { width: 4px; }
        &:hover {
            cursor: pointer;
            ::-webkit-scrollbar { background: var(--blanc); }
            ::-webkit-scrollbar-thumb { background: var(--bleu); }
            ::selection {
                background: var(--blanc);
                color: var(--bleu);
            }
            .card-header {
                color: var(--bleu);
                background-color: var(--blanc);
            }
            .card-content {
                background-color: var(--bleu);
            }            
        }
        .card-header {
            transition: color .3s, background-color .3s;
            background-color: var(--bleu);
            padding: 1rem;
        }
        .card-content {
            transition: color .3s, background-color .3s;
            background-color: var(--darkless);
            padding: 1rem 2rem;
            height: 16rem;
            overflow-y: scroll;
        }
    }
</style>