<template>
    <div id="loader">
        <div class="nb-spinner"></div>
    </div>
</template>

<style lang="scss">
    #loader {
        .nb-spinner {
            width: 75px;
            height: 75px;
            margin: 1rem auto;
            background: transparent;
            border-top: 4px solid var(--bleu);
            border-right: 4px solid transparent;
            border-radius: 50%;
            animation: 1s spin linear infinite;
        }
        @keyframes spin {
            from { transform: rotate(0deg); }
            to { transform: rotate(360deg); }
        }
    }
</style>
