<template>
    <div 
        id="reset-btn" class="reset-btn m-3 m-xl-1 d-flex justify-content-center align-items-center"
    >
        <svg width="20" height="20" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M17.4213 5.26375C17.6953 5.4504 17.8839 5.73825 17.9457 6.06397C18.0074 6.3897 17.9373 6.72663 17.7506 7.00063C17.564 7.27463 17.2761 7.46326 16.9504 7.52503C16.6247 7.5868 16.2878 7.51665 16.0138 7.33C14.8597 6.54549 13.4763 6.16974 12.084 6.26262C10.6917 6.3555 9.37044 6.91167 8.33084 7.84252C7.29124 8.77338 6.59306 10.0254 6.34752 11.399C6.10199 12.7727 6.32322 14.189 6.97598 15.4224C7.62874 16.6557 8.67547 17.6352 9.94943 18.2046C11.2234 18.7741 12.6513 18.9009 14.0056 18.5647C15.36 18.2285 16.5629 17.4488 17.4227 16.3497C18.2825 15.2507 18.7497 13.8954 18.75 12.5C18.75 12.1685 18.8817 11.8505 19.1161 11.6161C19.3505 11.3817 19.6685 11.25 20 11.25C20.3315 11.25 20.6495 11.3817 20.8839 11.6161C21.1183 11.8505 21.25 12.1685 21.25 12.5C21.2497 14.4537 20.5955 16.3512 19.3917 17.89C18.1879 19.4288 16.5038 20.5205 14.6076 20.9911C12.7113 21.4616 10.7122 21.2841 8.92859 20.4866C7.145 19.6892 5.67961 18.3177 4.76589 16.5908C3.85217 14.8639 3.5427 12.8809 3.88677 10.9577C4.23084 9.03449 5.20867 7.28177 6.66445 5.97878C8.12024 4.67579 9.97023 3.8975 11.9197 3.76792C13.8691 3.63834 15.8058 4.16491 17.4213 5.26375V5.26375Z" fill="#00B3D8"/>
            <path d="M16.9238 15.6325C16.7855 15.721 16.6311 15.7814 16.4695 15.8102C16.3078 15.839 16.1421 15.8357 15.9818 15.8005C15.8214 15.7652 15.6696 15.6988 15.5349 15.6049C15.4002 15.5109 15.2854 15.3914 15.1969 15.2531C15.1084 15.1148 15.048 14.9605 15.0192 14.7988C14.9904 14.6372 14.9937 14.4715 15.0289 14.3111C15.0642 14.1508 15.1306 13.9989 15.2245 13.8642C15.3185 13.7296 15.438 13.6147 15.5763 13.5263L19.9288 10.7425C20.208 10.5697 20.544 10.5137 20.8642 10.5866C21.1844 10.6596 21.463 10.8555 21.6398 11.1322C21.8167 11.4089 21.8775 11.7441 21.8093 12.0653C21.741 12.3865 21.5491 12.6679 21.275 12.8488L16.9238 15.6325V15.6325Z" fill="#00B3D8"/>
            <path d="M23.6288 15.5125C23.7564 15.8139 23.7606 16.1534 23.6407 16.4579C23.5207 16.7625 23.286 17.0078 22.9871 17.1412C22.6882 17.2747 22.3489 17.2855 22.0421 17.1714C21.7353 17.0574 21.4854 16.8275 21.3463 16.5313L19.4613 12.3063C19.3906 12.1558 19.3506 11.9928 19.3437 11.8268C19.3368 11.6607 19.3631 11.495 19.421 11.3392C19.4789 11.1834 19.5673 11.0408 19.681 10.9196C19.7947 10.7984 19.9314 10.7011 20.0832 10.6333C20.2349 10.5656 20.3987 10.5288 20.5648 10.5251C20.731 10.5214 20.8962 10.5509 21.0508 10.6118C21.2054 10.6727 21.3464 10.7638 21.4653 10.8798C21.5843 10.9959 21.679 11.1345 21.7438 11.2875L23.6288 15.5125Z" fill="#00B3D8"/>
        </svg>
        <button class="m-0">Reset</button>
    </div>
</template>

<script>
export default {
    data() {
        return { btn_active: false, }
    },
    methods: {
        toggle_btn (item) {
            // this.btn_active = !this.btn_active;
            const picto = item.currentTarget.querySelector("svg");
            picto.style.transform = "rotate(60deg)"
        }
    }
}
</script>

<style lang="scss">
    #reset-btn {
        &:hover { 
            cursor: pointer; 
            svg {
                // transform: rotate(0deg);
                // &:active { 
                // 	transition: transform .3s ease;
                // 	transform: rotate(-360deg);
                //  }
            }
        }
        button {
            width: 5rem;
            background : none;
            color      : var(--bleu);
            font-weight: bold;
            padding    : 0 6px;
        }
    }
    // @keyframes rotate {
    //     from { transform:rotate(0); }
    //     to { transform:rotate(60deg); }
    // }
</style>