<template>
    <div id="timer" class="time">
		<div>
			<div class="hour">
				<div ref="clock">{{ time }}</div>
			</div>
			<div class="date">
				<div ref="datediv">{{ dateToday }}</div>
			</div>
		</div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            time: this.$moment().locale("en").format("h:mm:ss a"),
            dateToday: this.$moment().locale("en").format("MMM Do YYYY"),
        };
    },
    methods: {
        updateNow() {
            this.time = this.$moment().locale("en").format("h:mm:ss");
        },
    },
    mounted() {
        this.updateNow();
        setInterval(this.updateNow.bind(this), 1000);
    },
};
</script>

<style lang="scss">
	#timer {
		text-align: center;
		display: flex;
		justify-content: center;
		// @media (min-width: 768px) { 
			// position: absolute;
			// top: 4rem; left: 2rem;
		// }
		.hour {
			font-size: 28px;
			font-weight: 700;
			color      : var(--bleu);
		}
	}
</style>