<template>
    <div class="fond"></div>
</template>

<style lang="scss">
    .fond {
        position: fixed;
        top: 0; left: 50%;
        transform: translateX(-50%);
        width: 110%;
        height: 110%;
        // z-index: 1;
        z-index: -1;
        background: var(--dark) center / cover no-repeat url('~assets/images/bg-thales-gris-min.jpeg');
        background-attachment: fixed;
        opacity: 0.2;
    }
</style>