<template>
  
    <div id="bg-video">
        <video 
            v-if="!$store.state.lightmode"
            ref="video"
            src="~/assets/images/video-home.mp4"
            autoplay 
            muted
            loop
        >
        </video>
        <video 
            v-else
            ref="video"
            src="~/assets/images/video-home-light.mp4"
            autoplay 
            muted
            loop
        >
        </video>
    </div>

</template>

<script>
export default {
    mounted() {
        document.querySelector('video').playbackRate = 0.5;
        // console.log("lightmode: ", this.$store.state.lightmode);
    }
}
</script>

<style lang="scss">
    #bg-video {
        position: fixed;
        display: flex;
        top: 0; left: 50%;
        transform: translateX(-50%);
        // width: max-content; 
        height: 107%;
        z-index: -1;
        // background: var(--dark) url('~assets/images/bg-thales-gris-min.jpeg') no-repeat;
        // background-attachment: fixed;
        opacity: 0.4;
        video { height: 100%; }
    }
</style>