/* Accordeon */
.accordion-header {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  color: white;
}
.accordion-header::before {
  content: "+";
  transform: rotate(0);
  transition: all 300ms ease-out;
  margin-right: 20px;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bleu);
  color: white;
}
.accordion-header:hover::before {
  transform: rotate(180deg);
}
.accordion-panel {
  margin-bottom: 20px;
}
.accordion-panel > .accordion-body {
  max-height: 0;
  overflow: hidden;
}
.accordion-panel > .accordion-body ul li {
  transform: translateX(-30px);
  opacity: 0;
  transition: all 600ms ease-out;
  transition-delay: 300ms;
}
.accordion-panel > .accordion-body ul li:nth-child(1) {
  transition-delay: 200ms;
}
.accordion-panel > .accordion-body ul li:nth-child(2) {
  transition-delay: 250ms;
}
.accordion-panel.accordion-expanded > .accordion-body ul li {
  transform: translateX(0);
  opacity: 1;
}
.accordion-panel.accordion-expanded > .accordion-body {
  max-height: 100%;
  padding: 20px 0;
}
.accordion-panel > .accordion-body li {
  font-size: 13px;
  display: flex;
}
.nomAttaque {
  margin-right: 15px;
  font-weight: 700;
}