/* Forms */
input {
  appearance: none;
  border-width: 0;
  outline: unset;
  border-radius: 7px;
}
textarea {
  border-width: 0;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: var(--bleu);
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: var(--bleu);
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: var(--bleu);
}
:-moz-placeholder {
  /* Firefox 18- */
  color: var(--bleu);
}
