/* Helpers */
.mb0{
  margin-bottom: 0;
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb30 {
  margin-bottom:30px;
}
.mb40 {
  margin-bottom:40px;
}
.mb50 {
  margin-bottom: 50px;
}
.mt0{
  margin-top: 0;
}
.mt10{
  margin-top: 10px;
}
.ml-auto{
  margin-left: auto;
}
.ml15 {
  margin-left: 15px;
}
.mr-0{
  margin-right: 0 !important;
}
.bleu {
  color: var(--bleu);
}
.white{
  color:white;
}
.bold {
  font-weight: 700;
}
.img-fluid{
  max-width: 100%;
  height: auto;
}
.position-relative {
  position: relative;
}
.center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.uppercase {
  text-transform: uppercase;
}

.break {
    flex-basis: 100%;
    height: 0;
}
.flex-column{
  flex-direction: column;
}
.d-flex{
  display: flex;
}
.justify-content-between{
  justify-content: space-between;
}
.align-items-end{
  align-items: flex-end;
}
.text-center{
  text-align: center;
}