/* LIGHT MODE */
body.light-mode {
  color: var(--dark);
  background: var(--white);
}
body.light-mode .fond {
  display: none;
}
body.light-mode a,
body.light-mode a:hover,
body.light-mode a:focus {
  color: var(--dark);
}
body.light-mode .logomaincolor {
  fill: var(--dark);
}
body.light-mode .main-nav ul li:hover a,
body.light-mode .add-nav ul li.aftered:hover a {
  color: var(--dark);
}
body.light-mode .main-nav .visible *{
  color: white;
}
body.light-mode .add-nav ul li.aftered a::after,
body.light-mode .main-nav ul li a::after {
  background-color: var(--bleu);
}
/* Accordeon */
body.light-mode .accordion-header {
  color: var(--dark);
}
/* NEWS */
body.light-mode .newsitem__inner .newsplaceholder {
  background-color: var(--dark);
}
/* FILTRES */
body.light-mode .filtres select {
  background-color: var(--dark);
}
body.light-mode .titre {
  color: var(--dark);
}
body.light-mode .article {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
body.light-mode .article .download svg * {
  fill: var(--dark);
}
body.light-mode input[type="text"],
body.light-mode input[type="email"],
body.light-mode textarea {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
body.light-mode .filtres select {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  color: var(--bleu);
}
body.light-mode .filtres select option {
  color: var(--bleu);
}
