nav ul {
  list-style: none;
  display: flex;
}
nav ul li {
  list-style: none;
  display: flex;
  margin: auto 1vw;
}
nav ul li.social {
  margin: auto auto auto 1vw;
}
.main-nav ul li a,
.add-nav ul li.aftered a {
  position: relative;
}
.main-nav ul li:hover a,
.add-nav ul li.aftered:hover a {
  color: white;
}
.add-nav ul li.aftered a::after,
.main-nav ul li a::after {
  content: "";
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: -15px;
  left: 0;
  background-color: white;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 300ms ease-out;
}
.main-nav ul li a:hover::after,
.add-nav ul li.aftered a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
nav ul li a {
  text-transform: uppercase;
  font-size: 12px;
}
@media (max-width: 767px) {
  .main-nav,
  .add-nav {
    display: none;
  }
}