/* NEWS */
.plus {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 4vh 0 4vh 0;
  margin-bottom: 70px;
}
.plus svg {
  cursor: pointer;
}
.newscontainer {
  padding: 4vh;
  margin-bottom: -4vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 0px;
}
.newsitem {
  min-height: 350px;
  margin-bottom: 20px;
  width: 100%;
}
@media (min-width: 767px) {
  .newsitem {
    width: 41vw;
  }
}
@media (min-width: 1200px) {
  .newsitem {
    width: 22.25vw;
  }
}
.newsitem p {
  font-size: 14px;
  margin-top: 10px;
}
.newsitem .newstitre {
  font-size: 1rem;
  text-align: left;
  margin-top: 10px;
}
.newsitem .newsdate {
  font-size: 14px;
  margin-top: 10px;
}
.newsitem__inner {
  width: 100%;
  height: 100%;
}
.newsitem__inner .newsplaceholder {
  background-color: var(--bleu);
  width: 100%;
  height: 240px;
  border-radius: 7px;
  overflow: hidden;
  margin-top: 10px;
}
.newsplaceholder  img{
  object-fit: cover;
  height:100%;
  width: 100%;
}
.news .titre {
  padding: 4vh;
}
/* // FILTRES */
.filtres {
  display: flex;
  align-items: center;
  padding: 4vh 4vh 0vh 4vh;
}
.filres form {
  display: flex;
  margin-right: 10px;
}
.rss {
  margin-left: 10px;
}
.filtres select {
  appearance: none;
  background-color: white;
  border-width: 0;
  height: 35px;
  padding: 0 2vw 0 15px;
  border-radius: 4px;
  color: var(--bleu);
  margin-right: 10px;
}
.filtres select option {
  color: var(--bleu);
}
.select-container {
  position: relative;
}
.select-container::after {
  content: "";
  background: url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.33341 1.25L5.00008 5.75L0.666748 1.25' stroke='%2300B3D8' stroke-width='1.08333' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A")
    no-repeat center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 25px;
  width: 12px;
  height: 12px;
}
