/* Recherche */
.recherche {
  background-color: var(--bleu);
  position: fixed;
  top: 100px;
  left: 0;
  bottom: 8vh;
  width: 100%;
  z-index: -3;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.recherche.visible {
  z-index: 9999;
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}
.recherche input[type="text"] {
  width: 40vw;
  padding: 4vh;
  font-size: 48px;
  color: var(--bleu);
  transform: translateX(-20px);
  opacity: 0;
  transition: all 300ms ease-out;
}
.recherche.visible input[type="text"] {
  transform: translateX(0);
  opacity: 1;
}
.back {
  position: absolute;
  top: 4vh;
  right: 4vh;
  cursor: pointer;
  transform: translateX(20px) scale(.8);
  opacity: 0;
  transition: all 300ms ease-out;
}
.recherche.visible .back {
  transform: translateX(0) scale(.8);
  opacity: 1;
}
