/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
/* Général */
body {
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 1rem;
  line-height: 1.5;
  background: var(--dark);
  letter-spacing: 0.5px;
  font-smooth: always;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}
.fond {
  position: fixed;
  top: 0;
  left: 0;
  width: 110%;
  height: 110%;
  z-index: 1;
  background: var(--dark) url(../images/bg-thales-gris-min.jpeg) no-repeat;
  background-attachment: fixed;
  opacity: 0.1;
}
::selection {
  background: var(--bleu);
  color: white;
}
ul {
  margin: 0;
  padding: 0;
}
/* HEADINGS */
h1,.h1 {
  font-size: 32px;
  margin-top: 0;
  letter-spacing:-1px;
}
h2,.h2 {
  font-size: 20px;
}
h3,.h3 {
  font-size: 10px;
  font-weight: 700;
  color: var(--bleu);
}
/* Layout */
.container {
  height: 100%;
  position: relative;
  z-index: 2;
}
.home .container {
  height: 100vh;
}
.header {
  height: 100px;
  align-items: center;
  padding: 0 4vh;
}
.titre {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.content {
  display: block;
}
.content--alt {
  position: relative;
  z-index: 4;
}
.fullwrapper {
  min-height: 100vh;
  width: 100%;
  position: relative;
}
.grid-50 {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 40px 40px; 
  grid-template-areas: 
    ". ."; 
}
.grid-40-60 {
 display: grid; 
  grid-template-columns: 40% 60%; 
  grid-template-rows: 1fr; 
  gap: 40px 40px; 
  grid-template-areas: 
    ". ."; 
}
/* Home */
.homepage {
  overflow: hidden;
}
.sidebar {
  position: absolute;
  width: 320px;
  bottom: 2vh;
  padding: 4vh;
  z-index: 5;
}
.hour {
  font-weight: 700;
  color: var(--bleu);
}
.st0 {
	fill: #636363;
}
.st1 {
	opacity: 0;
}
.st2 {
	opacity: 0;
	fill: #c63636;
}
.st3 {
	fill: #c63636;
}
.st4 {
	opacity: 0;
	fill: #636363;
}
.st5 {
	opacity: 0;
	fill: #ffffff;
}
.st6 {
	fill: none;
}
/* Dark Mode */
:root {
  --dark: #04000e;
  --darkless:#2F2F2F;
  --darktext: #aaa;
  --bleu: #00b3d8;
  --bleu-dark:#02aacc;
  --creme:#FFF6ED;
}
a,
a:hover,
a:focus {
  text-decoration: none;
  color: white;
}
a:hover,
a:focus {
  transition: all 300ms ease-out;
  color: var(--bleu);
}
.logomaincolor {
  fill: white;
}
header {
  display: flex;
  justify-content: space-between;
}
/* // Footer */
.footer {
  position: relative;
  z-index: 4;
  height: 70px;
}
.home .footer {
 margin-top:-70px; 
}
/* // Button */
button {
  display: block;
  width: 100%;
  margin-top: 15px;
  appearance: none;
  border-width: 0;
  background: var(--bleu);
  border-radius: 4px;
  height: 35px;
  padding: 0 2vw;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
}

::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: rgba(255,255,255,.2);
}

::-webkit-scrollbar-thumb {
    background: var(--bleu);
    -webkit-border-radius: 0;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}
