<template lang="html">
  <div class="tabs__container">
    <ul class="tabs__header mb-4">
      <li
        v-for="(tab, index) in tabs"
        :key="tab.title"
        @click="selectTab(index)"
        :class='{"tab__selected": (index == selectedTabIndex)}'
      >
        {{ tab.title }}
      </li>
    </ul>
    <slot></slot>
  </div>
</template>
<script>
export default {
    data() {
        return {
            selectedTabIndex: 0,
            tabs: [],
        };
    },
    created() {
        this.tabs = this.$children;
    },
    mounted() {
        this.selectTab(0);
    },
    methods: {
        selectTab(i) {
            this.selectedTabIndex = i;
            this.tabs.forEach((tab, index) => tab.isActive = index === i );
        },
    },
};
</script>
<style lang="scss">
ul {
    &.tabs__header {
        display: flex;
        list-style: none;
        padding: 0;
        justify-content:space-between;
    }
    &.tabs__header > li {
        padding: 15px 0;
        margin: 0;
        display: inline-block;
        cursor: pointer;
        font-size: 14px;
        width: 11%;
        text-align: center;
    }
}
.tabs__container {
    .tab {
        padding: 20px;
        background-color: var(--darkless);
        color: white;
    }
    li {
        background-color: var(--darkless);
        color: var(--darktext);
        &.tab__selected {
            background-color: var(--bleu);
            color: white;
        }
    }
}
</style>


<!-- DOC -->
<!-- <tabs>
    <tab title="Attack pattern">
        <h1>titre tab 1</h1>
        <p>Contenu de la tab 1</p>
    </tab>
    <tab title="Motivation">
        <h1>titre tab 2</h1>
        <p>Contenu de la tab 2</p>
    </tab>
</tabs> -->