<template>
	<div id="page-news-single" class="news-container page-container">

		<div class="back my-3">
			<NuxtLink to="/news" title="Back">
				<svg width="64" height="17" viewBox="0 0 64 17" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M28.4863 14V4.04688H31.7402C32.8203 4.04688 33.6315 4.27019 34.1738 4.7168C34.7207 5.16342 34.9941 5.82422 34.9941 6.69922C34.9941 7.16407 34.862 7.5765 34.5977 7.93653C34.3333 8.292 33.9733 8.56771 33.5176 8.76368C34.0553 8.91407 34.4792 9.20118 34.7891 9.625C35.1035 10.0443 35.2607 10.5456 35.2607 11.1289C35.2607 12.0221 34.9714 12.724 34.3926 13.2344C33.8138 13.7448 32.9958 14 31.9385 14H28.4863ZM29.7988 9.34473V12.9268H31.9658C32.5765 12.9268 33.0573 12.7695 33.4082 12.4551C33.7637 12.1361 33.9414 11.6986 33.9414 11.1426C33.9414 9.94401 33.2897 9.34473 31.9863 9.34473H29.7988ZM29.7988 8.292H31.7812C32.3555 8.292 32.8135 8.14844 33.1553 7.86133C33.5016 7.57422 33.6748 7.18457 33.6748 6.69239C33.6748 6.14551 33.5153 5.74903 33.1963 5.50293C32.8773 5.25228 32.3919 5.12696 31.7402 5.12696H29.7988V8.292ZM42.7051 11.4023H38.5352L37.5986 14H36.2451L40.0459 4.04688H41.1943L45.002 14H43.6553L42.7051 11.4023ZM38.9316 10.3223H42.3154L40.6201 5.667L38.9316 10.3223ZM53.5811 10.8418C53.458 11.8945 53.0684 12.708 52.4121 13.2822C51.7604 13.8519 50.8923 14.1367 49.8076 14.1367C48.6318 14.1367 47.6885 13.7152 46.9775 12.8721C46.2712 12.029 45.918 10.901 45.918 9.48829V8.53125C45.918 7.60612 46.082 6.79265 46.4102 6.09082C46.7428 5.389 47.2122 4.85124 47.8184 4.47754C48.4245 4.09929 49.1263 3.91016 49.9238 3.91016C50.9811 3.91016 51.8288 4.20638 52.4668 4.79883C53.1048 5.38672 53.4762 6.20248 53.5811 7.2461H52.2617C52.1478 6.45313 51.8994 5.87891 51.5166 5.52344C51.1383 5.16797 50.6074 4.99024 49.9238 4.99024C49.0853 4.99024 48.4268 5.30013 47.9482 5.91993C47.4743 6.53972 47.2373 7.42155 47.2373 8.56543V9.5293C47.2373 10.6094 47.4629 11.4684 47.9141 12.1064C48.3652 12.7445 48.9964 13.0635 49.8076 13.0635C50.5368 13.0635 51.0951 12.8994 51.4824 12.5713C51.8743 12.2386 52.1341 11.6621 52.2617 10.8418H53.5811ZM57.9082 9.37207L56.6914 10.6367V14H55.3789V4.04688H56.6914V8.96875L61.1143 4.04688H62.7002L58.7832 8.44239L63.0078 14H61.4355L57.9082 9.37207Z" fill="white"/>
					<path d="M6.38821 12.2723C6.66348 12.5476 6.66348 12.9939 6.38821 13.2691C6.11295 13.5444 5.66665 13.5444 5.39139 13.2691L1.16222 9.03998C0.886957 8.76472 0.886957 8.31842 1.16222 8.04316L5.39139 3.81399C5.66665 3.53872 6.11295 3.53872 6.38821 3.81399C6.66348 4.08926 6.66348 4.53555 6.38821 4.81081L3.36231 7.83672L15.7503 7.83672C16.1438 7.83672 16.4629 8.1523 16.4629 8.54158C16.4629 8.93086 16.1438 9.24644 15.7503 9.24644L3.36233 9.24644L6.38821 12.2723Z" fill="white"/>
				</svg>
			</NuxtLink>
		</div>

		<div class="grid-lg-40-60 mb50">

			<!-- IMAGE -->
			<div v-if="news[0].image !== ''">
				<div class="news-img">
					<img :src="api_url + news[0].image_full" alt />
				</div>
			</div>
			<div v-else>
				<div class="placeholder"></div>
			</div>
			
			<!-- CONTENU -->
			<div class="newscontent">
				<!-- TITRE-->
				<h1 class="bleu" v-html="news[0].title"></h1>
				<!-- DATE-->
				<div class="date mb30" v-html="news[0].created"></div>
				<!-- TAGS-->
				<ul class="tags mb30 d-flex flex-wrap">
					<NuxtLink
						tag="li"
						v-for="(tag, i) in news[0].tag" :key="i"
						:to="'/news/tag/' + tag"
						v-html="tag"
                	></NuxtLink>
				</ul>
				<!-- TEXTE -->
				<div v-html="news[0].content"></div>
			</div>
		</div>

		<!-- RELATED NEWS -->
		<ul v-if="news[0].related_articles.length != 0" class="tags mb30 d-flex flex-wrap">
			<h3 class="h2 blanc">Related articles:</h3>
			<!-- <NuxtLink
				tag="li"
				v-for="(n, i) in news[0].related_articles" :key="i"
				:to="'/news/' + n.nid"
				v-html="n"
			></NuxtLink> -->
			<li v-for="(n, i) in news[0].related_articles" :key="i" v-html="n"></li>
		</ul>
		<!-- <div v-else class="tags">
			<p>there are no related articles</p>
		</div> -->
	</div>
</template>



<script>
	export default {

		data() {
			return {
				api_url: process.env.BASE_API_URL,
			}
		},

		async asyncData({ params, $axios }) {
			const news = await $axios.$get(`${process.env.BASE_API_URL}/api/news?nid=${ params.id }`);
			return { news }
		}

	};
</script>



<style lang="scss">
#page-news-single {
	.newscontent {
		@media (min-width: 768px) {
			padding-right: 8vh;
		}
		a { color: var(--bleu); }
	}
	.placeholder {
		background-color: var(--bleu);
		width: 100%;
		min-height: 500px;
	}
	.news-img {
		img { width: 100%; }
	}
	.tags {
		@media (min-width: 768px) { width: 40%; }
		h3 { width: 100%; }
	}
}
</style>