<template>
    <div id="page-news" class="page-container content--alt">
        <div class="titre my-5"><h1>Cyber Threat Intelligence <span class="bleu bold">News</span></h1></div>


        <!-- FILTRES ////////////////////////////////////////////////////////////////////////////////////// -->
        <div class="filtres">
            <div class="select-wraper d-flex flex-wrap flex-xl-nowrap justify-content-center justify-content-lg-start">
                <div class="select-container">
                    <select v-model="selected.adversaries">
                        <option value>Filter by attacker name</option>
                        <option :value="adversary.nid" v-for="adversary in adversaries" :key="adversary.nid">{{ adversary.name }}</option>
                    </select>
                </div>
                <div class="select-container">
                    <select v-model="selected.adversary_type">
                        <option value>Filter by attacker type</option>
                        <option :value="at.name" v-for="at in adversary_type" :key="at.tid">{{ at.name }}</option>
                    </select>
                </div>
                <div class="select-container">
                    <select v-model="selected.areas">
                        <option value>Filter by aera</option>
                        <option :value="area.nid" v-for="area in areas" :key="area.nid">{{ area.title }}</option>
                    </select>
                </div>
                <div class="select-container">
                    <select v-model="selected.target_sectors">
                        <option value>Filter by target sector</option>
                        <option :value="ts.name" v-for="ts in target_sectors" :key="ts.tid">{{ ts.name }}</option>
                    </select>
                </div>

                <div class="reset-btn mx-auto mx-md-3 d-flex align-items-center" @click="resetSelect()">
                    <ResetBtn/>
                </div>

            </div>
            <div class="mb-4 mb-lg-0 d-flex flex-wrap justify-content-center justify-content-lg-start tags-container">
                <div class="d-flex align-items-center w-xl-100">
                    <p class="bold me-2">Filter by tag: </p>
                    <svg @click="activeTags" :class="{'tags-active': tags_more_active}" data-v-4a063e07="" width="30" height="30" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg"><rect data-v-4a063e07="" y="24.7488" width="35" height="35" rx="17.5" transform="rotate(-45 0 24.7488)" fill="#00B3D8"></rect> <path data-v-4a063e07="" d="M24.7487 30.2485L24.7487 19.2491" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="dash-v"></path> <path data-v-4a063e07="" d="M19.249 24.7487L30.2485 24.7487" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="dash-h"></path></svg>
                </div>
                <slide-up-down :active="tags_more_active" :duration="600" class="tags w-100 d-flex flex-wrap">
                    <NuxtLink 
                        :to="'/news/tag/' + t.name"
                        v-for="(t, i) in tags" :key="i"
                        tag="p"
                        v-html="'#' + t.name"
                        class="tag m-0 ps-4"
                    ></NuxtLink>
                </slide-up-down>
            </div>
        </div>


        <!-- LOADER ////////////////////////////////////////////////////////////////////////////////////// -->
        <div class="loader" v-if="loading">
            <Loader />
        </div>


        <!-- ARTICLES ////////////////////////////////////////////////////////////////////////////////////// -->
        <div v-else class="news-item">
            <div class="newscontainer" v-if="newses.length != 0">
                <div v-for="news_item in newses" :key="news_item.nid">
                    <div class="newsitem" :title="news_item.title" img-alt="Image" tag="article">
                        <NuxtLink :to="'/news/' + news_item.nid">
                            <div class="newsitem__inner">
                                <div class="newsplaceholder">
                                    <img :src="api_url + news_item.image_thumbnail" alt />
                                </div>
                                <div class="newsdate">{{ news_item.created }}</div>
                                <h3 class="newstitre" v-html="news_item.title"></h3>
                                <div v-html="news_item.field_content_news"></div>
                                <span>More</span>
                            </div>
                        </NuxtLink>
                    </div>
                </div>
            </div>
            <div class="newscontainer d-flex justify-content-center uppercase bold" v-else><p>no results found</p></div>

            <!-- VOIR PLUS ARTICLES //////////////////////////////////////////////// -->
            <!-- <div class="plus">
                <svg width="110" height="110" viewBox="0 0 110 110" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g filter="url(#filter0_d_9:2001)">
                        <rect x="20" y="44.6611" width="49.0182" height="49.0182" rx="24.5091" transform="rotate(-45 20 44.6611)" fill="#00B3D8"/>
                    </g>
                    <path d="M54.6615 52.3636L54.6615 36.9587" stroke="white" stroke-width="4.08485" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M46.9587 44.6612L62.3636 44.6612" stroke="white" stroke-width="4.08485" stroke-linecap="round" stroke-linejoin="round"/>
                    <defs>
                        <filter id="filter0_d_9:2001" x="0.151855" y="0.152039" width="109.019" height="109.018" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix" />
                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                            <feOffset dy="10" />
                            <feGaussianBlur stdDeviation="15" />
                            <feColorMatrix type="matrix" values="0 0 0 0 0.25098 0 0 0 0 0.74902 0 0 0 0 1 0 0 0 0.24 0"/>
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_9:2001"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_9:2001" result="shape"/>
                        </filter>
                    </defs>
                </svg>
            </div> -->
        </div>

        <WorldBg />
        
    </div>
</template>


<script>
import Loader from '~/components/_global/Loader.vue';
import _ from "lodash"
import WorldBg from '~/components/_global/WorldBg.vue';
import ResetBtn from '~/components/_global/ResetBtn.vue';
import SlideUpDown from 'vue-slide-up-down'


export default {
    components: { Loader, WorldBg, ResetBtn, SlideUpDown },
    data() {
        return {
            api_url: process.env.BASE_API_URL,
            loading: true,
            tags_more_active: false,
            newses: [],
            adversaries: [],
            adversary_type: [],
            target_sectors: [],
            areas: [],
            tags: [],
            selected: {
                adversaries: "",
                adversary_type: "",
                target_sectors: "",
                areas: "",
            },
        }
    },
    // computed: {
    //     newses () {
    //         return this.$store.state.news.news
    //     },
    // },
    mounted() {
        if (this.$route.query.area !== undefined) { this.selected.areas = this.$route.query.area }
        this.loadNews();
        this.loadAdversaries();
        this.loadAdversariesType();
        this.loadTargetSectors();
        this.loadTags();
        this.loadAreas();
    },
    watch: {
        selected: {
            handler() {
                this.loading = true;
                this.loadNews();
            },
            deep: true
        }
    },
    methods: {
        resetSelect () {
            this.selected.adversaries = "";
            this.selected.adversary_type = "";
            this.selected.target_sectors = "";
            this.selected.areas = "";
        },
        activeTags() {
            this.tags_more_active = !this.tags_more_active;
        },
        loadNews() {
            this.$axios.get(process.env.BASE_API_URL + '/api/news', { params: this.selected })
                .then((response) => {
                    this.newses = response.data;
                    this.loading = false;
                })
                .catch(err => { console.error("ERREUR DE L'API: " + err) });
        },
        loadTags() {
            this.$axios.get(process.env.BASE_API_URL + '/api/tag?type=news')
                .then((response) => { this.tags = response.data; })
                .catch(err => { console.error("ERREUR DE L'API: " + err) });
        },
        loadAdversaries() {
            this.$axios.get(process.env.BASE_API_URL + '/api/adversaries', { params: _.omit(this.selected, 'adversaries') })
                .then((response) => {
                    this.adversaries = response.data;
                })
                .catch(err => { console.error("ERREUR DE L'API: " + err) });
        },
        loadAdversariesType() {
            this.$axios.get(process.env.BASE_API_URL + '/api/adversary-type', { params: _.omit(this.selected, 'adversary_type') })
                .then((response) => {
                    this.adversary_type = response.data;
                })
                .catch(err => { console.error("ERREUR DE L'API: " + err) });
        },
        loadTargetSectors() {
            this.$axios.get(process.env.BASE_API_URL + '/api/target-sector', { params: _.omit(this.selected, 'target_sectors') })
                .then((response) => {
                    this.target_sectors = response.data;
                    // this.loading = false;
                })
                .catch(err => { console.error("ERREUR DE L'API: " + err) });
        },
        loadAreas() {
            this.$axios.get(process.env.BASE_API_URL + '/api/areas', { params: _.omit(this.selected, 'areas') })
                .then((response) => {
                    this.areas = response.data;
                })
                .catch(err => { console.error("ERREUR DE L'API: " + err) });
        },
    },
}
</script>






<style lang="scss">

#page-news {

    button { margin: 0; }
    .newsitem {
        &:hover {
            p,
            .newsdate {
                color: white;
            }
        }
    }
    
    
    
    .filtres {
        .select-wraper {
            .select-container {
                width: 100%;
                @media (min-width: 1200px) { 
                    &:first-child { margin-left: 0; }
                    width: 262px; 
                }
                select { width: 100%; }
            }
            // .search-container {
            //     width: 100%;
            //     margin: 8px;
            //     @media (min-width: 1200px) { width: unset }
            //     input { 
            //         width: 100%; 
            //         @media (min-width: 576px) { width: 14rem; }
            //     }
            //     button { width: unset; }
            // }
        }
    }

    
    
    
    .newscontainer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 24px;
        grid-row-gap: 0px;
        @media (min-width: 576px) { grid-template-columns: repeat(2, 1fr); }
        @media (min-width: 1200px) {
            // padding: 4vh;
            margin-bottom: -4vh;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 1fr;
        }
        .newsitem {
            min-height: 350px;
            margin-bottom: 20px;
            width: 100%;
            // @media (min-width: 767px) { width: 41vw; }
            // @media (min-width: 1200px) { width: 22.25vw; }
            p {
                font-size: 14px;
                margin-top: 10px;
            }
            .newstitre {
                font-size: 1rem;
                text-align: left;
                margin-top: 10px;
            }
            .newsdate {
                font-size: 14px;
                margin-top: 10px;
            }
        }
    
        .newsitem__inner {
            width: 100%;
            height: 100%;
            .newsplaceholder {
                background-color: var(--bleu);
                width: 100%;
                height: 240px;
                border-radius: 7px;
                overflow: hidden;
                margin-top: 10px;
                img {
                    object-fit: cover;
                    height:100%;
                    width: 100%;
                }
            }
        }
    }
    .news .titre { padding: 4vh; }
}



</style>
