<template>
    <div class="layout-container">
        
        <Nav />

        <Nuxt />
        
        <Footer />

        <!-- <CookieControl/> -->


    </div>
</template>
<script>
import Nav from "~/components/menu/Nav.vue";
import Footer from "~/components/Footer.vue";
import Sidebar from "~/components/Sidebar.vue";
import { ExpoScaleEase } from "gsap/EasePack";
export default {
    components: { Nav, Sidebar, Footer },
    mounted() {
		// this.$gtm.init();
        // console.log(this.$cookies);
    },
    computed: {
        homePage() {
            if (this.$route.path == "/" || this.$route.path == "/index") { return true }
            else { return false }
        }
    },
    currentRouteName() {
        return this.$route.name;
    },
}
</script>

// <style lang="scss">
// .cookieControl {
//     .cookieControl__ControlButton { display: none; }
//     .cookieControl__BarContainer {
//         border-top: 2px solid var(--bleu);
//     }
//     button {
//         line-height: 0;
//         color: var(--blanc);
//         background-color: var(--bleu);
//         &:nth-child(3) { display: none; }
//         @media (min-width: 768px) { width: 12rem; }
//     }
// }
// </style>

