<template>
	<div class="content">
		<div class="map content">
			<!-- MAP / CONTENT //////////////////////////////////////////////////////////////////////////////////////  -->
			<div class="map-container">
				<div v-if="!anim_map_finished">
					<lottie
						class="map-anim"
						:options="lottieOptions.map"
					/>
				</div>

				<lottie
					v-if="anim_map_finished"
					class="attack-anim"
					:options="lottieOptions.attack"
					v-on:animCreated="handleAnimation"
				/>

				<div class="map-anim" v-if="anim_map_finished">
					<MapSvg />
				</div>

			</div>
		</div>
	</div>
</template>


<script>
import lottie from "vue-lottie/src/lottie.vue";
import * as animationData from "@/assets/images/map.json";
// import * as animationData from "@/assets/images/map-2.json";
import * as animationAttack from "@/assets/images/data-attack.json";

export default {
	components: { lottie },
	data() {
		return {
			// anim: 'map', // for saving the reference to the animation
			anim_map_finished: false,
			lottieOptions: { 
				map: {
					animationData: animationData.default, 
					loop: false 
				},
				attack: {
					animationData: animationAttack.default, 
					loop: true
				}
			}
		};
	},
	mounted() { 
		// this.test(animationData.default.layers)
		this.setShow();
		// this.handleArea();
	},
	methods: {
		handleAnimation: function (anim) {
			// this.anim = anim.playSegments([0, 253], true);
			// this.anim = anim
			anim.setSpeed(0.8)
		},
		setShow() {
			setTimeout(() => {
				this.anim_map_finished = true
			}, 3500);
		},
	}
}
</script>




<style lang="scss">
.map-container {
	position: relative;
	width: 90vw;
	margin: 0 auto;
	@media (min-width: 1200px) { width: 80vw; }
	.map-anim {
		background-color: transparent;
		// width: 100%;
		// height: 73vh;
		display: block;
		overflow: hidden;
		transform: translate3d(0, 0, 0);
		text-align: center;
		opacity: 1;
		cursor: pointer;
		max-width: 100%;
		svg {
			cursor: pointer;
			max-width: 100%;
			& > path {
				fill: red;
				stroke: red;
				// fill: white;
				// stroke: white;
			}
		}
	}
	.attack-anim {
		position: absolute;
		// top: 0;
		top: -2px;
		// left: -10rem;
		left: 1px;
	}
}
</style>