<template>
    <div id="page-contact">

       <div class="titre mb-5"><h1><span class="bleu bold">Contact</span></h1></div>

        <div>
            <svg class="mx-auto d-block" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 15 15" fill="none">
                <path d="M0 14.5691C0 11.7256 0 8.88216 0 6.03868C0.0510527 6.07592 0.103133 6.11187 0.153041 6.15062C1.54189 7.22831 2.93051 8.30633 4.31942 9.38397C4.35781 9.41378 4.39629 9.44542 4.43932 9.46698C4.62191 9.55847 4.81523 9.43194 4.81549 9.22772C4.8157 9.08788 4.71562 9.02332 4.62385 8.95201C3.51332 8.08913 2.40221 7.22705 1.29139 6.36456C0.948616 6.09842 0.606287 5.8317 0.253442 5.55722C0.883229 5.0684 1.50156 4.58847 2.14498 4.08906C2.14498 4.17489 2.14498 4.22711 2.14498 4.27936C2.14498 4.86561 2.14412 5.4519 2.14606 6.03815C2.1463 6.11052 2.15003 6.18665 2.17235 6.25439C2.21219 6.37507 2.30712 6.43079 2.43387 6.4208C2.56101 6.41082 2.64014 6.33727 2.66593 6.21459C2.6778 6.15813 2.67278 6.09784 2.6728 6.03927C2.6731 4.51988 2.67298 3.00047 2.67307 1.48108C2.6731 1.15118 2.75943 1.06457 3.08922 1.06454C6.03547 1.06442 8.98175 1.06442 11.928 1.06457C12.2467 1.0646 12.3372 1.15527 12.3372 1.47333C12.3374 2.98784 12.3373 4.50235 12.3374 6.01686C12.3374 6.07545 12.3346 6.13464 12.3416 6.19253C12.3578 6.32567 12.4372 6.40327 12.5688 6.42019C12.7019 6.43728 12.8103 6.36394 12.8435 6.23374C12.8589 6.17317 12.8644 6.10864 12.8645 6.04588C12.866 5.45475 12.8652 4.86359 12.8657 4.27243C12.8657 4.22129 12.8701 4.17016 12.8735 4.09494C13.511 4.59008 14.1287 5.06972 14.7529 5.55449C14.7098 5.59106 14.6812 5.61729 14.6507 5.64099C13.3662 6.63812 12.0816 7.63502 10.797 8.63206C10.6311 8.76083 10.4631 8.88692 10.3012 9.02062C10.1671 9.13146 10.1484 9.29169 10.2453 9.40864C10.3374 9.5199 10.4873 9.53024 10.6276 9.4344C10.6477 9.42066 10.6658 9.40406 10.6851 9.38911C11.8153 8.51173 12.9454 7.63434 14.0756 6.75708C14.3788 6.52178 14.6823 6.28693 15 6.04083C15 8.89644 15 11.7293 15 14.5807C14.9385 14.5356 14.8918 14.5029 14.8467 14.4678C12.5945 12.7185 10.3423 10.9693 8.0905 9.2194C7.67761 8.89855 7.33992 8.89288 6.93647 9.2063C4.72687 10.9229 2.51762 12.64 0.307432 14.3558C0.209057 14.4322 0.102663 14.4982 0 14.5691ZM7.50539 4.54814C7.99353 4.54814 8.48168 4.54817 8.96982 4.54814C9.3652 4.54811 9.76061 4.54981 10.156 4.54708C10.3446 4.54579 10.449 4.44146 10.4416 4.27313C10.4341 4.10419 10.3165 4.01989 10.0824 4.01983C8.36412 4.01942 6.64587 4.01942 4.92761 4.02051C4.86986 4.02054 4.81047 4.02735 4.75469 4.04186C4.63026 4.07423 4.56939 4.16076 4.56836 4.2882C4.56701 4.45245 4.67405 4.54723 4.86948 4.54752C5.7481 4.54876 6.62674 4.54805 7.50539 4.54814ZM7.5088 2.94058C8.35316 2.94058 9.19756 2.9407 10.0419 2.94035C10.1004 2.94032 10.1594 2.94105 10.2173 2.93424C10.3573 2.91776 10.4439 2.81625 10.4424 2.67644C10.4404 2.4996 10.3251 2.41501 10.0786 2.41492C8.36544 2.41442 6.65227 2.41451 4.93913 2.4153C4.88099 2.41533 4.82157 2.41894 4.76497 2.43122C4.63951 2.45842 4.57403 2.54142 4.56883 2.66907C4.56167 2.84509 4.66982 2.93958 4.88778 2.93993C5.76149 2.94134 6.63514 2.94052 7.5088 2.94058ZM8.98571 6.15825C9.37169 6.15825 9.75767 6.15954 10.1436 6.15769C10.329 6.15681 10.4367 6.06368 10.442 5.90777C10.4476 5.74514 10.3398 5.63121 10.1526 5.63021C9.37096 5.62607 8.58919 5.6246 7.80759 5.63391C7.72358 5.63491 7.61331 5.69292 7.56505 5.76024C7.52196 5.8203 7.51312 5.95298 7.55218 6.01163C7.59998 6.08336 7.71207 6.14859 7.79878 6.15179C8.19393 6.16636 8.58998 6.15816 8.98571 6.15825Z" fill="#00B3D8"/>
                <path d="M7.59311 0C7.81142 0.167887 8.0297 0.335774 8.2778 0.526571C7.75156 0.526571 7.26356 0.526571 6.73535 0.526571C6.9786 0.338712 7.19791 0.169356 7.41722 0C7.47585 0 7.53448 0 7.59311 0Z" fill="#00B3D8"/>
                <path d="M0.341797 14.9999C0.649082 14.7607 0.93184 14.54 1.21504 14.32C3.21611 12.7654 5.21739 11.211 7.21831 9.65619C7.47269 9.45852 7.5325 9.45488 7.76679 9.63689C10.0299 11.3954 12.2929 13.1541 14.5558 14.9129C14.585 14.9356 14.6124 14.9605 14.6592 14.9999C9.88172 14.9999 5.12868 14.9999 0.341797 14.9999Z" fill="#00B3D8"/>
            </svg>
            <p class="w-50 mx-auto bold text-center">Contact us</p>
            <p class="w-50 mx-auto mb-5 text-center">
                To contact us, please click 
                <a target="_blank" href="https://thalesgroup-myfeed.com/ContactUs_SIX_CDS_Cyber_Threat_Intelligence"><span class="bold bleu">this link</span></a>
            </p>


            <svg class="mx-auto d-block" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 15 15" fill="none">
                <path d="M0 13.9412C0.0753234 13.6837 0.246841 13.4958 0.432126 13.3116C1.17388 12.5742 1.91012 11.8312 2.64724 11.0892C2.68487 11.0513 2.71167 11.0025 2.75344 10.9452C3.10884 11.4654 3.51915 11.879 4.04548 12.2385C3.98636 12.2789 3.93566 12.3033 3.89815 12.3408C3.12082 13.1187 2.33162 13.8852 1.57334 14.6814C1.02873 15.2533 0.169874 14.9939 0.0182878 14.3162C0.0164385 14.3079 0.00628185 14.3014 0 14.2941C0 14.1765 0 14.0588 0 13.9412Z" fill="#00B3D8"/>
                <path d="M3.57433 4.88374C3.57433 4.80406 3.57433 4.75685 3.57433 4.70961C3.57433 3.49402 3.574 2.27846 3.57447 1.06288C3.57471 0.439892 4.01262 0.000325036 4.63329 0.000207158C6.86455 -0.000146475 9.09578 5.98108e-05 11.327 5.98108e-05C11.3747 5.98108e-05 11.4224 5.98108e-05 11.4842 5.98108e-05C11.4842 0.0661598 11.4842 0.118645 11.4842 0.17116C11.4842 1.09264 11.4842 2.01412 11.4842 2.93563C11.4842 3.38289 11.6321 3.52953 12.0831 3.52953C12.9961 3.52953 13.9091 3.52953 14.8221 3.52953C14.8751 3.52953 14.928 3.52953 14.9999 3.52953C14.9999 3.59083 14.9999 3.64275 14.9999 3.69468C14.9999 7.10615 15 10.5176 14.9997 13.9291C14.9997 14.5633 14.5651 14.9997 13.9338 14.9998C10.8237 15 7.71362 15.0003 4.60355 14.9995C4.04332 14.9993 3.57439 14.5482 3.57761 14.0098C3.57797 13.9497 3.60591 13.8746 3.64721 13.8322C4.00557 13.4642 4.37168 13.1039 4.73086 12.7367C4.79679 12.6693 4.84942 12.667 4.93385 12.6988C7.09257 13.5128 9.40526 12.6885 10.5875 10.6837C10.6308 10.6101 10.6776 10.5863 10.7598 10.5866C11.4287 10.5897 12.0976 10.5896 12.7665 10.5876C12.9962 10.5869 13.1578 10.4675 13.2182 10.2648C13.2718 10.0851 13.2112 9.88831 13.0461 9.79271C12.958 9.74167 12.8457 9.71105 12.7437 9.70943C12.2263 9.70129 11.7087 9.70568 11.1912 9.70565C11.1378 9.70565 11.0845 9.70565 11.0251 9.70565C11.0821 9.41149 11.1374 9.12687 11.1962 8.82363C11.2412 8.82363 11.2931 8.82363 11.345 8.82363C11.8235 8.82357 12.302 8.82593 12.7804 8.82242C13.0061 8.82077 13.1636 8.69529 13.2217 8.48644C13.2703 8.31148 13.1998 8.1087 13.0353 8.01915C12.9495 7.97244 12.8424 7.94588 12.7444 7.94429C12.2806 7.93672 11.8168 7.9409 11.3529 7.9409C11.3 7.9409 11.247 7.9409 11.1958 7.9409C11.1384 7.64338 11.0831 7.35714 11.0256 7.05888C11.141 7.05888 11.2573 7.05888 11.3736 7.05888C11.8325 7.05888 12.2914 7.06012 12.7504 7.05841C13.033 7.05735 13.2372 6.8737 13.2412 6.62215C13.2452 6.36753 13.0355 6.1771 12.7451 6.17657C12.086 6.17536 11.4269 6.17436 10.7678 6.17836C10.6792 6.17889 10.6304 6.15208 10.582 6.07658C10.4162 5.81789 10.2403 5.56575 10.0568 5.29419C10.1029 5.29419 10.1525 5.29419 10.2021 5.29419C11.0517 5.29419 11.9012 5.29478 12.7508 5.29378C12.9783 5.29351 13.1465 5.18409 13.2117 5.00038C13.3121 4.71786 13.1136 4.43094 12.8034 4.41258C12.7304 4.40825 12.657 4.41152 12.5838 4.41152C11.4169 4.41149 10.25 4.41252 9.08312 4.40905C9.00974 4.40884 8.92828 4.38818 8.86432 4.35235C7.18639 3.41289 5.16126 3.58738 3.67111 4.80329C3.64865 4.82171 3.62643 4.84045 3.57433 4.88374ZM7.96678 2.64683C7.24988 2.64683 6.53302 2.64565 5.81612 2.64742C5.53761 2.6481 5.33119 2.84036 5.3328 3.0899C5.33439 3.33503 5.53646 3.52823 5.80526 3.52856C7.24877 3.53038 8.6923 3.53195 10.1358 3.52428C10.243 3.52372 10.3645 3.4705 10.4536 3.40594C10.6015 3.29875 10.6371 3.0996 10.5713 2.92903C10.5053 2.7579 10.3398 2.64798 10.132 2.64751C9.41028 2.64583 8.68854 2.64686 7.96678 2.64683ZM11.6258 12.353C12.0059 12.353 12.3861 12.3552 12.7662 12.3523C13.0359 12.3502 13.2372 12.1623 13.2413 11.9167C13.2453 11.6742 13.041 11.4726 12.7761 11.4716C12.011 11.4686 11.2458 11.4662 10.4808 11.4756C10.3778 11.4769 10.2619 11.5277 10.1762 11.5894C10.026 11.6977 9.98727 11.8915 10.0511 12.064C10.115 12.2368 10.2803 12.3506 10.4854 12.3522C10.8656 12.3551 11.2457 12.353 11.6258 12.353Z" fill="#00B3D8"/>
                <path d="M9.33929 10.8968C9.05291 10.0185 8.86105 9.77617 8.06757 9.29708C8.44196 8.79699 8.58512 8.24119 8.43532 7.62646C8.32962 7.19276 8.09293 6.83936 7.73954 6.5691C7.02487 6.02253 6.01558 6.06319 5.34941 6.64333C4.7121 7.19836 4.37338 8.29946 5.11566 9.3059C4.79429 9.45846 4.51601 9.66648 4.29465 9.94474C4.07176 10.2249 3.92748 10.5426 3.85647 10.8941C3.17683 10.5295 2.67792 8.75225 2.93709 7.58497C3.29927 5.95374 4.63331 4.81737 6.18413 4.65169C8.0211 4.45546 9.53614 5.5786 10.0942 7.06745C10.6387 8.52 10.1742 10.0817 9.33929 10.8968Z" fill="#00B3D8"/>
                <path d="M6.59067 10.0105C6.85406 10.0105 7.12213 9.97867 7.37992 10.0168C7.98729 10.1067 8.40415 10.5592 8.49333 11.1759C8.50311 11.2436 8.50293 11.3154 8.52677 11.3779C8.58756 11.5372 8.51596 11.61 8.37973 11.6797C7.15436 12.3067 5.93976 12.296 4.73077 11.6353C4.65186 11.5922 4.61767 11.5503 4.643 11.4523C4.68683 11.2825 4.69939 11.1043 4.74756 10.9361C4.90675 10.3804 5.41388 10.0031 5.99022 10.0003C6.19036 9.9993 6.3905 10.0002 6.59064 10.0002C6.59067 10.0036 6.59067 10.007 6.59067 10.0105Z" fill="#00B3D8"/>
                <path d="M6.58318 9.11735C6.01185 9.11576 5.56385 8.65503 5.56666 8.07201C5.56942 7.5069 6.02811 7.05743 6.6005 7.05896C7.17291 7.0605 7.61995 7.52013 7.61695 8.10404C7.61405 8.66944 7.1555 9.11894 6.58318 9.11735Z" fill="#00B3D8"/>
                <path d="M12.3682 2.63757C12.3682 1.84994 12.3682 1.07259 12.3682 0.331787C13.1282 1.09472 13.906 1.8756 14.6651 2.63757C13.9357 2.63757 13.1594 2.63757 12.3682 2.63757Z" fill="#00B3D8"/>
                <path d="M11.626 12.3531C11.2459 12.3531 10.8657 12.3552 10.4856 12.3522C10.2805 12.3507 10.1152 12.2368 10.0513 12.0641C9.98743 11.8915 10.0261 11.6977 10.1764 11.5895C10.2621 11.5277 10.378 11.477 10.481 11.4757C11.246 11.4663 12.0112 11.4687 12.7762 11.4716C13.0411 11.4726 13.2455 11.6743 13.2414 11.9167C13.2373 12.1624 13.0361 12.3503 12.7663 12.3524C12.3862 12.3553 12.0061 12.3531 11.626 12.3531Z" fill="#000"/>
            </svg>
            <p class="w-50 mx-auto bold text-center">Job proposals</p>
            <p class="w-50 mx-auto text-center">
                Would you be interested in our job proposals, please click 
                <a target="_blank" href="https://thales.wd3.myworkdayjobs.com/en-US/Careers/jobs?jobFamilyGroup=47200b8529d910216a6cd92c6e3634d2"><span class="bold bleu">this link</span></a>
            </p>
        </div>

        <!-- <div v-if="success" class="success-message w-50 mx-auto my-5 text-center">
            <p class="m-0">Great! Your message has been sent successfully. We will try to respond quickly.</p>
        </div> -->

        <!-- <div v-else class="contact">
            <form v-on:submit.prevent="sendMessage">
                <div class="inputsplit mb15">
                    <input v-model="name" type="text" placeholder="Name" required>
                    <input v-model="surname" type="text" placeholder="Surname">
                </div>
                <div class="mb15 d-flex"> 
                    <input v-model="company" type="text" placeholder="Company">
                </div>
                <div class="mb15 d-flex"> 
                    <input v-model="email" type="email" placeholder="Email">
                </div>
                <div class="mb15 d-flex"> 
                    <input v-model="object" type="text" placeholder="Object">
                </div>
                <div class="d-flex mb15">
                    <textarea v-model="message" id="" cols="30" rows="10" placeholder="Your message"></textarea>
                </div>
                <div class="d-flex justify-content-between">
                    <label for=""><input type="checkbox"><span>Rgpd</span></label>
                    <button type="submit" value="">
                        {{ loading ? "Sending Message..." : "Submit" }}
                    </button>
                </div>
            </form>
        </div> -->
    </div>
    
</template>





<script>
// export default {
//     data() {
//         return {
//             api_url: process.env.BASE_API_URL,
//             loading: false,
//             success: false,
//             errored: false,
//             name: "",
//             surname: "",
//             company: "",
//             email: "",
//             object: "",
//             message: "",
//         };
//     },
//     methods: {
//         sendMessage() {
//             this.loading = true;
//             this.$axios
//                 .post(process.env.BASE_API_URL + "/webform_rest/submit", {
//                     webform_id: "contact",
//                     name: this.name,
//                     surname: this.name,
//                     company: this.company,
//                     email: this.email,
//                     phone: this.phone,
//                     object: this.object,
//                     message: this.message,
//                 }).then(response => {
//                     console.log("RESPONSE: " + response);
//                     this.success = true
//                     this.errored =false
//                 })
//                 .catch(error => { this.errored = true; console.log("ERROR: " + error); })
//                 .finally(() => { this.loading = false });
//         },
//     }
// }
</script>





<style lang="scss">
#page-contact {
    .success-message {
        padding: 2rem;
        background: var(--bleu);
        border-radius: 4px;
        p { font-weight: bold; }
    }
    .contact {
        padding:4vh;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 4;
        form { width:50%; }
        button {
            display: inline-block;
            width: auto;
        }
        input[type="text"],
        input[type="email"],
        textarea {
            width: 100%;
            border-radius: 2px;
            padding:12px;
            font-family: "Open Sans", sans-serif;
            display: block;
        }
        .inputsplit {
            display: flex;
            justify-content: space-between;
            input:last-child { margin-right: 0; }
            input { width: 45%; }
        }
    }
}
</style>
