<template>
    <div id="credit">
        <div class="titre">
            <h1><span class="bleu bold">Credits</span></h1>
        </div>
        <div class="mb20" v-html="credits.body"></div>
    </div>
</template>



<script>
export default {
	data() {
		return {
			credits: [],
		}
	},
	mounted() {
		this.$fetch()
	},
	async fetch() {
		await this.$axios.$get(`${process.env.BASE_API_URL}/api/credits`)
			.then((response) => { 
				this.credits = response[0];
			})
			// .catch(err => { console.error("ERREUR DE L'API: " + err) });
	},
}
</script>