<template>
	<div class="home">

		<TopBarAlert/>

		<div class="titre flex-column">
			<h1 class="m-0"><span class="bleu">Cyberthreat</span> Hitmap</h1>
			<Timer />
		</div>

		<div class="map-feed">
			<Map />
			<Feeds/>
		</div>
		
		<sidebar />

		<WorldBgVideo />


	</div>
	
</template>


<script>

import TopBarAlert from "~/components/TopBarAlert.vue";
import WorldBgVideo from '~/components/_global/WorldBgVideo.vue';
import Timer from '~/components/_global/Timer.vue';
import Feeds from '~/components/feeds/feeds.vue';

export default {
	components: { WorldBgVideo, TopBarAlert, Timer, Feeds },
	head: {
		title: 'Cyberthreat Hitmap',
		link: [
			{
				rel: "canonical",
				href: "https://cyberthreat.thalesgroup.com/"
			}, 
			{
				rel: "shortlink",
				href: "https://cyberthreat.thalesgroup.com/"
			}
		],
		meta: [
			{
				name: "description",
				content: "A first-level analysis of the cyber-attacks recorded these latest months by geographical areas, targeted sectors and by main attackers or attackers groups."
			}, 
			{
				name: "abstract",
				content: "Thales Cyber Threat Inteligence Cyber Attack/cyber threat/cyber atlas Information Site"
			},
			{
				name: "keywords",
				content: "cyberdefense, cybersecurity, cyber attack, cyber threat analysis"
			}
		],
	},
	// mounted() {
		// if (document.body.classList.contains("lightmode")) {
		// 	document.body.style.background = "#000!important";
		// } 
		// console.log(this.$route);
		// console.log(this.$store.state.lightmode);
    // }
}
</script>



<style lang="scss">
.home {
	position: relative;
	z-index: 5;
	.titre {
		@media (min-width: 992px) { margin-bottom: -3rem; }
	}
}

.map-feed {
	position: relative;
	// display: flex;
	// flex-wrap: wrap;
	// @media (min-width: 1200px) { flex-wrap: nowrap; }
}

//   .home-enter-active, .home-leave-active { transition: opacity .5s; }
//   .home-enter, .home-leave-active { opacity: 0; }
</style>