<template>
    <div id="legal-notice">
        <div class="titre">
            <h1><span class="bleu bold">Legal notice</span></h1>
        </div>
        <div class="mb20">
                <p class="mb-5">
                    The purpose of these Terms of Use is to define the terms
                    and   conditions   of   access   and   use   of   the
                    site <a class="bleu" href="www.cyberthreat.thalesgroup.com">www.cyberthreat.thalesgroup.com</a> (hereinafter the "Site"). <br>
                    The   use   of   the   Site   is   subject   to   compliance   with   these
                    Terms of Use, which all users acknowledge that they accept
                    unreservedly by the mere fact of accessing  the said Site.
                    Any user who does not wish to be bound by these Terms of
                    Use must immediately renounce remaining on the Site and
                    immediately cease using it.
                </p>

                <h2>Legal notice</h2>
                <p class="mb-5">
                    The Site is published by Thales Six GTS France, a company
                    with a capital of 163,949,805 euros and whose registered
                    office   is   located   4   Avenue   des   Louvresses,   92230
                    Genevilliers, identified under the number 383 470 937 RCS
                    Nanterre, which can be reached at +33 (0) 1 57 77 80 00
                    (hereinafter "Thales").
                    The Director of Publication is Mr. Ivan Fontarensky
                    The   Site   is   hosted   by   Cegedim,   a   “Société   par   Actions
                    Simplifiée (SAS)”, whose registered office is located at 137
                    rue d’Aguesseau, 92100 Boulogne-Billancourt, France.
                </p>

                <h2>Copyright,   trademarks   and   other   intellectual property rights</h2>
                <p>
                    This Site and its contents are protected by copyright and/or
                    other intellectual property rights which are the property of
                    Thales or third parties.
                    The reproduction and use of the elements of this Site (and
                    any   information   incorporated   therein   such   as,   without
                    limitation, articles, graphic images, photographs, diagrams,
                    video recordings...) are authorised provided that :
                </p>
                <ul style="padding-left: 32px">
                    <li>
                        this reproduction and use are strictly for information, non-
                        commercial   purposes   within   your   organisation   to   enable
                        you to get to know Thales better; and,
                    </li>
                    <li>
                        all   mentions  of   origin  and  in   particular  copyright   notices
                        appear on any reproduction; and,
                    </li>
                    <li>
                        the elements and information are not modified in whole or
                        in part and in any way whatsoever; and
                    </li>
                    <li>
                        any   other   right   of   reproduction   and/or   use   is   expressly
                        prohibited.
                    </li>
                </ul>
                <p class="mb-5">
                    In   addition,   some   of   the   names   mentioned   may   be
                    protected by trademarks that are the property of Thales or
                    third parties without necessarily mentioning this protection.
                </p>

                <h2>Warranty and liability exclusions</h2>
                <p class="mb-5">
                    The   elements   of   this   Site   are   provided   for   general
                    information purposes only and cannot be used as a basis
                    for any transaction. <br><br>
                    In particular, with  regard to the financial information that
                    may be provided on this Site, the only authentic reference
                    is the French version of the document filed with the French
                    financial   markets   authority   (“Autorité   des   Marchés
                    Financiers-AMF”),   a   document   available   from   Thales'
                    Investor Relations Department. <br><br>
                    All   or   any   of   the   information   published   on   this   Site   is
                    provided   "as   is"   without   warranty   of   any   kind,   either
                    express or implied, including, but not limited to, warranties
                    of merchantability, fitness for a particular purpose or non-
                    infringement of third party rights. <br><br>
                    Thales   provides   no   guarantee   as   to   the   accuracy   or
                    completeness of the elements and/or information published
                    on this Site. <br><br>
                    Thales in no way guarantees uninterrupted access  to this
                    Site as well as the security of the Site and the absence of
                    all   viruses   or   other   undesirable   hosts   (including   in   the
                    elements   of   the   Site   and   in   the   information   incorporated
                    therein). <br><br>
                    The   use   of   the   elements   of   the   Site   and   any   information
                    included therein as well as access to this Site are the sole
                    responsibility of the user. Thales disclaims liability for any
                    damage whatsoever, including without limitation direct and
                    indirect   damage   that   may   result   from   access   to   this   Site
                    and  the   use  of  all  or  part  of   the   elements   or  information
                    contained therein.
                </p>

                <h2>Hypertext links</h2>
                <p class="mb-5">
                    This Site may contain links to third party sites. These links
                    are   provided   solely   as   a   convenience   to   you   and   the
                    inclusion of any link does not imply any endorsement of, or
                    guarantee of, the materials on the linked sites. Access  to
                    these sites is the sole responsibility of the user.
                </p>

                <h2>Transmission of information by users</h2>
                <p class="mb-5">
                    Any   information   or   request   for   information   that   you   may
                    send to Thales via the Site or via the electronic mailbox to
                    which the Site may provide access, is considered to be non-
                    confidential.
                    You may also send your information or requests by post to
                    the address of Thales' head office for the attention of the
                    department identified in the corresponding section of this
                    Site.
                    Modifications
                    Thales may modify at any time and without prior notice the
                    elements published on this Site or any information included
                    therein.
                    <a class="bleu" href="https://www.thalesgroup.com/en/privacy-notice">Protection of personal data</a>
                </p>
        </div>
    </div>
</template>