<template>
    <div>
        <div class="titre">
            <h1>
                <span class="bleu bold">Newsletter</span>
            </h1>
        </div>
        <div class="contact">
            <form action>
                <div class="inputsplit mb15">
                    <input type="text" placeholder="Name" />
                    <input type="text" placeholder="Surname" />
                </div>
                <div class="mb15 d-flex">
                    <input type="text" placeholder="Company" />
                </div>
                <div class="mb15 d-flex">
                    <input type="email" placeholder="Email" />
                </div>
                <div class="d-flex justify-content-between">
                    <!--<label for=""><input type="checkbox"><span>Rgpd</span></label>-->
                    <button type="submit" value>Send</button>
                </div>
            </form>
        </div>
    </div>
</template>
<script>
export default {
}
</script>
<style lang="scss">
</style>
