<template>
	<section class="page-container" id="search-page">

		<div class="search-form mx-auto my-5 d-flex justify-content-center">
			<input @keyup.enter="loadSearchResults" v-model="input_search_text" type="text" name="" placeholder="Search...">
			<button @click="loadSearchResults">Search</button>
		</div>
		
		<div class="search-results">

			<div v-if="!loading && search_result.length != 0">
					<NuxtLink tag="div" :to="sr.url" class="search-result p-3" v-for="(sr, index) in search_result" :key="index">
						<h2 v-if="sr.content_title" class="h1 bleu" v-html="sr.content_title"></h2>
						<h2 v-if="sr.tax_name" class="h1 bleu" v-html="sr.tax_name"></h2>
						<p class="excerpt" v-html="sr.search_api_excerpt != '' ? sr.search_api_excerpt : 'no preview text'"></p>
						<p v-if="sr.type" v-html="'<strong>type: </strong>' + sr.type"></p>
						<p v-if="sr.vid" v-html="'<strong>type: </strong>' + sr.vid"></p>
					</NuxtLink>
			</div>

			<div v-if="!loading && search_result.length == 0" class="newscontainer d-flex justify-content-center uppercase bold"><p>no results found</p></div>

			<!-- <pre>{{ search_result }}</pre> -->

			<!-- LOADER ////////////////////////////////////////////////////////////////////////////////////// -->
			<div class="loader" v-if="loading">
				<Loader />
			</div>
		</div>
	</section>
</template>

<script>
	import Loader from '~/components/_global/Loader.vue';
	export default {
		
		data () {
			return {
				loading: true,
				search_result: [],
				// input_search_text: "",
				input_search_text: this.$route.query.key !== null ? this.$route.query.key : 'Search...',
			}
		},
		components: { Loader },
		mounted() {
			if (this.$route.query.key !== null) {
				this.loadSearchResults();
			}
		},
		watch: {
			input_search_text: {
				handler() {
					this.$route.query.key = this.input_search_text;
				},
			}
		},
		methods: {
			loadSearchResults() {
				this.loading = true;
				this.$axios.get(process.env.BASE_API_URL + '/api/search-api?key=' + this.$route.query.key)
					.then((response) => {
						this.search_result = response.data;
						this.loading = false;
					})
					.catch(err => { console.error("ERREUR DE L'API: " + err) });

			},
		}
	};
</script>

<style lang="scss">
	#search-page {
		.search-form {
			height: 3rem;
			input { 
				width: 100%; 
				max-width: 18rem; 
				padding: 1rem;
				font-weight: bold;
				color: var(--bleu);
				font-size: 18px;
				// &::placeholder { font-size: 18px;}
			}
			button { 
				margin: 0 0 0 1rem;
				width: 100%; height: 100%;
				max-width: 8rem; 
				border-radius: 7px;
			}
		}

		.search-results {
			// width: 100%;
			max-width: 1200px;
			margin: 0 auto;
			padding: 1rem;
			.search-result {
				.excerpt strong { color: var(--bleu); }
				&:hover { 
					cursor: pointer;
					background: var(--darkless); 
				}
			}
		}
	}
</style>