<template>
  
    <div>
        {{ toto }}        
    </div>


</template>

<script>


export default {
    data() {
        return {
            toto: "test"
        };
    },
    mounted() {},
};
</script>

<style lang="scss">

</style>