<template>
    <div id="the-projects">
        <div class="titre">
            <h1><span class="bleu bold">The project</span></h1>
        </div>
        <div class="mb20">
            <p>
                Dear valuable reader, <br><br>
                This website offers you a first-level analysis of the cyber-attacks recorded these latest months by geographical areas, 
                targeted sectors and by main attackers or attackers groups worldwide. <br>
                For a more detailed study, adapted to your needs and a more precise 
                analysis when it comes to operating methods, tactics, technics and procedures, our teams of Cyber Threat Intelligence experts remains 
                at your disposal. <br><br>
                Working for many governments and companies worldwide, we would be pleased to answer your request and help you overcome 
                upcoming threats.
            </p>
            <a target="_blank" href="https://thalesgroup-myfeed.com/ContactUs_SIX_CDS_Cyber_Threat_Intelligence" class="bleu contaxct-btn ms-auto mt-4 bold">Contact us</a>
        </div>
    </div>
</template>
