<template>
    <div id="reports" class="page-container content--alt">

        <div class="back mt-5 mx-4">
            <NuxtLink to="/media-library/reports" title="Back">
                <svg width="64" height="17" viewBox="0 0 64 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M28.4863 14V4.04688H31.7402C32.8203 4.04688 33.6315 4.27019 34.1738 4.7168C34.7207 5.16342 34.9941 5.82422 34.9941 6.69922C34.9941 7.16407 34.862 7.5765 34.5977 7.93653C34.3333 8.292 33.9733 8.56771 33.5176 8.76368C34.0553 8.91407 34.4792 9.20118 34.7891 9.625C35.1035 10.0443 35.2607 10.5456 35.2607 11.1289C35.2607 12.0221 34.9714 12.724 34.3926 13.2344C33.8138 13.7448 32.9958 14 31.9385 14H28.4863ZM29.7988 9.34473V12.9268H31.9658C32.5765 12.9268 33.0573 12.7695 33.4082 12.4551C33.7637 12.1361 33.9414 11.6986 33.9414 11.1426C33.9414 9.94401 33.2897 9.34473 31.9863 9.34473H29.7988ZM29.7988 8.292H31.7812C32.3555 8.292 32.8135 8.14844 33.1553 7.86133C33.5016 7.57422 33.6748 7.18457 33.6748 6.69239C33.6748 6.14551 33.5153 5.74903 33.1963 5.50293C32.8773 5.25228 32.3919 5.12696 31.7402 5.12696H29.7988V8.292ZM42.7051 11.4023H38.5352L37.5986 14H36.2451L40.0459 4.04688H41.1943L45.002 14H43.6553L42.7051 11.4023ZM38.9316 10.3223H42.3154L40.6201 5.667L38.9316 10.3223ZM53.5811 10.8418C53.458 11.8945 53.0684 12.708 52.4121 13.2822C51.7604 13.8519 50.8923 14.1367 49.8076 14.1367C48.6318 14.1367 47.6885 13.7152 46.9775 12.8721C46.2712 12.029 45.918 10.901 45.918 9.48829V8.53125C45.918 7.60612 46.082 6.79265 46.4102 6.09082C46.7428 5.389 47.2122 4.85124 47.8184 4.47754C48.4245 4.09929 49.1263 3.91016 49.9238 3.91016C50.9811 3.91016 51.8288 4.20638 52.4668 4.79883C53.1048 5.38672 53.4762 6.20248 53.5811 7.2461H52.2617C52.1478 6.45313 51.8994 5.87891 51.5166 5.52344C51.1383 5.16797 50.6074 4.99024 49.9238 4.99024C49.0853 4.99024 48.4268 5.30013 47.9482 5.91993C47.4743 6.53972 47.2373 7.42155 47.2373 8.56543V9.5293C47.2373 10.6094 47.4629 11.4684 47.9141 12.1064C48.3652 12.7445 48.9964 13.0635 49.8076 13.0635C50.5368 13.0635 51.0951 12.8994 51.4824 12.5713C51.8743 12.2386 52.1341 11.6621 52.2617 10.8418H53.5811ZM57.9082 9.37207L56.6914 10.6367V14H55.3789V4.04688H56.6914V8.96875L61.1143 4.04688H62.7002L58.7832 8.44239L63.0078 14H61.4355L57.9082 9.37207Z" fill="white"/>
                    <path d="M6.38821 12.2723C6.66348 12.5476 6.66348 12.9939 6.38821 13.2691C6.11295 13.5444 5.66665 13.5444 5.39139 13.2691L1.16222 9.03998C0.886957 8.76472 0.886957 8.31842 1.16222 8.04316L5.39139 3.81399C5.66665 3.53872 6.11295 3.53872 6.38821 3.81399C6.66348 4.08926 6.66348 4.53555 6.38821 4.81081L3.36231 7.83672L15.7503 7.83672C16.1438 7.83672 16.4629 8.1523 16.4629 8.54158C16.4629 8.93086 16.1438 9.24644 15.7503 9.24644L3.36233 9.24644L6.38821 12.2723Z" fill="white"/>
                </svg>
            </NuxtLink>
        </div>

        <div class="titre">
            <h1><span class="bleu bold" v-html="'#' + titre_page"></span></h1>
        </div>


        <!-- LOADER ////////////////////////////////////////////////////////////////////////////////////// -->
        <!-- <div class="loader" v-if="loading">
            <Loader />
        </div> -->


        <!-- REPORTS ////////////////////////////////////////////////////////////////////////////////////// -->
        <div class="reports">
            <!-- LOOP ARTICLES -->
            <!-- <NuxtLink :to="'/media-library/reports/' + report.nid" class="report" v-for="report in reports" :key="report.nid"> -->
            <div class="report" v-for="report in reports" :key="report.nid">
                <div class="placeholder">
                    <img :src="api_url + report.image_thumbnail" alt />
                </div>
                <div class="report-content">
                    <!-- TITRE-->
                    <NuxtLink :to="'/media-library/reports/' + report.nid" tag="h2" class="bleu mb10 h2" v-html="report.title"></NuxtLink>
                    <!-- DATE-->
                    <div class="date mb10" v-html="report.created"></div>
                    <!-- TAGS-->
                    <!-- <ul class="tags mb20">
                        <NuxtLink 
                            tag="li"
                            :to="'/reports/tag/' + t"
                            v-for="(t, i) in report.tag" :key="i"
                            v-html="t"
                        >
                        </NuxtLink>
                    </ul> -->
                    <!-- TEXTE -->
                    <div v-html="report.content"></div>

                    <!-- DOWNLOAD BUT -->
                    <a :href="api_url + report.file" download title="Download" class="download">
                        <svg width="75" height="21" viewBox="0 0 75 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M64.5 12.25L63.9697 12.7803L64.5 13.3107L65.0303 12.7803L64.5 12.25ZM65.25 4.375C65.25 3.96079 64.9142 3.625 64.5 3.625C64.0858 3.625 63.75 3.96079 63.75 4.375L65.25 4.375ZM59.5947 8.40533L63.9697 12.7803L65.0303 11.7197L60.6553 7.34467L59.5947 8.40533ZM65.0303 12.7803L69.4053 8.40533L68.3447 7.34467L63.9697 11.7197L65.0303 12.7803ZM65.25 12.25L65.25 4.375L63.75 4.375L63.75 12.25L65.25 12.25Z" fill="white" />
                            <path d="M60.125 16.625V15.875V16.625ZM68.875 16.625V17.375V16.625ZM60.125 17.375L68.875 17.375V15.875L60.125 15.875L60.125 17.375ZM59.125 14.875V14H57.625V14.875H59.125ZM71.375 14.875V14H69.875V14.875H71.375ZM68.875 17.375C70.2557 17.375 71.375 16.2557 71.375 14.875H69.875C69.875 15.4273 69.4273 15.875 68.875 15.875V17.375ZM60.125 15.875C59.5727 15.875 59.125 15.4273 59.125 14.875H57.625C57.625 16.2557 58.7443 17.375 60.125 17.375V15.875Z" fill="white" />
                            <path d="M6.14062 13.3623C6.14062 14.5407 5.81999 15.4424 5.17871 16.0674C4.54069 16.6891 3.62109 17 2.41992 17H0.442383V9.86133H2.62988C3.73991 9.86133 4.60254 10.1689 5.21777 10.7842C5.83301 11.3994 6.14062 12.2588 6.14062 13.3623ZM5.26172 13.3916C5.26172 12.4606 5.02734 11.7591 4.55859 11.2871C4.0931 10.8151 3.39974 10.5791 2.47852 10.5791H1.27246V16.2822H2.2832C3.27279 16.2822 4.0166 16.0397 4.51465 15.5547C5.0127 15.0664 5.26172 14.3454 5.26172 13.3916ZM12.2344 14.3193C12.2344 15.1917 12.0146 15.8737 11.5752 16.3652C11.1357 16.8535 10.5286 17.0977 9.75391 17.0977C9.27539 17.0977 8.85059 16.9854 8.47949 16.7607C8.1084 16.5361 7.82194 16.2139 7.62012 15.7939C7.41829 15.374 7.31738 14.8825 7.31738 14.3193C7.31738 13.4469 7.53548 12.7682 7.97168 12.2832C8.40788 11.7949 9.01335 11.5508 9.78809 11.5508C10.5368 11.5508 11.1309 11.7998 11.5703 12.2979C12.013 12.7959 12.2344 13.4697 12.2344 14.3193ZM8.15723 14.3193C8.15723 15.0029 8.29395 15.5238 8.56738 15.8818C8.84082 16.2399 9.24284 16.4189 9.77344 16.4189C10.304 16.4189 10.7061 16.2415 10.9795 15.8867C11.2562 15.5286 11.3945 15.0062 11.3945 14.3193C11.3945 13.639 11.2562 13.123 10.9795 12.7715C10.7061 12.4167 10.3008 12.2393 9.76367 12.2393C9.23307 12.2393 8.83268 12.4134 8.5625 12.7617C8.29232 13.11 8.15723 13.6292 8.15723 14.3193ZM18.0303 17L17.0488 13.8604C16.987 13.6683 16.8714 13.2321 16.7021 12.5518H16.6631C16.5329 13.1214 16.4189 13.5609 16.3213 13.8701L15.3105 17H14.373L12.9131 11.6484H13.7627C14.1077 12.9928 14.3698 14.0166 14.5488 14.7197C14.7311 15.4229 14.8353 15.8965 14.8613 16.1406H14.9004C14.9362 15.9551 14.9932 15.7158 15.0713 15.4229C15.1527 15.1266 15.2227 14.8923 15.2812 14.7197L16.2627 11.6484H17.1416L18.0986 14.7197C18.2809 15.2796 18.4046 15.75 18.4697 16.1309H18.5088C18.5218 16.0137 18.556 15.833 18.6113 15.5889C18.6699 15.3447 19.0101 14.0312 19.6318 11.6484H20.4717L18.9922 17H18.0303ZM25.1055 17V13.5381C25.1055 13.1019 25.0062 12.7764 24.8076 12.5615C24.609 12.3467 24.2982 12.2393 23.875 12.2393C23.3151 12.2393 22.9049 12.3906 22.6445 12.6934C22.3841 12.9961 22.2539 13.4958 22.2539 14.1924V17H21.4434V11.6484H22.1025L22.2344 12.3809H22.2734C22.4395 12.1172 22.6722 11.9137 22.9717 11.7705C23.2712 11.624 23.6048 11.5508 23.9727 11.5508C24.6172 11.5508 25.1022 11.707 25.4277 12.0195C25.7533 12.3288 25.916 12.8252 25.916 13.5088V17H25.1055ZM28.3965 17H27.5859V9.40234H28.3965V17ZM34.7344 14.3193C34.7344 15.1917 34.5146 15.8737 34.0752 16.3652C33.6357 16.8535 33.0286 17.0977 32.2539 17.0977C31.7754 17.0977 31.3506 16.9854 30.9795 16.7607C30.6084 16.5361 30.3219 16.2139 30.1201 15.7939C29.9183 15.374 29.8174 14.8825 29.8174 14.3193C29.8174 13.4469 30.0355 12.7682 30.4717 12.2832C30.9079 11.7949 31.5133 11.5508 32.2881 11.5508C33.0368 11.5508 33.6309 11.7998 34.0703 12.2979C34.513 12.7959 34.7344 13.4697 34.7344 14.3193ZM30.6572 14.3193C30.6572 15.0029 30.7939 15.5238 31.0674 15.8818C31.3408 16.2399 31.7428 16.4189 32.2734 16.4189C32.804 16.4189 33.2061 16.2415 33.4795 15.8867C33.7562 15.5286 33.8945 15.0062 33.8945 14.3193C33.8945 13.639 33.7562 13.123 33.4795 12.7715C33.2061 12.4167 32.8008 12.2393 32.2637 12.2393C31.7331 12.2393 31.3327 12.4134 31.0625 12.7617C30.7923 13.11 30.6572 13.6292 30.6572 14.3193ZM39.4512 17L39.29 16.2383H39.251C38.984 16.5736 38.7171 16.8014 38.4502 16.9219C38.1865 17.0391 37.8561 17.0977 37.459 17.0977C36.9284 17.0977 36.5117 16.9609 36.209 16.6875C35.9095 16.4141 35.7598 16.0251 35.7598 15.5205C35.7598 14.4398 36.624 13.8734 38.3525 13.8213L39.2607 13.792V13.46C39.2607 13.04 39.1696 12.7308 38.9873 12.5322C38.8083 12.3304 38.5202 12.2295 38.123 12.2295C37.6771 12.2295 37.1725 12.3662 36.6094 12.6396L36.3604 12.0195C36.624 11.8763 36.9121 11.764 37.2246 11.6826C37.5404 11.6012 37.8561 11.5605 38.1719 11.5605C38.8099 11.5605 39.2819 11.7021 39.5879 11.9854C39.8971 12.2686 40.0518 12.7227 40.0518 13.3477V17H39.4512ZM37.6201 16.4287C38.1247 16.4287 38.5202 16.2904 38.8066 16.0137C39.0964 15.737 39.2412 15.3496 39.2412 14.8516V14.3682L38.4307 14.4023C37.7861 14.4251 37.3206 14.526 37.0342 14.7051C36.751 14.8809 36.6094 15.1559 36.6094 15.5303C36.6094 15.8232 36.6973 16.0462 36.873 16.1992C37.0521 16.3522 37.3011 16.4287 37.6201 16.4287ZM45.3691 16.2822H45.3252C44.9508 16.8258 44.391 17.0977 43.6455 17.0977C42.9456 17.0977 42.4004 16.8584 42.0098 16.3799C41.6224 15.9014 41.4287 15.221 41.4287 14.3389C41.4287 13.4567 41.624 12.7715 42.0146 12.2832C42.4053 11.7949 42.9489 11.5508 43.6455 11.5508C44.3714 11.5508 44.9281 11.8145 45.3154 12.3418H45.3789L45.3447 11.9561L45.3252 11.5801V9.40234H46.1357V17H45.4766L45.3691 16.2822ZM43.748 16.4189C44.3014 16.4189 44.7018 16.2692 44.9492 15.9697C45.1999 15.667 45.3252 15.1803 45.3252 14.5098V14.3389C45.3252 13.5804 45.1982 13.04 44.9443 12.7178C44.6937 12.3923 44.2917 12.2295 43.7383 12.2295C43.263 12.2295 42.8984 12.415 42.6445 12.7861C42.3939 13.154 42.2686 13.6748 42.2686 14.3486C42.2686 15.0322 42.3939 15.5482 42.6445 15.8965C42.8952 16.2448 43.263 16.4189 43.748 16.4189Z" fill="white" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import Loader from '~/components/_global/Loader.vue';
import _ from "lodash";

export default {
    components: { Loader },
    data() {
        return {
            // loading: true,
            api_url: process.env.BASE_API_URL,
            titre_page: this.$route.params.slug,
        }
    },
    async asyncData({ params, $axios }) {
        const reports = await $axios.$get(`${process.env.BASE_API_URL}/api/reports?tag=${params.slug}`);
        return { reports }
    },
}
</script>

