<template>
    <div class="targeted-sectors">
        <div class="titre">
            <h1>Targeted <span class="bleu bold">sectors</span></h1>
        </div>
        <div class="sectors-container">
            
            <NuxtLink tag="div" class="sector" :to="`/targeted-sectors/${ts.name}`" v-for="ts in target_sector" :key="ts.tid">
                <div class="icon" v-html="ts.picto"></div>
                <span v-html="ts.name"></span>
            </NuxtLink>

        </div>

        <WorldBg />

    </div>
</template>



<script>
import gsap from 'gsap';
// import { ExpoScaleEase } from "gsap/EasePack";
import WorldBg from '~/components/_global/WorldBg.vue';

export default {
    components: { WorldBg },
    async asyncData({ params, $axios }) {
        const target_sector = await $axios.$get(`${process.env.BASE_API_URL}/api/target-sector`);
        return { target_sector }
    },
    mounted() {
        gsap.to('.sector', { duration: 1, y: 0, autoAlpha: 1, ease: "expo.out", stagger: .07 });
    },
}
</script>





<style lang="scss">
.targeted-sectors {
    .sectors-container {
        width: 80%;
        margin: 8vh auto auto;
        position: relative;
        z-index: 4;
        display: grid;
        grid-template-rows: 1fr;
        grid-auto-columns: 1fr;
        gap: 32px;
        // grid-auto-flow: row;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: ". . ";
        @media (min-width: 767px) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-areas: ". . . . ";
        }
        @media (min-width: 1280px) {
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-template-areas: ". . . . .";
        }
    }

    .sector {
        // background-color: #363636;
        background-color: var(--darkless);
        height: 140px;
        width: 100%;
        border-radius: 2px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        transition: all 400ms ease-out;
        opacity: 0;
        transform: translateY(-10px);
        span {
            color: var(--blanc);
            font-size: 12px;
            text-transform: uppercase;
            max-width: 90%;
            word-wrap: break-word;
            text-align: center;
            position: relative;
            top: 8px;
        }
        .icon {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &:hover {
            background-color: var(--bleu);
        }
        &:hover,
        &:focus,
        &.active {
            svg {
                * { fill: var(--blanc); }
            }
        }
    }
}
.targeted-sectors + section>.footer {
    @media (min-width: 1280px) {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
    }
}
</style>
