<template>

    <div id="contact-more-container">
        <FeedItem class="feed-rss">
            <template slot="feed_trigger">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 16 16" fill="none">
                    <g clip-path="url(#clip0_134_314)">
                        <path fill="var(--bleu)" d="M8 16C10.1217 16 12.1566 15.1571 13.6569 13.6569C15.1571 12.1566 16 10.1217 16 8C16 5.87827 15.1571 3.84344 13.6569 2.34315C12.1566 0.842855 10.1217 0 8 0C5.87827 0 3.84344 0.842855 2.34315 2.34315C0.842855 3.84344 0 5.87827 0 8C0 10.1217 0.842855 12.1566 2.34315 13.6569C3.84344 15.1571 5.87827 16 8 16V16ZM8.93 6.588L7.93 11.293C7.86 11.633 7.959 11.826 8.234 11.826C8.428 11.826 8.721 11.756 8.92 11.58L8.832 11.996C8.545 12.342 7.912 12.594 7.367 12.594C6.664 12.594 6.365 12.172 6.559 11.275L7.297 7.807C7.361 7.514 7.303 7.408 7.01 7.337L6.559 7.256L6.641 6.875L8.931 6.588H8.93ZM8 5.5C7.73478 5.5 7.48043 5.39464 7.29289 5.20711C7.10536 5.01957 7 4.76522 7 4.5C7 4.23478 7.10536 3.98043 7.29289 3.79289C7.48043 3.60536 7.73478 3.5 8 3.5C8.26522 3.5 8.51957 3.60536 8.70711 3.79289C8.89464 3.98043 9 4.23478 9 4.5C9 4.76522 8.89464 5.01957 8.70711 5.20711C8.51957 5.39464 8.26522 5.5 8 5.5V5.5Z"/>
                    </g>
                </svg>
                <span class="ms-3 bleu">For a more precise analysis</span>
            </template>§
            <template slot="feed_content">
                <div class="d-flex flex-wrap">
                    <p class="w-100">
                        This website offers you a first-level analysis of the cyber-attacks recorded these latest months 
                        by geographical areas, targeted sectors and by main attackers or attackers groups worldwide. <br><br>
                        For a more detailed study, adapted to your needs and a more precise analysis when it comes to operating methods, 
                        tactics, technics and procedures, our teams of Cyber Threat Intelligence experts remains at your disposal. 
                        Working for many governments and companies worldwide, we would be pleased to answer your request and 
                        help you overcome upcoming threats."
                    </p>
                    <a target="_blank" href="https://thalesgroup-myfeed.com/ContactUs_SIX_CDS_Cyber_Threat_Intelligence" class="contaxct-btn ms-auto mt-4 bold">Contact us</a>
                </div>
            </template>
        </FeedItem>
    </div>

</template>




<script>
import FeedItem from '~/components/feeds/feed-item.vue';

export default {
    components: { FeedItem },
    // props: {},
    data() {
        return {
            Feeds: {
                count: 0,
                active: null
            },
            g_news_rss: []
        };
    },
    provide() {
        return { Feeds: this.Feeds };
    },
};
</script>





<style lang="scss">
    #contact-more-container {
        position: fixed;
        z-index: 3;
		top: 10rem; right: 0;
		width: 100%;
		max-width: 20rem;
        font-weight: bold;
        @media (min-width: 768px) { max-width: 26rem; }
        .feed-item {
            .feed-trigger {
                cursor: pointer;
                padding: 12px;
                transform: translateX(272px);
                transition: transform .3s ease;
                @media (min-width: 768px) { transform: translateX(368px); }
                &.feed-trigger-active {
                    transform: translateX(0px);
                }
            }
			.feed-content { 
				height: 100%;
                max-height: 34rem;
                overflow-y: scroll;
				background-color: var(--darkless); 
                border: 1px solid white;
                &::-webkit-scrollbar { display: none; }
                & > div { padding: 1rem; }
                .contaxct-btn { 
                    border: 2px solid white;
                    border-radius: 1rem;
                    padding: 4px 1rem;
                }
                p, a { color: var(--blanc); }
			}
			&.feed-rss { 
                .feed-trigger { background-color: var(--blanc); } 
                ul {
                    list-style: none;
                    li:not(:last-child) { border-bottom: 1px solid var(--darktext); }
                    li { 
                        padding: 12px 0;
                        a {  
                            border-radius: 12px;
                            border: 1px solid;
                            padding: 0 16px;
                        }
                    }
                }
            }

            .feed-enter-active,
            .feed-leave-active {
                will-change: height, opacity;
                transition: height .3s ease .3s, opacity .3s ease .3s;
                // overflow: hidden;
            }
            .feed-enter,
            .feed-leave-to {
                transition: unset;
                height: 0 !important;
                opacity: 0;
            }
		}
    }
</style>