<template>
    <div class="nav-container">
        <!-- MODAL RECHERCHE -->
        <!-- <div class="recherche recherche-modal" :class="{'visible': search_modal}">
            <div class="back" @click="toggleSearch">
                <svg width="64" height="17" viewBox="0 0 64 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M28.4863 14V4.04688H31.7402C32.8203 4.04688 33.6315 4.27019 34.1738 4.7168C34.7207 5.16342 34.9941 5.82422 34.9941 6.69922C34.9941 7.16407 34.862 7.5765 34.5977 7.93653C34.3333 8.292 33.9733 8.56771 33.5176 8.76368C34.0553 8.91407 34.4792 9.20118 34.7891 9.625C35.1035 10.0443 35.2607 10.5456 35.2607 11.1289C35.2607 12.0221 34.9714 12.724 34.3926 13.2344C33.8138 13.7448 32.9958 14 31.9385 14H28.4863ZM29.7988 9.34473V12.9268H31.9658C32.5765 12.9268 33.0573 12.7695 33.4082 12.4551C33.7637 12.1361 33.9414 11.6986 33.9414 11.1426C33.9414 9.94401 33.2897 9.34473 31.9863 9.34473H29.7988ZM29.7988 8.292H31.7812C32.3555 8.292 32.8135 8.14844 33.1553 7.86133C33.5016 7.57422 33.6748 7.18457 33.6748 6.69239C33.6748 6.14551 33.5153 5.74903 33.1963 5.50293C32.8773 5.25228 32.3919 5.12696 31.7402 5.12696H29.7988V8.292ZM42.7051 11.4023H38.5352L37.5986 14H36.2451L40.0459 4.04688H41.1943L45.002 14H43.6553L42.7051 11.4023ZM38.9316 10.3223H42.3154L40.6201 5.667L38.9316 10.3223ZM53.5811 10.8418C53.458 11.8945 53.0684 12.708 52.4121 13.2822C51.7604 13.8519 50.8923 14.1367 49.8076 14.1367C48.6318 14.1367 47.6885 13.7152 46.9775 12.8721C46.2712 12.029 45.918 10.901 45.918 9.48829V8.53125C45.918 7.60612 46.082 6.79265 46.4102 6.09082C46.7428 5.389 47.2122 4.85124 47.8184 4.47754C48.4245 4.09929 49.1263 3.91016 49.9238 3.91016C50.9811 3.91016 51.8288 4.20638 52.4668 4.79883C53.1048 5.38672 53.4762 6.20248 53.5811 7.2461H52.2617C52.1478 6.45313 51.8994 5.87891 51.5166 5.52344C51.1383 5.16797 50.6074 4.99024 49.9238 4.99024C49.0853 4.99024 48.4268 5.30013 47.9482 5.91993C47.4743 6.53972 47.2373 7.42155 47.2373 8.56543V9.5293C47.2373 10.6094 47.4629 11.4684 47.9141 12.1064C48.3652 12.7445 48.9964 13.0635 49.8076 13.0635C50.5368 13.0635 51.0951 12.8994 51.4824 12.5713C51.8743 12.2386 52.1341 11.6621 52.2617 10.8418H53.5811ZM57.9082 9.37207L56.6914 10.6367V14H55.3789V4.04688H56.6914V8.96875L61.1143 4.04688H62.7002L58.7832 8.44239L63.0078 14H61.4355L57.9082 9.37207Z" fill="white" />
                    <path d="M6.38821 12.2723C6.66348 12.5476 6.66348 12.9939 6.38821 13.2691C6.11295 13.5444 5.66665 13.5444 5.39139 13.2691L1.16222 9.03998C0.886957 8.76472 0.886957 8.31842 1.16222 8.04316L5.39139 3.81399C5.66665 3.53872 6.11295 3.53872 6.38821 3.81399C6.66348 4.08926 6.66348 4.53555 6.38821 4.81081L3.36231 7.83672L15.7503 7.83672C16.1438 7.83672 16.4629 8.1523 16.4629 8.54158C16.4629 8.93086 16.1438 9.24644 15.7503 9.24644L3.36233 9.24644L6.38821 12.2723Z" fill="white" />
                </svg>
            </div>
            <form action class="center-absolute">
                <div class="input">
                    <Autocomplete 
                        placeholder="Search..."
                        :source="searchEndPoint" 
                        @selected="destination"
                    >
                    </Autocomplete>
                </div>
            </form>
        </div> -->


        <!-- HEADER -->
        <header>

            <!-- ================================================================ -->
            <!-- == MENU DESKTOP  =============================================== -->
            <!-- ================================================================ -->
            <div id="menu-descktop" class="d-none justify-content-between d-xl-flex">
                <!-- {# LOGO #} -->
                <logo />
                <!-- {# MAIN NAV #} -->
                <nav class="main-nav">
                    <ul class="d-flex">
                        <li>
                            <NuxtLink to="/" data-title="Home">
                                <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.875 6.09375L7.5 1.875L13.125 6.09375" stroke="var(--bleu)" stroke-width="1.25" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M13.125 6.09375V13.125H1.875V6.09375" stroke="var(--bleu)" stroke-width="1.25" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M8.90625 8.90625H6.09375V13.125H8.90625V8.90625Z" stroke="var(--bleu)" stroke-width="1.25" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </NuxtLink>
                        </li>
                        <li class="dropdown-link">
                            <a>
                                Areas
                                <ul class="d-flex">
                                    <NuxtLink tag="li" to="/area/europe" class="d-flex flex-column align-items-center">europe<ZoneEurope /></NuxtLink>
                                    <NuxtLink tag="li" to="/area/commonwealth-of-independant-states" class="d-flex flex-column align-items-center">Commonwealth of <br> Independant States<ZoneCommonwealth /></NuxtLink>
                                    <NuxtLink tag="li" to="/area/western-asia" class="d-flex flex-column align-items-center">western asia<ZoneWesternAsia /></NuxtLink>
                                    <NuxtLink tag="li" to="/area/africa" class="d-flex flex-column align-items-center">Africa<ZoneAfrica/></NuxtLink>
                                    <NuxtLink tag="li" to="/area/south-asia" class="d-flex flex-column align-items-center">south asia<ZoneSouthAsia /></NuxtLink>
                                    <NuxtLink tag="li" to="/area/east-asia" class="d-flex flex-column align-items-center">east asia<ZoneFarEast /></NuxtLink>
                                    <NuxtLink tag="li" to="/area/oceania" class="d-flex flex-column align-items-center">oceania<ZoneOceania /></NuxtLink>
                                    <NuxtLink tag="li" to="/area/south-america" class="d-flex flex-column align-items-center">south america<ZoneSouthAmerica /></NuxtLink>
                                    <NuxtLink tag="li" to="/area/north-america" class="d-flex flex-column align-items-center">North america<ZoneNorthAmerica /></NuxtLink>
                                </ul>
                            </a>
                        </li>
                        <li><NuxtLink to="/attackers" data-title="Attackers">Attackers</NuxtLink></li>
                        <li><NuxtLink to="/targeted-sectors" data-title="Targeted sectors">Targeted sectors</NuxtLink></li>
                        <li><NuxtLink to="/our-experts" data-title="Our experts">Worldwide footprint</NuxtLink></li>
                        <li><NuxtLink to="/news" data-title="News">CTI News</NuxtLink></li>
                        <li class="dropdown-link media-library">
                            <a>
                                Media library
                                <ul class="d-flex">
                                    <NuxtLink tag="li" to="/media-library/reports" data-title="Media library | Reports">Reports</NuxtLink>
                                    <NuxtLink tag="li" to="/media-library/webinars" data-title="Media library | Webinar">Webinars</NuxtLink>
                                    <NuxtLink tag="li" to="/media-library/videos" data-title="Media library | Webinar">Videos</NuxtLink>
                                </ul>
                            </a>
                        </li>
                        <li><a target="_blank" href="https://www.thalesgroup.com/en/markets/defence-and-security/cyberdefence-solutions">our solutions</a></li>
                    </ul>
                </nav>
                <!-- {# NAV SECONDAIRE #} -->
                <nav class="add-nav">
                    <ul class="d-flex">
                        <!-- {# RECHERCHE #} -->
                        <li @click="toggle_search" class="mx-2">
                            <a title="Rechercher">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.25 3C4.90279 3 3 4.90279 3 7.25C3 9.59721 4.90279 11.5 7.25 11.5C9.59721 11.5 11.5 9.59721 11.5 7.25C11.5 4.90279 9.59721 3 7.25 3ZM1 7.25C1 3.79822 3.79822 1 7.25 1C10.7018 1 13.5 3.79822 13.5 7.25C13.5 10.7018 10.7018 13.5 7.25 13.5C3.79822 13.5 1 10.7018 1 7.25Z" fill="var(--bleu)" />
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.2929 10.2929C10.6834 9.90237 11.3166 9.90237 11.7071 10.2929L14.7071 13.2929C15.0976 13.6834 15.0976 14.3166 14.7071 14.7071C14.3166 15.0976 13.6834 15.0976 13.2929 14.7071L10.2929 11.7071C9.90237 11.3166 9.90237 10.6834 10.2929 10.2929Z" fill="var(--bleu)" />
                                </svg>
                            </a>
                        </li>
                        <li :class="{'search-active': search_active}" class="search-input">
                            <div class="search-content d-flex">
                                <input @keyup.enter="go_to_search" v-model="input_search_text" type="text" name="" id="" placeholder="Search...">
                                <button @click="go_to_search">Search</button>
                            </div>
                        </li>
                        <li class="aftered mx-2"><NuxtLink to="/contact" data-title="Contact">Contact</NuxtLink></li>
                        <!-- <li class="aftered mx-2"><a target="_blank" href="https://thalesgroup-myfeed.com/ContactUs_SIX_CDS_Cyber_Threat_Intelligence">Contact</a></li> -->
                        <!-- <li class="aftered mx-2"><NuxtLink to="/newsletter" data-title="Newsletter">Newsletter</NuxtLink></li> -->
                        <!-- {# Twitter #} -->
                        <li class="social mx-1">
                            <a href="https://twitter.com/thalessecurity" title="Join Thales on Facebook" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13" fill="none">
                                <path id="TWITTER" d="M11.6071 0H1.39286C0.623884 0 0 0.623884 0 1.39286V11.6071C0 12.3761 0.623884 13 1.39286 13H11.6071C12.3761 13 13 12.3761 13 11.6071V1.39286C13 0.623884 12.3761 0 11.6071 0ZM10.1882 4.60804C10.194 4.68929 10.194 4.77344 10.194 4.85469C10.194 7.37054 8.27879 10.2694 4.77924 10.2694C3.69978 10.2694 2.69866 9.95603 1.85714 9.41629C2.01094 9.43371 2.15893 9.43951 2.31563 9.43951C3.20647 9.43951 4.02478 9.13772 4.67768 8.62701C3.84196 8.6096 3.13973 8.06116 2.89888 7.3067C3.19196 7.35022 3.45603 7.35022 3.75781 7.27187C2.88728 7.09487 2.23437 6.32879 2.23437 5.40312V5.37991C2.48683 5.5221 2.78281 5.60915 3.0933 5.62076C2.83227 5.44713 2.61828 5.21157 2.47043 4.93511C2.32258 4.65865 2.24547 4.34989 2.24598 4.03638C2.24598 3.68237 2.33884 3.35737 2.50424 3.07589C3.44152 4.2308 4.84888 4.98527 6.42746 5.06652C6.15759 3.77522 7.12388 2.72768 8.2846 2.72768C8.83304 2.72768 9.32634 2.95692 9.67455 3.32835C10.104 3.2471 10.5161 3.0875 10.8817 2.86987C10.7395 3.31094 10.4406 3.68237 10.046 3.91741C10.429 3.87679 10.8004 3.76942 11.1429 3.62143C10.8846 4.00156 10.5596 4.33817 10.1882 4.60804Z" fill="#00B3D8"/>
                            </svg>
                            </a>
                        </li>
                        <!-- {# Facebook #} -->
                        <li class="social mx-1">
                            <a href="https://www.facebook.com/thalesgroup" title="Join Thales on Facebook" target="_blank">
                                <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M13 6.5C13 2.91015 10.0899 0 6.5 0C2.91015 0 0 2.91015 0 6.5C0 9.74429 2.37694 12.4334 5.48438 12.921V8.37891H3.83398V6.5H5.48438V5.06797C5.48438 3.43891 6.45481 2.53906 7.93952 2.53906C8.65046 2.53906 9.39453 2.66602 9.39453 2.66602V4.26562H8.57492C7.7675 4.26562 7.51563 4.76671 7.51563 5.28125V6.5H9.31836L9.03018 8.37891H7.51563V12.921C10.6231 12.4334 13 9.74429 13 6.5Z" fill="var(--bleu)" />
                                </svg>
                            </a>
                        </li>
                        <!-- {# LinkedIn #} -->
                        <li class="social mx-1 me-3">
                            <a href="https://www.linkedin.com/showcase/thales-security/?originalSubdomain=fr" title="Join Thales on LinkedIn" target="_blank">
                                <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.0377 0H0.959766C0.429102 0 0 0.418945 0 0.936914V12.0605C0 12.5785 0.429102 13 0.959766 13H12.0377C12.5684 13 13 12.5785 13 12.0631V0.936914C13 0.418945 12.5684 0 12.0377 0ZM3.85684 11.0779H1.92715V4.87246H3.85684V11.0779ZM2.89199 4.02695C2.27246 4.02695 1.77227 3.52676 1.77227 2.90977C1.77227 2.29277 2.27246 1.79258 2.89199 1.79258C3.50898 1.79258 4.00918 2.29277 4.00918 2.90977C4.00918 3.52422 3.50898 4.02695 2.89199 4.02695ZM11.0779 11.0779H9.15078V8.06152C9.15078 7.34297 9.13809 6.41621 8.14785 6.41621C7.14492 6.41621 6.99258 7.20078 6.99258 8.01074V11.0779H5.06797V4.87246H6.91641V5.72051H6.9418C7.19824 5.23301 7.82793 4.71758 8.76484 4.71758C10.7174 4.71758 11.0779 6.00234 11.0779 7.67305V11.0779V11.0779Z" fill="var(--bleu)" />
                                </svg>
                            </a>
                        </li>
                        <li class="align-items-center">
                            <div class="switchcontainer">
                                <!-- Rounded switch -->
                                <label class="switch">
                                    <input type="checkbox" class="dayNight" :class="{'lightmode-active': lightmode}" @click="toggle_lightmode" />
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>





            <!-- ================================================================ -->
            <!-- == MENU MOBILE  ================================================ -->
            <!-- ================================================================ -->
            <div id="menu-mobile" class="d-block d-xl-none">

                <div class="menu-mobile-top d-flex justify-content-between">

                    <logo />

                    <nav class="add-nav d-flex align-items-center">
                        <span>MENU</span>
                        <button type="button" class="hamburger hamburger--squeeze" :class="menu_active ? 'is-active' : ''" @click="menu_mobile_active(); search_active = false;">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>

                        <ul class="d-flex">
                            <!-- {# RECHERCHE #} -->
                            <li @click="toggle_search(); menu_active = false;" class="mx-2">
                                <a title="Rechercher">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.25 3C4.90279 3 3 4.90279 3 7.25C3 9.59721 4.90279 11.5 7.25 11.5C9.59721 11.5 11.5 9.59721 11.5 7.25C11.5 4.90279 9.59721 3 7.25 3ZM1 7.25C1 3.79822 3.79822 1 7.25 1C10.7018 1 13.5 3.79822 13.5 7.25C13.5 10.7018 10.7018 13.5 7.25 13.5C3.79822 13.5 1 10.7018 1 7.25Z" fill="var(--bleu)" />
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.2929 10.2929C10.6834 9.90237 11.3166 9.90237 11.7071 10.2929L14.7071 13.2929C15.0976 13.6834 15.0976 14.3166 14.7071 14.7071C14.3166 15.0976 13.6834 15.0976 13.2929 14.7071L10.2929 11.7071C9.90237 11.3166 9.90237 10.6834 10.2929 10.2929Z" fill="var(--bleu)" />
                                    </svg>
                                </a>
                            </li>
                            <li :class="{'search-active': search_active}" class="search-input">
                                <div class="search-content d-flex flex-wrap">
                                    <input @keyup.enter="go_to_search" v-model="input_search_text" type="text" name="" id="" placeholder="Search...">
                                    <button @click="go_to_search">Search</button>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
                
                <nav class="main-nav" :class="menu_active ? 'is-active' : ''">
                    <ul class="d-flex flex-column">
                        <li class="dropdown-link" @click="dropdown_mobile_active">
                            <a>
                                <p>Area</p>
                                <ul class="d-flex flex-column">
                                    <NuxtLink tag="li" to="/area/europe">europe</NuxtLink>
                                    <NuxtLink tag="li" to="/area/commonwealth-of-independant-states">Commonwealth of independant states</NuxtLink>
                                    <NuxtLink tag="li" to="/area/western-asia">western asia</NuxtLink>
                                    <NuxtLink tag="li" to="/area/africa">Africa</NuxtLink>
                                    <NuxtLink tag="li" to="/area/south-asia">south asia</NuxtLink>
                                    <NuxtLink tag="li" to="/area/east-asia">east asia</NuxtLink>
                                    <NuxtLink tag="li" to="/area/oceania">oceania</NuxtLink>
                                    <NuxtLink tag="li" to="/area/south-america">south america</NuxtLink>
                                    <NuxtLink tag="li" to="/area/north-america">North america</NuxtLink>
                                </ul>
                                <svg width="30" height="30" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_42_471)">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12.3907 6.77691L16.1914 10.5776C16.4246 10.8108 16.4246 11.189 16.1914 11.4222L12.3907 15.2229C12.1575 15.4561 11.7793 15.4561 11.5461 15.2229C11.3129 14.9897 11.3129 14.6115 11.5461 14.3783L14.3273 11.5971H5.63391V10.4027H14.3273L11.5461 7.62151C11.3129 7.38828 11.3129 7.01014 11.5461 6.77691C11.7793 6.54368 12.1575 6.54368 12.3907 6.77691Z" fill="#00B3D8" stroke="#00B3D8" stroke-width="0.597221"/>
                                    </g>
                                    <rect x="0.597221" y="0.597221" width="20.8056" height="20.8056" rx="10.4028" stroke="#00B3D8" stroke-width="1.19444"/>
                                    <defs>
                                    <clipPath id="clip0_42_471">
                                    <rect width="11.9444" height="11.9444" fill="white" transform="translate(5.02783 5.02777)"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                            </a>
                        </li>
                        <li><NuxtLink to="/attackers" data-title="Attackers">Attackers</NuxtLink></li>
                        <li><NuxtLink to="/targeted-sectors" data-title="Targeted sectors">Targeted sectors</NuxtLink></li>
                        <li><NuxtLink to="/our-experts" data-title="Our experts">Worldwide footprint</NuxtLink></li>
                        <li><NuxtLink to="/news" data-title="News">CTI News</NuxtLink></li>
                        <li class="dropdown-link" @click="dropdown_mobile_active">
                            <a>
                                <p>Media library</p>
                                <ul class="d-flex flex-column">
                                    <NuxtLink tag="li" to="/media-library/reports" data-title="Media library | Reports">Reports</NuxtLink>
                                    <NuxtLink tag="li" to="/media-library/webinars" data-title="Media library | Webinar">Webinars</NuxtLink>
                                    <NuxtLink tag="li" to="/media-library/videos" data-title="Media library | Webinar">Videos</NuxtLink>
                                </ul>
                                <svg width="30" height="30" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_42_471)">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12.3907 6.77691L16.1914 10.5776C16.4246 10.8108 16.4246 11.189 16.1914 11.4222L12.3907 15.2229C12.1575 15.4561 11.7793 15.4561 11.5461 15.2229C11.3129 14.9897 11.3129 14.6115 11.5461 14.3783L14.3273 11.5971H5.63391V10.4027H14.3273L11.5461 7.62151C11.3129 7.38828 11.3129 7.01014 11.5461 6.77691C11.7793 6.54368 12.1575 6.54368 12.3907 6.77691Z" fill="#00B3D8" stroke="#00B3D8" stroke-width="0.597221"/>
                                    </g>
                                    <rect x="0.597221" y="0.597221" width="20.8056" height="20.8056" rx="10.4028" stroke="#00B3D8" stroke-width="1.19444"/>
                                    <defs>
                                    <clipPath id="clip0_42_471">
                                    <rect width="11.9444" height="11.9444" fill="white" transform="translate(5.02783 5.02777)"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                            </a>
                        </li>

                        <li><a target="_blank" href="https://www.thalesgroup.com/en/markets/defence-and-security/cyberdefence-solutions">our solutions</a></li>


                        <li class="aftered"><NuxtLink to="/contact" data-title="Contact">Contact</NuxtLink></li>
                        <!-- <li class="aftered"><a target="_blank" href="https://thalesgroup-myfeed.com/ContactUs_SIX_CDS_Cyber_Threat_Intelligence">Contact</a></li> -->
                        <!-- <li class="aftered"><NuxtLink to="/newsletter" data-title="Newsletter">Newsletter</NuxtLink></li> -->

                        <li class="social">
                            <a href="https://twitter.com/thalessecurity" title="Join Thales on Facebook" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13" fill="none">
                                <path id="TWITTER" d="M11.6071 0H1.39286C0.623884 0 0 0.623884 0 1.39286V11.6071C0 12.3761 0.623884 13 1.39286 13H11.6071C12.3761 13 13 12.3761 13 11.6071V1.39286C13 0.623884 12.3761 0 11.6071 0ZM10.1882 4.60804C10.194 4.68929 10.194 4.77344 10.194 4.85469C10.194 7.37054 8.27879 10.2694 4.77924 10.2694C3.69978 10.2694 2.69866 9.95603 1.85714 9.41629C2.01094 9.43371 2.15893 9.43951 2.31563 9.43951C3.20647 9.43951 4.02478 9.13772 4.67768 8.62701C3.84196 8.6096 3.13973 8.06116 2.89888 7.3067C3.19196 7.35022 3.45603 7.35022 3.75781 7.27187C2.88728 7.09487 2.23437 6.32879 2.23437 5.40312V5.37991C2.48683 5.5221 2.78281 5.60915 3.0933 5.62076C2.83227 5.44713 2.61828 5.21157 2.47043 4.93511C2.32258 4.65865 2.24547 4.34989 2.24598 4.03638C2.24598 3.68237 2.33884 3.35737 2.50424 3.07589C3.44152 4.2308 4.84888 4.98527 6.42746 5.06652C6.15759 3.77522 7.12388 2.72768 8.2846 2.72768C8.83304 2.72768 9.32634 2.95692 9.67455 3.32835C10.104 3.2471 10.5161 3.0875 10.8817 2.86987C10.7395 3.31094 10.4406 3.68237 10.046 3.91741C10.429 3.87679 10.8004 3.76942 11.1429 3.62143C10.8846 4.00156 10.5596 4.33817 10.1882 4.60804Z" fill="#00B3D8"/>
                            </svg>
                            </a>
                            <a href="https://www.facebook.com/thalesgroup" title="Join Thales on Facebook" target="_blank">
                                <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M13 6.5C13 2.91015 10.0899 0 6.5 0C2.91015 0 0 2.91015 0 6.5C0 9.74429 2.37694 12.4334 5.48438 12.921V8.37891H3.83398V6.5H5.48438V5.06797C5.48438 3.43891 6.45481 2.53906 7.93952 2.53906C8.65046 2.53906 9.39453 2.66602 9.39453 2.66602V4.26562H8.57492C7.7675 4.26562 7.51563 4.76671 7.51563 5.28125V6.5H9.31836L9.03018 8.37891H7.51563V12.921C10.6231 12.4334 13 9.74429 13 6.5Z" fill="var(--bleu)" />
                                </svg>
                            </a>
                            <a href="https://www.linkedin.com/showcase/thales-security/?originalSubdomain=fr" title="Join Thales on LinkedIn" target="_blank">
                                <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.0377 0H0.959766C0.429102 0 0 0.418945 0 0.936914V12.0605C0 12.5785 0.429102 13 0.959766 13H12.0377C12.5684 13 13 12.5785 13 12.0631V0.936914C13 0.418945 12.5684 0 12.0377 0ZM3.85684 11.0779H1.92715V4.87246H3.85684V11.0779ZM2.89199 4.02695C2.27246 4.02695 1.77227 3.52676 1.77227 2.90977C1.77227 2.29277 2.27246 1.79258 2.89199 1.79258C3.50898 1.79258 4.00918 2.29277 4.00918 2.90977C4.00918 3.52422 3.50898 4.02695 2.89199 4.02695ZM11.0779 11.0779H9.15078V8.06152C9.15078 7.34297 9.13809 6.41621 8.14785 6.41621C7.14492 6.41621 6.99258 7.20078 6.99258 8.01074V11.0779H5.06797V4.87246H6.91641V5.72051H6.9418C7.19824 5.23301 7.82793 4.71758 8.76484 4.71758C10.7174 4.71758 11.0779 6.00234 11.0779 7.67305V11.0779V11.0779Z" fill="var(--bleu)" />
                                </svg>
                            </a>
                        </li>
                        <!-- {# Facebook #} -->
                        <!-- <li class="social"> -->
                        <!-- </li> -->
                        <!-- {# LinkedIn #} -->
                        <!-- <li class="social"> -->
                        <!-- </li> -->
                    </ul>
                </nav>
            </div>


        </header>
    </div>
</template>





<script>
import { mapMutations } from 'vuex'

import Autocomplete from 'vuejs-auto-complete';

import ZoneAfrica from '~/components/menu/zones/ZoneAfrica.vue';
import ZoneCommonwealth from '~/components/menu/zones/ZoneCommonwealth.vue';
import ZoneEurope from '~/components/menu/zones/ZoneEurope.vue';
import ZoneFarEast from '~/components/menu/zones/ZoneFarEast.vue';
import ZoneNorthAmerica from '~/components/menu/zones/ZoneNorthAmerica.vue';
import ZoneOceania from '~/components/menu/zones/ZoneOceania.vue';
import ZoneSouthAmerica from '~/components/menu/zones/ZoneSouthAmerica.vue';
import ZoneSouthAsia from '~/components/menu/zones/ZoneSouthAsia.vue';
import ZoneWesternAsia from '~/components/menu/zones/ZoneWesternAsia.vue';

export default {
    components: { 
        Autocomplete, 
        ZoneAfrica,
        ZoneCommonwealth,
        ZoneEurope,
        ZoneFarEast,
        ZoneNorthAmerica,
        ZoneOceania,
        ZoneSouthAmerica,
        ZoneSouthAsia,
        ZoneWesternAsia
    },

    data() {
        return {
            search_active: false,
            input_search_text: "",
            menu_active: false,
            dropdown_mobile: 0,
            lightmode: false,
            // search_modal: false
        }
    },

    // mounted() { console.log($nuxt.$route); },

    watch: {
        $route () {
            this.menu_active = false;
            this.dropdown_mobile = false;
            this.search_active = false;
            // console.log('route changed', this.$route)
        }
    },
    computed: {
        todos () {
            return this.$store.state.toggleLightmode
        }
    },
    methods: {
        // LIGHTMODE //////////////////////////////////////////////////
        /////////////////////////////////////////////////////////////
        ...mapMutations({
            toggleLightmode: 'toggleLightmode'
        }),
        toggle_lightmode () {
            this.$store.dispatch('toggleLightmode')
            // this.$store.commit('toggleLightmode')

            this.lightmode = !this.lightmode;
            // document.body.classList.toggle("light-mode");
        },


        // MOBILE MENU ////////////////////////////////////////////////
        /////////////////////////////////////////////////////////////
        menu_mobile_active () {
            this.menu_active = !this.menu_active;
            // this.dropdown_mobile = 0;
        },
        dropdown_mobile_active (el) {
            el.currentTarget.classList.contains("active") 
                ? el.currentTarget.classList.remove("active")
                : el.currentTarget.classList.add("active")
            // console.log(el.currentTarget.classList)
        },

        // SEARCH /////////////////////////////////////////////////////
        /////////////////////////////////////////////////////////////
        toggle_search () {
            if ($nuxt.$route.name != "search") {
                this.search_active = !this.search_active;
                console.log(this.search_active);
            }
        },
        go_to_search () {
            this.$router.push('/search?key=' + this.input_search_text)
        }
        // toggleSearch () {
        //     this.search_modal = !this.search_modal;
        // },
        // searchEndPoint (input) {
        //     return process.env.BASE_API_URL + '/api/search?keys=' + input
        // },
        // destination (object) {
        //     window.location.href = object.selectedObject.path;
        // },
    }
}
</script>










<style lang="scss">
.nav-container{
    position: relative;
    z-index: 6;
    nav ul {
        list-style: none;
        li {
            list-style: none;
            display: flex;
            // margin: auto 1vw;
            text-transform: uppercase;
            font-size: 12px;
            &:hover { cursor: pointer; }
        }
    }
    header {
        position: relative;
        #menu-descktop {
            z-index: 5;
            height: 100px;
            align-items: center;
            padding: 0 4vh;
            // z-index: 4;
            nav.main-nav {
                ul {
                    li {
                        margin: 0;
                        a {
                            padding: 40px 12px;
                            &:hover {
                                cursor: pointer;
                                color: var(--bleu);
                            }
                            /* home route and active route will show in bold as it matches / and /about */
                            &.nuxt-link-active { color: var(--bleu); }
                            /* exact link will show the primary color for only the exact matching link */
                            &.nuxt-link-exact-active { color: var(--bleu); }
                        }
                    }
                }
            }
            nav.add-nav {
                ul li a { padding: 40px 0; }
            }
            li.dropdown-link {
                // a {
                    ul {
                        position: absolute;
                        align-items: flex-end;
                        justify-content: center;
                        overflow: hidden;
                        width: 100%; height: 100vh; max-height: 0px;
                        transition: max-height .2s ease-in-out;
                        top: 100%; left: 0;
                        background-color: white;
                        li { 
                            padding: 17px;
                            height: 9rem;
                            justify-content: flex-end;
                            color: var(--bleu);
                            background-color: white;
                            transition: all .3s ease;
                            &:hover {
                                color: white;
                                background-color: var(--bleu);
                                .st0 {
                                    fill: var(--bleu);
                                }
                            }
                            svg {
                                width: 96px;
                                margin-top: 1rem;
                            }
                        }
                    }
                    // &:hover { ul { max-height: 52px; } }
                    &:hover { ul { max-height: 11rem; } }
                // }
                &.media-library {
                    li { padding: 39px; height: unset; }
                    a:hover ul { max-height: 6rem; }
                }
            }
            li.search-input {
                .search-content {
                    position: absolute;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    width: 100%; height: 100vh; max-height: 0px;
                    transition: max-height .2s ease-in-out;
                    top: 100%; left: 0;
                    background-color: white;
                    input {
                        color: var(--bleu);
                        // background: var(--bleu);
                        border: 3px solid var(--bleu);
                        padding: 1rem 2rem;
                        width: 100%;
                        max-width: 18rem;
                        font-weight: bold;
                        font-size: 18px;
                        // &::placeholder { color: var(--bleu);  font-size: 18px;}
                    }
                    button { 
                        width: 8rem;
                        height: 50px;
                        margin: 0 1rem;
                        border-radius: 7px;
                    }
                }
                &.search-active {
                    .search-content {
                        max-height: 6rem;
                    }
                }
            }
        }
        #menu-mobile {
            .menu-mobile-top { 
                padding: 1rem; 
                .logo { display: flex; align-items: center; }
            }
            ul {
                li {
                    font-size: 14px;
                    font-weight: bold;
                    a { padding: 12px; }
                }
            }
            nav.main-nav {
                height: 100%;
                max-height: 0;
                overflow: hidden;
                transition: all .4s ease-in-out;
                background-color: white;
                ul {
                    li {
                        border-bottom: 1px solid #E5E5E5;
                        a { 
                            color: var(--bleu); 
                            width: 100%;
                        }
                        &.dropdown-link {
                            position: relative;
                            overflow: hidden;
                            a {
                                padding: 0;
                                svg {
                                    position: absolute;
                                    top: 7px; right: 1rem;
                                    transform: rotate(90deg);
                                    transition: transform .3s ease;
                                }
                                p { margin: 0; padding: 12px; }
                                ul {
                                    overflow: hidden;
                                    width: 100%; height: 100%; max-height: 0px;
                                    transition: all .2s ease-in-out;
                                    top: 100%; left: 0;
                                    background-color: white;
                                    padding-left: 2rem;
                                    li { 
                                        margin: 0;
                                        padding: 8px;
                                        color: var(--bleu);
                                        background-color: white;
                                        border-bottom: none;
                                    }
                                }
                            }
                            &.active { 
                                background-color: var(--bleu);
                                p { color: white; }
                                ul { max-height: 100vh; } 
                                li { color: #6F6F6F;  }
                                svg {
                                    transform: rotate(-90deg);
                                    path { fill: white; stroke: white; } 
                                    rect { stroke: white; }
                                }
                            }
                        }

                        &.social a { width: unset; }
                    }
                }
                &.is-active {
                    max-height: 60rem;
                }
            }
            li.search-input {
                .search-content {
                    position: absolute;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    width: 100%; height: 100vh; max-height: 0px;
                    transition: max-height .2s ease-in-out;
                    top: 100%; left: 0;
                    background-color: white;
                    input {
                        color: var(--bleu);
                        // background: var(--bleu);
                        border: 3px solid var(--bleu);
                        padding: 1rem 2rem;
                        width: 100%;
                        max-width: 18rem;
                        font-weight: bold;
                        font-size: 18px;
                        // &::placeholder { color: var(--bleu);  font-size: 18px;}
                    }
                    button { 
                        width: 8rem;
                        height: 50px;
                        margin: 0 0 0 1rem;
                        border-radius: 7px;
                    }
                }
                &.search-active {
                    .search-content {
                        max-height: 10rem;
                    }
                }
            }
        }
    }




    // SWITCHES //////////////////////////////////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    .switchcontainer {
        // position: fixed;
        // bottom: 40px;
        // right: 4vh;
        // z-index: 4;
        line-height: 1;

        /* The switch - the box around the slider */
        .switch {
            position: relative;
            padding: 4px 18px;
            /* Hide default HTML checkbox */
            // input {
                // opacity: 0;
                // width: 0; height: 0;
            // }
            input.lightmode-active + .slider:before {
                background: var(--dark)
                    url("data:image/svg+xml,%3Csvg id='Groupe_2' data-name='Groupe 2' xmlns='http://www.w3.org/2000/svg' width='252.072' height='252.072' viewBox='0 0 252.072 252.072'%3E%3Cpath id='Tracé_828' data-name='Tracé 828' d='M126.036,41.631a5.6,5.6,0,0,1-5.6-5.6V5.6a5.6,5.6,0,1,1,11.2,0V36.029A5.6,5.6,0,0,1,126.036,41.631Z' fill='%23fff'/%3E%3Cpath id='Tracé_829' data-name='Tracé 829' d='M126.036,252.072a5.6,5.6,0,0,1-5.6-5.6V216.045a5.6,5.6,0,1,1,11.2,0V246.47A5.6,5.6,0,0,1,126.036,252.072Z' fill='%23fff'/%3E%3Cpath id='Tracé_830' data-name='Tracé 830' d='M36.029,131.638H5.6a5.6,5.6,0,1,1,0-11.2H36.029a5.6,5.6,0,1,1,0,11.2Z' fill='%23fff'/%3E%3Cpath id='Tracé_831' data-name='Tracé 831' d='M246.47,131.638H216.045a5.6,5.6,0,1,1,0-11.2H246.47a5.6,5.6,0,1,1,0,11.2Z' fill='%23fff'/%3E%3Cpath id='Tracé_832' data-name='Tracé 832' d='M189.681,67.992a5.6,5.6,0,0,1-3.96-9.562l21.516-21.516a5.6,5.6,0,1,1,7.921,7.921L193.642,66.351A5.584,5.584,0,0,1,189.681,67.992Z' fill='%23fff'/%3E%3Cpath id='Tracé_833' data-name='Tracé 833' d='M40.875,216.8a5.6,5.6,0,0,1-3.96-9.562L58.43,185.718a5.6,5.6,0,1,1,7.921,7.921L44.835,215.155A5.575,5.575,0,0,1,40.875,216.8Z' fill='%23fff'/%3E%3Cpath id='Tracé_834' data-name='Tracé 834' d='M62.391,67.992a5.575,5.575,0,0,1-3.96-1.641L36.915,44.835a5.6,5.6,0,0,1,7.921-7.921L66.351,58.43a5.6,5.6,0,0,1-3.96,9.562Z' fill='%23fff'/%3E%3Cpath id='Tracé_835' data-name='Tracé 835' d='M211.194,216.8a5.579,5.579,0,0,1-3.96-1.641l-21.516-21.516a5.6,5.6,0,0,1,7.921-7.921l21.516,21.516a5.6,5.6,0,0,1-3.96,9.562Z' fill='%23fff'/%3E%3Cpath id='Tracé_836' data-name='Tracé 836' d='M91.595,48.485a5.6,5.6,0,0,1-5.179-3.459L74.773,16.914a5.6,5.6,0,0,1,10.349-4.288L96.768,40.738a5.605,5.605,0,0,1-5.173,7.747Z' fill='%23fff'/%3E%3Cpath id='Tracé_837' data-name='Tracé 837' d='M172.126,242.908a5.612,5.612,0,0,1-5.179-3.459L155.3,211.337a5.6,5.6,0,1,1,10.349-4.288L177.3,235.158a5.611,5.611,0,0,1-5.17,7.75Z' fill='%23fff'/%3E%3Cpath id='Tracé_838' data-name='Tracé 838' d='M14.771,177.728a5.6,5.6,0,0,1-2.145-10.777l28.112-11.643a5.6,5.6,0,1,1,4.285,10.349L16.911,177.3A5.611,5.611,0,0,1,14.771,177.728Z' fill='%23fff'/%3E%3Cpath id='Tracé_839' data-name='Tracé 839' d='M209.195,97.2a5.6,5.6,0,0,1-2.148-10.777l28.109-11.646a5.6,5.6,0,0,1,4.288,10.349L211.337,96.768A5.624,5.624,0,0,1,209.195,97.2Z' fill='%23fff'/%3E%3Cpath id='Tracé_840' data-name='Tracé 840' d='M160.477,48.485a5.605,5.605,0,0,1-5.173-7.747l11.643-28.112A5.6,5.6,0,1,1,177.3,16.911L165.653,45.023A5.6,5.6,0,0,1,160.477,48.485Z' fill='%23fff'/%3E%3Cpath id='Tracé_841' data-name='Tracé 841' d='M79.943,242.908a5.605,5.605,0,0,1-5.173-7.747l11.646-28.109a5.6,5.6,0,0,1,10.349,4.288L85.119,239.449A5.6,5.6,0,0,1,79.943,242.908Z' fill='%23fff'/%3E%3Cpath id='Tracé_842' data-name='Tracé 842' d='M42.877,97.2a5.582,5.582,0,0,1-2.143-.429L12.623,85.122a5.6,5.6,0,0,1,4.288-10.349L45.023,86.419A5.6,5.6,0,0,1,42.877,97.2Z' fill='%23fff'/%3E%3Cpath id='Tracé_843' data-name='Tracé 843' d='M237.3,177.728a5.635,5.635,0,0,1-2.143-.429l-28.109-11.643a5.6,5.6,0,0,1,4.288-10.349l28.109,11.643a5.6,5.6,0,0,1-2.145,10.777Z' fill='%23fff'/%3E%3Ccircle id='Ellipse_1' data-name='Ellipse 1' cx='67.5' cy='67.5' r='67.5' transform='translate(59 59)' fill='%23fff'/%3E%3C/svg%3E%0A")
                    no-repeat center / 14px;
                transform: translateX(16px);
            }
            /* The slider */
            span.slider {
                position: absolute;
                cursor: pointer;
                top: -3px; left: 0; right: 0; bottom: 0;
                width: 40px; height: 22px;
                border: 2px solid #ccc;
                transition: 0.4s;
                &.round { border-radius: 34px; }
                &.round:before { border-radius: 50%; }
                &:before {
                    position: absolute;
                    content: "";
                    height: 16px;
                    width: 16px;
                    left: 3px; bottom: 3px;
                    background: white
                        url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' width='256' height='256' viewBox='0 0 256 256' xml:space='preserve'%3E%3Cdesc%3ECreated with Fabric.js 1.7.22%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg transform='translate(128 128) scale(0.72 0.72)' style=''%3E%3Cg style='stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;' transform='translate(-175.05 -175.05000000000004) scale(3.89 3.89)' %3E%3Cpath d='M 87.823 60.7 c -0.463 -0.423 -1.142 -0.506 -1.695 -0.214 c -15.834 8.398 -35.266 2.812 -44.232 -12.718 c -8.966 -15.53 -4.09 -35.149 11.101 -44.665 c 0.531 -0.332 0.796 -0.963 0.661 -1.574 c -0.134 -0.612 -0.638 -1.074 -1.259 -1.153 c -9.843 -1.265 -19.59 0.692 -28.193 5.66 C 13.8 12.041 6.356 21.743 3.246 33.35 S 1.732 57.08 7.741 67.487 c 6.008 10.407 15.709 17.851 27.316 20.961 C 38.933 89.486 42.866 90 46.774 90 c 7.795 0 15.489 -2.044 22.42 -6.046 c 8.601 -4.966 15.171 -12.43 18.997 -21.586 C 88.433 61.79 88.285 61.123 87.823 60.7 z' style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;' transform=' matrix(1 0 0 1 0 0) ' stroke-linecap='round' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E")
                        no-repeat center / 10px;
                    transition: 0.4s;
                }
            }
        }
    }
    








    // BURGER MENU ///////////////////////////////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    .hamburger {
        // padding: 15px 15px;
        display: inline-block;
        cursor: pointer;
        transition-property: opacity, filter;
        transition-duration: 0.15s;
        transition-timing-function: linear;
        font: inherit;
        color: inherit;
        text-transform: none;
        background-color: transparent;
        border: 0;
        margin: 0;
        overflow: visible; }
    // .hamburger:hover {
    //     opacity: 0.7; }
    // .hamburger.is-active:hover {
    //     opacity: 0.7; }
    .hamburger.is-active .hamburger-inner,
    .hamburger.is-active .hamburger-inner::before,
    .hamburger.is-active .hamburger-inner::after {
        background-color: var(--bleu); }

    .hamburger-box {
        width: 40px;
        height: 24px;
        display: inline-block;
        position: relative; }

    .hamburger-inner {
        display: block;
        top: 50%;
        margin-top: -2px; }
    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
        width: 40px;
        height: 4px;
        background-color: var(--bleu);
        border-radius: 4px;
        position: absolute;
        transition-property: transform;
        transition-duration: 0.15s;
        transition-timing-function: ease; }
    .hamburger-inner::before, .hamburger-inner::after {
        content: "";
        display: block; }
    .hamburger-inner::before {
        top: -10px; }
    .hamburger-inner::after {
        bottom: -10px; }


    .hamburger--squeeze .hamburger-inner {
        transition-duration: 0.075s;
        transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
    .hamburger--squeeze .hamburger-inner::before {
            transition: top 0.075s 0.12s ease, opacity 0.075s ease; }
    .hamburger--squeeze .hamburger-inner::after {
            transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

    .hamburger--squeeze.is-active .hamburger-inner {
        transform: rotate(45deg);
        transition-delay: 0.12s;
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
    .hamburger--squeeze.is-active .hamburger-inner::before {
        top: 0;
        opacity: 0;
        transition: top 0.075s ease, opacity 0.075s 0.12s ease; }
    .hamburger--squeeze.is-active .hamburger-inner::after {
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }
}
</style>
